paper/cat_monitoring_system/node-red.json
[
    {
        "id": "4d3f96896f6ebd8f",
        "type": "tab",
        "label": "😺 貓咪健康監測系統",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4443878cd80205ef",
        "type": "ui_template",
        "z": "4d3f96896f6ebd8f",
        "group": "group_stream_cat",
        "name": "影像串流",
        "order": 6,
        "width": "12",
        "height": "8",
        "format": "<style>\n    .stream-floating-panel {\n        position: relative;\n        width: 100%;\n        min-width: 300px;\n        min-height: 220px;\n        background: #1a1a2e;\n        border-radius: 12px;\n        overflow: hidden;\n        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.35);\n        resize: both;\n    }\n\n    .stream-floating-panel.floating {\n        position: fixed;\n        top: 80px;\n        left: 80px;\n        width: 640px;\n        height: 420px;\n        z-index: 9999;\n        resize: both;\n    }\n\n    .stream-title-bar {\n        position: absolute;\n        top: 0;\n        left: 0;\n        right: 0;\n        height: 42px;\n        background: rgba(0, 0, 0, 0.72);\n        color: white;\n        z-index: 200;\n        display: flex;\n        align-items: center;\n        justify-content: space-between;\n        padding: 0 12px;\n        box-sizing: border-box;\n        font-family: Arial, sans-serif;\n        cursor: move;\n        user-select: none;\n    }\n\n    .stream-title {\n        font-size: 14px;\n        font-weight: bold;\n        color: #00ff88;\n    }\n\n    .stream-buttons button {\n        background: rgba(255,255,255,0.15);\n        color: white;\n        border: 1px solid rgba(255,255,255,0.25);\n        border-radius: 6px;\n        padding: 4px 8px;\n        margin-left: 5px;\n        cursor: pointer;\n        font-size: 13px;\n    }\n\n    .stream-buttons button:hover {\n        background: rgba(255,255,255,0.3);\n    }\n\n    .stream-image {\n        width: 100%;\n        height: 100%;\n        min-height: 260px;\n        object-fit: contain;\n        display: block;\n        background: #000;\n        padding-top: 42px;\n        box-sizing: border-box;\n    }\n\n    .stream-offline {\n        text-align: center;\n        padding: 100px 20px;\n        color: #95a5a6;\n        background: #111;\n        min-height: 260px;\n    }\n\n    .stream-offline-icon {\n        font-size: 5em;\n        margin-bottom: 20px;\n    }\n\n    .stream-floating-panel:fullscreen {\n        width: 100vw;\n        height: 100vh;\n        border-radius: 0;\n        resize: none;\n    }\n\n    .stream-floating-panel:fullscreen .stream-image {\n        width: 100vw;\n        height: 100vh;\n        object-fit: contain;\n    }\n</style>\n\n<div class=\"stream-floating-panel\" id=\"streamPanel\">\n\n    <div class=\"stream-title-bar\" id=\"dragBar\">\n        <div class=\"stream-title\" id=\"streamStatus\">🔄 連線中...</div>\n\n        <div class=\"stream-buttons\">\n            <button onclick=\"toggleFloating()\">浮動</button>\n            <button onclick=\"toggleFullscreen()\">全螢幕</button>\n            <button onclick=\"reloadStream()\">重載</button>\n        </div>\n    </div>\n\n   \n\n    <img class=\"stream-image\"\n         id=\"streamImg\"\n         ng-src=\"{{msg.payload.ip ? ('http://' + msg.payload.ip + ':5000/stream') : (msg.stream_url || '')}}\"\n         ondblclick=\"toggleFullscreen()\"\n         onerror=\"streamOffline()\"\n         onload=\"streamOnline()\">\n\n    <div class=\"stream-offline\" id=\"offlineMsg\" style=\"display:none;\">\n        <div class=\"stream-offline-icon\">📹</div>\n        <p>視訊串流目前離線</p>\n        <p style=\"font-size:0.9em; color:#7f8c8d;\">請確認 Python 串流程式是否正在運行</p>\n    </div>\n\n</div>\n\n<script>\n(function(scope) {\n\n    let panel = document.getElementById(\"streamPanel\");\n    let dragBar = document.getElementById(\"dragBar\");\n\n    let isDragging = false;\n    let offsetX = 0;\n    let offsetY = 0;\n\n    window.streamOnline = function() {\n        document.getElementById(\"streamImg\").style.display = \"block\";\n        document.getElementById(\"offlineMsg\").style.display = \"none\";\n        document.getElementById(\"streamStatus\").innerHTML = \"✅ 串流正常\";\n        document.getElementById(\"streamStatus\").style.color = \"#00ff88\";\n    };\n\n    window.streamOffline = function() {\n        document.getElementById(\"streamImg\").style.display = \"none\";\n        document.getElementById(\"offlineMsg\").style.display = \"block\";\n        document.getElementById(\"streamStatus\").innerHTML = \"❌ 串流離線\";\n        document.getElementById(\"streamStatus\").style.color = \"#ff5555\";\n    };\n\n    window.toggleFullscreen = function() {\n        if (!document.fullscreenElement) {\n            panel.requestFullscreen();\n        } else {\n            document.exitFullscreen();\n        }\n    };\n\n    window.toggleFloating = function() {\n        panel.classList.toggle(\"floating\");\n\n        if (panel.classList.contains(\"floating\")) {\n            panel.style.top = \"80px\";\n            panel.style.left = \"80px\";\n            panel.style.width = \"640px\";\n            panel.style.height = \"420px\";\n        } else {\n            panel.style.top = \"\";\n            panel.style.left = \"\";\n            panel.style.width = \"100%\";\n            panel.style.height = \"\";\n        }\n    };\n\n    window.reloadStream = function() {\n        let img = document.getElementById(\"streamImg\");\n        let oldSrc = img.src;\n\n        if (!oldSrc) return;\n\n        img.src = \"\";\n        setTimeout(function() {\n            img.src = oldSrc.split(\"?\")[0] + \"?t=\" + new Date().getTime();\n        }, 300);\n\n        document.getElementById(\"streamStatus\").innerHTML = \"🔄 重新連線中...\";\n        document.getElementById(\"streamStatus\").style.color = \"#ffaa00\";\n    };\n\n    dragBar.addEventListener(\"mousedown\", function(e) {\n        if (!panel.classList.contains(\"floating\")) return;\n\n        isDragging = true;\n        offsetX = e.clientX - panel.offsetLeft;\n        offsetY = e.clientY - panel.offsetTop;\n\n        e.preventDefault();\n    });\n\n    document.addEventListener(\"mousemove\", function(e) {\n        if (!isDragging) return;\n\n        panel.style.left = (e.clientX - offsetX) + \"px\";\n        panel.style.top = (e.clientY - offsetY) + \"px\";\n    });\n\n    document.addEventListener(\"mouseup\", function() {\n        isDragging = false;\n    });\n\n    scope.$watch(\"msg\", function(msg) {\n        if (!msg) return;\n\n        let ip = msg.payload && msg.payload.ip ? msg.payload.ip : null;\n        let streamUrl = msg.stream_url || null;\n\n        let finalUrl = \"\";\n\n        if (ip) {\n            finalUrl = \"http://\" + ip + \":5000/stream\";\n        } else if (streamUrl) {\n            finalUrl = streamUrl;\n        }\n\n      \n    });\n\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "58a74ae47878fc4e",
        "type": "http in",
        "z": "4d3f96896f6ebd8f",
        "name": "python_online",
        "url": "/python_online",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "32783bcb77811e85"
            ]
        ]
    },
    {
        "id": "32783bcb77811e85",
        "type": "json",
        "z": "4d3f96896f6ebd8f",
        "name": "parse_json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 500,
        "wires": [
            [
                "47b80a65b43e1d00"
            ]
        ]
    },
    {
        "id": "f3a013539192926b",
        "type": "inject",
        "z": "4d3f96896f6ebd8f",
        "name": "發送訊息到discord",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "這是一則來自 Node-RED 的測試通知！",
        "payloadType": "str",
        "x": 370,
        "y": 680,
        "wires": [
            [
                "8227cec6b66606a2"
            ]
        ]
    },
    {
        "id": "0292b2ad1891dfda",
        "type": "http request",
        "z": "4d3f96896f6ebd8f",
        "name": "送到 Discord",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "8227cec6b66606a2",
        "type": "function",
        "z": "4d3f96896f6ebd8f",
        "name": "組成 Discord Webhook 格式",
        "func": "\n\n// Discord Python 上線通知\n// =========================\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.url = \"https://discord.com/api/webhooks/1507070766271959061/bAa1Pf55ixg0bJmqeoJTQVdPt2ScMyITxYr4ukHof8IfBUC6hCaQqysnqkn8paCXQcjO\";\n\n// =========================\n// IP\n// =========================\nlet ip = msg.payload?.ip || \"未知IP\";\n\n// 保存 IP 到持久化全域 context，讓重連/重啟後仍可取用\ntry {\n    global.set(\n        \"python_ip\",\n        ip,\n        \"file\"\n    );\n} catch (e) {\n    global.set(\n        \"python_ip\",\n        ip\n    );\n}\n\n// =========================\n// Discord Payload\n// =========================\nmsg.payload = {\n\n    username:\n        \"Cat Health Monitor\",\n\n    embeds: [\n\n        {\n\n            title:\n                \"🟢 Python AI 已上線\",\n\n            description:\n                `偵測到 Python 推論系統啟動`,\n\n            color:\n                65280,\n\n            fields: [\n\n                {\n                    name: \"Python IP\",\n                    value: String(ip),\n                    inline: false\n                }\n\n            ],\n\n            footer: {\n\n                text:\n                    new Date()\n                        .toLocaleString()\n\n            }\n\n        }\n\n    ]\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 700,
        "wires": [
            [
                "0292b2ad1891dfda"
            ]
        ]
    },
    {
        "id": "c3320efb5382cb37",
        "type": "http response",
        "z": "4d3f96896f6ebd8f",
        "name": "response_200",
        "statusCode": "200",
        "headers": {},
        "x": 980,
        "y": 500,
        "wires": []
    },
    {
        "id": "47b80a65b43e1d00",
        "type": "function",
        "z": "4d3f96896f6ebd8f",
        "name": "build_response",
        "func": "let ip = null;\ntry {\n    ip = (msg.payload && msg.payload.ip) ? msg.payload.ip : (global.get(\"python_ip\", \"file\") || global.get(\"python_ip\") || null);\n} catch (e) {\n    ip = (msg.payload && msg.payload.ip) ? msg.payload.ip : (global.get(\"python_ip\") || null);\n}\nif (ip) {\n    try {\n        global.set(\"python_ip\", ip, \"file\");\n    } catch (e) {\n        global.set(\"python_ip\", ip);\n    }\n}\nmsg.payload = { ip: ip };\nmsg.stream_url = ip ? `http://${ip}:5000/stream` : \"\";\nnode.warn(\"python_online received IP: \" + (ip || 'null'));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 500,
        "wires": [
            [
                "c3320efb5382cb37",
                "8227cec6b66606a2",
                "4443878cd80205ef"
            ]
        ]
    },
    {
        "id": "7337de9665144e80",
        "type": "inject",
        "z": "4d3f96896f6ebd8f",
        "name": "啟動時恢復串流",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 370,
        "y": 580,
        "wires": [
            [
                "751ae0f375e6117d"
            ]
        ]
    },
    {
        "id": "751ae0f375e6117d",
        "type": "function",
        "z": "4d3f96896f6ebd8f",
        "name": "從持久化context恢復串流",
        "func": "let ip = null;\ntry {\n    ip = global.get(\"python_ip\", \"file\") || global.get(\"python_ip\") || null;\n} catch (e) {\n    ip = global.get(\"python_ip\") || null;\n}\nif (!ip) {\n    return null;\n}\nmsg.payload = { ip: ip };\nmsg.stream_url = `http://${ip}:5000/stream`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 600,
        "wires": [
            [
                "4443878cd80205ef"
            ]
        ]
    },
    {
        "id": "d77b1509e206a92d",
        "type": "http in",
        "z": "4d3f96896f6ebd8f",
        "name": "接收Python數據",
        "url": "/yolo_result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 340,
        "y": 220,
        "wires": [
            [
                "a08302dc908bcdf6",
                "1e3b62407ad332b4"
            ]
        ]
    },
    {
        "id": "1e3b62407ad332b4",
        "type": "http response",
        "z": "4d3f96896f6ebd8f",
        "name": "回應200",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 280,
        "wires": []
    },
    {
        "id": "a08302dc908bcdf6",
        "type": "json",
        "z": "4d3f96896f6ebd8f",
        "name": "解析JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "8a8268f524ec97d8"
            ]
        ]
    },
    {
        "id": "8a8268f524ec97d8",
        "type": "function",
        "z": "4d3f96896f6ebd8f",
        "name": "數據分發器",
        "func": "let data = msg.payload;\n\n// =========================\n// 防呆\n// =========================\nif (!data) return null;\n\n// =========================\n// current 防呆\n// =========================\nif (!data.current) {\n    data.current = {};\n}\n\n// =========================\n// today_stats 防呆\n// =========================\nif (!data.today_stats) {\n    data.today_stats = {};\n}\n\n// =========================\n// 統一補值\n// =========================\nlet stats = data.today_stats;\n\nstats.walk = stats.walk || 0;\nstats.walk_time = stats.walk_time || 0;\n\nstats.lick = stats.lick || 0;\nstats.lick_time = stats.lick_time || 0;\n\nstats.scratch = stats.scratch || 0;\nstats.scratch_time = stats.scratch_time || 0;\n\nstats.shake = stats.shake || 0;\nstats.shake_time = stats.shake_time || 0;\n\nstats.stop = stats.stop || 0;\nstats.stop_time = stats.stop_time || 0;\nstats.not_detected_time = stats.not_detected_time || 0;\n\nstats.active_time = stats.active_time || 0;\nstats.rest_time = stats.rest_time || 0;\n\n// =========================\n// behavior_log 修正\n// =========================\nif (Array.isArray(data.behavior_log)) {\n\n    data.behavior_log = data.behavior_log.map(item => {\n\n        return {\n            behavior: item.behavior || \"unknown\",\n            time: item.time || \"--:--\",\n            duration: item.duration || 0,\n            emoji: getEmoji(item.behavior)\n        };\n\n    });\n\n} else {\n\n    data.behavior_log = [];\n\n}\n\n// =========================\n// current emoji\n// =========================\nif (!data.current.emoji) {\n\n    data.current.emoji =\n        getEmoji(data.current.behavior);\n\n}\n\n// =========================\n// timestamp 防呆\n// =========================\nif (!data.current.timestamp) {\n\n    data.current.timestamp =\n        new Date().toLocaleTimeString();\n\n}\n\n// =========================\n// health score 計算\n// =========================\n\nlet active =\n    Number(stats.active_time || 0);\n\nlet rest =\n    Number(stats.rest_time || 0);\n\nlet total = active + rest;\n\nlet abnormal =\n\n    Number(stats.lick_time || 0) +\n    Number(stats.scratch_time || 0) +\n    Number(stats.shake_time || 0);\n\nlet abnormal_ratio =\n    total > 0 ? abnormal / total : 0;\n\nlet rest_ratio =\n    total > 0 ? rest / total : 0;\n\nlet stop_ratio =\n    total > 0\n    ? Number(stats.stop_time || 0) / total\n    : 0;\n\nlet inactivity_penalty =\n    stop_ratio > 0.5 ? 1 : 0;\n\nlet health_score = Math.max(\n    0,\n    Math.round(\n        100\n        - abnormal_ratio * 60\n        - rest_ratio * 15\n        - inactivity_penalty * 20\n    )\n);\n\n// =========================\n// CSV 寫入節流\n// 每 60 秒才寫一次\n// =========================\n\nlet now = Date.now();\n\nlet lastCsvTime =\n    context.get(\"lastCsvTime\") || 0;\n\nlet csvInterval =\n    5 * 1000;\n\nlet shouldWriteCsv =\n    now - lastCsvTime >= csvInterval;\n\nif (shouldWriteCsv) {\n\n    context.set(\n        \"lastCsvTime\",\n        now\n    );\n\n}\n\n// =========================\n// CSV payload\n// =========================\n\nlet csvPayload = {\n\n    timestamp:\n        new Date().toLocaleString('zh-TW'),\n\n    walk:\n        Number(stats.walk || 0),\n\n    walk_time:\n        Number(stats.walk_time || 0),\n\n    lick:\n        Number(stats.lick || 0),\n\n    lick_time:\n        Number(stats.lick_time || 0),\n\n    scratch:\n        Number(stats.scratch || 0),\n\n    scratch_time:\n        Number(stats.scratch_time || 0),\n\n    shake:\n        Number(stats.shake || 0),\n\n    shake_time:\n        Number(stats.shake_time || 0),\n\n    stop:\n        Number(stats.stop || 0),\n\n    stop_time:\n        Number(stats.stop_time || 0),\n\n    not_detected_time:\n        Number(stats.not_detected_time || 0),\n\n    active_time:\n        active,\n\n    rest_time:\n        rest,\n\n    activity_score:\n        Number(data.activity_score || 0),\n\n    health_score:\n        health_score\n};\n\n// =========================\n// 主輸出\n// =========================\n\nmsg.payload = data;\n\nreturn [\n\n    msg,\n\n    msg,\n\n    msg,\n\n    msg,\n\n    {\n        payload:\n            data.activity_score || 0\n    },\n\n    shouldWriteCsv\n        ? {\n            payload: csvPayload\n        }\n        : null\n];\n\n// =========================\n// emoji helper\n// =========================\n\nfunction getEmoji(behavior) {\n\n    switch (behavior) {\n\n        case \"scratch\":\n            return \"🐾\";\n\n        case \"lick\":\n            return \"🧼\";\n\n        case \"walk\":\n            return \"🚶\";\n\n        case \"shake\":\n            return \"🔄\";\n        case \"stop\":\n            return \"⏹\";\n        case \"not\":\n            return \"📷\";\n\n        default:\n            return \"🐱\";\n    }\n}",
        "outputs": 6,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "ba07384c3cffd925"
            ],
            [
                "a2c1bdc80d8a1f0c"
            ],
            [
                "67c1ba93420757ab"
            ],
            [
                "839892a8fd584c83"
            ],
            [
                "dd76d9f355726e39"
            ],
            [
                "b351060dcd4867f7"
            ]
        ]
    },
    {
        "id": "ba07384c3cffd925",
        "type": "ui_template",
        "z": "4d3f96896f6ebd8f",
        "group": "group_status_cat",
        "name": "即時狀態卡片",
        "order": 1,
        "width": "8",
        "height": "5",
        "format": "<style>\n  md-card,\n  md-card-content,\n  .nr-dashboard-template {\n    padding: 0 !important;\n    margin: 0 !important;\n  }\n\n  .sc {\n    position: relative;\n    width: 100%;\n    height: 100%;\n    min-height: 210px;\n    border-radius: 16px;\n    overflow: hidden;\n    font-family: 'Microsoft JhengHei', Arial, sans-serif;\n    background: #111;\n  }\n\n  .sc-bg {\n    position: absolute;\n    inset: 0;\n    background-size: cover;\n    background-position: center;\n    transform: scale(1.04);\n    filter: brightness(0.70) saturate(1.05);\n    transition: transform 0.6s ease, filter 0.6s ease;\n  }\n\n  .sc:hover .sc-bg {\n    transform: scale(1.07);\n    filter: brightness(0.76) saturate(1.1);\n  }\n\n  .sc-overlay {\n    position: absolute;\n    inset: 0;\n    background: linear-gradient(to bottom,\n        rgba(0, 0, 0, 0.18) 0%,\n        rgba(0, 0, 0, 0.06) 40%,\n        rgba(0, 0, 0, 0.62) 100%);\n  }\n\n  .sc-content {\n    position: relative;\n    z-index: 2;\n    width: 100%;\n    height: 100%;\n    color: #fff;\n  }\n\n  .sc-time {\n    position: absolute;\n    top: 12px;\n    right: 12px;\n    font-size: 11px;\n    font-weight: 600;\n    letter-spacing: 0.4px;\n    color: rgba(255, 255, 255, 0.88);\n    background: rgba(0, 0, 0, 0.32);\n    padding: 4px 10px;\n    border-radius: 20px;\n    backdrop-filter: blur(6px);\n    -webkit-backdrop-filter: blur(6px);\n  }\n\n  /* 底部資訊列：貼齊左右下三邊，無 padding 兩側 */\n  .sc-bottom {\n    position: absolute;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    display: flex;\n    align-items: stretch;\n  }\n\n  /* 左側：emoji + 狀態，貼左下角 */\n  .sc-status {\n    flex: 1;\n    display: flex;\n    align-items: center;\n    gap: 8px;\n    background: rgba(0, 0, 0, 0.38);\n    backdrop-filter: blur(12px);\n    -webkit-backdrop-filter: blur(12px);\n    padding: 10px 14px;\n    border-top: 1px solid rgba(255, 255, 255, 0.08);\n    border-right: 1px solid rgba(255, 255, 255, 0.08);\n  }\n\n  .sc-emoji {\n    font-size: 22px;\n    line-height: 1;\n  }\n\n  .sc-status-inner {\n    display: flex;\n    flex-direction: column;\n  }\n\n  .sc-label {\n    font-size: 10px;\n    font-weight: 600;\n    color: rgba(255, 255, 255, 0.55);\n    letter-spacing: 0.5px;\n    margin-bottom: 1px;\n  }\n\n  .sc-text {\n    font-size: 14px;\n    font-weight: 700;\n    color: #fff;\n    line-height: 1.1;\n  }\n\n  /* 右側：活動力，貼右下角 */\n  .sc-activity {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    justify-content: center;\n    background: rgba(0, 0, 0, 0.38);\n    backdrop-filter: blur(12px);\n    -webkit-backdrop-filter: blur(12px);\n    padding: 10px 18px;\n    border-top: 1px solid rgba(255, 255, 255, 0.08);\n    min-width: 72px;\n  }\n\n  .sc-activity-val {\n    font-size: 20px;\n    font-weight: 800;\n    color: #fff;\n    line-height: 1;\n  }\n\n  .sc-activity-lbl {\n    font-size: 10px;\n    font-weight: 600;\n    color: rgba(255, 255, 255, 0.55);\n    letter-spacing: 0.5px;\n    margin-top: 2px;\n  }\n</style>\n\n<div class=\"sc\">\n\n  <div class=\"sc-bg\"\n    ng-style=\"{'background-image': 'url(' + (msg.payload.image_url || 'https://megapx-assets.dcard.tw/images/83358790-1cba-4543-89b7-7378e652b8bd/640.jpeg') + ')'}\">\n  </div>\n\n  <div class=\"sc-overlay\"></div>\n\n  <div class=\"sc-content\">\n\n    <div class=\"sc-time\">\n      ⏰ {{msg.payload.current.timestamp}}\n    </div>\n\n    <div class=\"sc-bottom\">\n\n      <div class=\"sc-status\">\n        <div class=\"sc-emoji\">{{msg.payload.current.emoji}}</div>\n        <div class=\"sc-status-inner\">\n          <span class=\"sc-label\">目前狀態</span>\n          <span class=\"sc-text\">{{msg.payload.current.text}}</span>\n        </div>\n      </div>\n\n      <div class=\"sc-activity\">\n        <span class=\"sc-activity-val\">{{msg.payload.activity_score || 0}}%</span>\n        <span class=\"sc-activity-lbl\">活動力</span>\n      </div>\n\n    </div>\n\n  </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "a2c1bdc80d8a1f0c",
        "type": "ui_template",
        "z": "4d3f96896f6ebd8f",
        "group": "group_timeline_cat",
        "name": "行為時間紀錄",
        "order": 2,
        "width": "6",
        "height": "10",
        "format": "<style>\n  .paw-wrap {\n    font-family: 'Microsoft JhengHei', sans-serif;\n    padding: 12px;\n  }\n\n  /* ── Header ── */\n  .paw-header {\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 14px 16px;\n    background: #fff;\n    border-radius: 14px 14px 0 0;\n    border: 1px solid #EDE8DF;\n    border-bottom: none;\n  }\n\n  .paw-header-left {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n  }\n\n  .paw-avatar {\n    width: 38px;\n    height: 38px;\n    border-radius: 50%;\n    background: #FAEEDA;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 20px;\n    flex-shrink: 0;\n  }\n\n  .paw-title {\n    font-size: 15px;\n    font-weight: 700;\n    color: #2C2C2A;\n    margin: 0;\n    line-height: 1.2;\n  }\n\n  .paw-subtitle {\n    font-size: 11px;\n    color: #888780;\n    margin: 2px 0 0;\n  }\n\n  .paw-badge {\n    font-size: 11px;\n    font-weight: 700;\n    padding: 4px 10px;\n    border-radius: 20px;\n    background: #FAEEDA;\n    color: #633806;\n    letter-spacing: 0.3px;\n  }\n\n  /* ── Scroll body ── */\n  .paw-body {\n    background: #fff;\n    border: 1px solid #EDE8DF;\n    border-top: none;\n    border-radius: 0 0 14px 14px;\n    max-height: 480px;\n    overflow-y: auto;\n    padding: 6px 0 10px;\n  }\n\n  .paw-body::-webkit-scrollbar { width: 4px; }\n  .paw-body::-webkit-scrollbar-track { background: transparent; }\n  .paw-body::-webkit-scrollbar-thumb { background: #FAC775; border-radius: 4px; }\n\n  /* ── Timeline items ── */\n  .tl-item {\n    display: flex;\n    align-items: flex-start;\n    padding: 10px 18px;\n    gap: 12px;\n    transition: background 0.15s;\n  }\n\n  .tl-item:hover { background: #FAFAF8; }\n\n  .tl-spine {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    min-width: 34px;\n  }\n\n  .tl-dot {\n    width: 34px;\n    height: 34px;\n    border-radius: 50%;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 16px;\n    flex-shrink: 0;\n  }\n\n  .tl-line {\n    width: 2px;\n    flex: 1;\n    min-height: 18px;\n    border-radius: 1px;\n    margin-top: 4px;\n    opacity: 0.5;\n  }\n\n  .tl-item:last-child .tl-line { visibility: hidden; }\n\n  .tl-content { flex: 1; padding-bottom: 4px; }\n\n  .tl-name {\n    font-size: 14px;\n    font-weight: 700;\n    color: #2C2C2A;\n    margin: 6px 0 4px;\n  }\n\n  .tl-meta {\n    display: flex;\n    align-items: center;\n    gap: 8px;\n    flex-wrap: wrap;\n  }\n\n  .tl-time {\n    font-size: 12px;\n    color: #888780;\n    display: flex;\n    align-items: center;\n    gap: 3px;\n  }\n\n  .tl-time svg {\n    width: 13px;\n    height: 13px;\n    stroke: #888780;\n    fill: none;\n    stroke-width: 2;\n    stroke-linecap: round;\n    flex-shrink: 0;\n  }\n\n  .tl-dur {\n    font-size: 11px;\n    font-weight: 700;\n    padding: 2px 8px;\n    border-radius: 10px;\n  }\n\n  /* ── 行為色系 ── */\n  .b-scratch .tl-dot  { background: #FAECE7; }\n  .b-scratch .tl-line { background: #F0997B; }\n  .b-scratch .tl-dur  { background: #FAECE7; color: #993C1D; }\n\n  .b-lick .tl-dot  { background: #FAEEDA; }\n  .b-lick .tl-line { background: #FAC775; }\n  .b-lick .tl-dur  { background: #FAEEDA; color: #633806; }\n\n  .b-walk .tl-dot  { background: #EAF3DE; }\n  .b-walk .tl-line { background: #97C459; }\n  .b-walk .tl-dur  { background: #EAF3DE; color: #3B6D11; }\n\n  .b-shake .tl-dot  { background: #E6F1FB; }\n  .b-shake .tl-line { background: #85B7EB; }\n  .b-shake .tl-dur  { background: #E6F1FB; color: #185FA5; }\n\n  .b-stop .tl-dot  { background: #EEEDFE; }\n  .b-stop .tl-line { background: #AFA9EC; }\n  .b-stop .tl-dur  { background: #EEEDFE; color: #3C3489; }\n\n  .b-not .tl-dot  { background: #F1EFE8; }\n  .b-not .tl-line { background: #B4B2A9; }\n  .b-not .tl-dur  { background: #F1EFE8; color: #444441; }\n\n  /* ── Empty state ── */\n  .paw-empty {\n    padding: 56px 20px;\n    text-align: center;\n  }\n\n  .paw-empty-icon { font-size: 42px; opacity: 0.3; }\n  .paw-empty-title { font-size: 14px; color: #5F5E5A; margin: 12px 0 4px; font-weight: 700; }\n  .paw-empty-sub   { font-size: 12px; color: #888780; }\n</style>\n\n<div class=\"paw-wrap\">\n\n  <div class=\"paw-header\">\n    <div class=\"paw-header-left\">\n      <div class=\"paw-avatar\">🐾</div>\n      <div>\n        <p class=\"paw-title\">行為時間軸</p>\n        <p class=\"paw-subtitle\">即時追蹤紀錄</p>\n      </div>\n    </div>\n    <span class=\"paw-badge\">最近 20 筆</span>\n  </div>\n\n  <div class=\"paw-body\">\n\n    <!-- 無資料 -->\n    <div ng-if=\"!msg.payload || !msg.payload.behavior_log || msg.payload.behavior_log.length === 0\"\n         class=\"paw-empty\">\n      <div class=\"paw-empty-icon\">🐱</div>\n      <p class=\"paw-empty-title\">暫無行為記錄</p>\n      <p class=\"paw-empty-sub\">等待貓咪活動...</p>\n    </div>\n\n    <!-- Timeline -->\n    <div ng-if=\"msg.payload && msg.payload.behavior_log && msg.payload.behavior_log.length > 0\">\n      <div ng-repeat=\"item in msg.payload.behavior_log.slice().reverse().slice(0,20) track by $index\"\n           class=\"tl-item\"\n           ng-class=\"'b-' + item.behavior\">\n\n        <div class=\"tl-spine\">\n          <div class=\"tl-dot\">\n            {{\n              item.behavior === 'scratch' ? '🐱' :\n              item.behavior === 'lick'    ? '😸' :\n              item.behavior === 'walk'    ? '🐈' :\n              item.behavior === 'shake'   ? '😼' :\n              item.behavior === 'stop'    ? '😴' :\n              item.behavior === 'not'     ? '🙈' : '🐾'\n            }}\n          </div>\n          <div class=\"tl-line\"></div>\n        </div>\n\n        <div class=\"tl-content\">\n          <div class=\"tl-name\">\n            {{\n              item.behavior === 'scratch' ? '搔抓' :\n              item.behavior === 'lick'    ? '舔舐' :\n              item.behavior === 'walk'    ? '行走' :\n              item.behavior === 'shake'   ? '甩頭' :\n              item.behavior === 'stop'    ? '靜止' :\n              item.behavior === 'not'     ? '不在畫面' : item.behavior\n            }}\n          </div>\n          <div class=\"tl-meta\">\n            <span class=\"tl-time\">\n              <svg viewBox=\"0 0 24 24\" aria-hidden=\"true\">\n                <circle cx=\"12\" cy=\"12\" r=\"10\"/>\n                <polyline points=\"12 6 12 12 16 14\"/>\n              </svg>\n              {{item.time || '--:--'}}\n            </span>\n            <span class=\"tl-dur\" ng-if=\"item.duration > 0\">\n              ⏱ {{item.duration}} 秒\n            </span>\n          </div>\n        </div>\n\n      </div>\n    </div>\n\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "67c1ba93420757ab",
        "type": "ui_template",
        "z": "4d3f96896f6ebd8f",
        "group": "group_stats_cat",
        "name": "詳細統計",
        "order": 3,
        "width": "6",
        "height": "10",
        "format": "<style>\n.stats-container {\n    padding: 15px;\n    font-family: 'Microsoft JhengHei', Arial, sans-serif;\n    background: #fafbfc;\n    border-radius: 10px;\n}\n\n.stats-title {\n    font-size: 1.3em;\n    font-weight: 700;\n    margin-bottom: 18px;\n    color: #2c3e50;\n    border-bottom: 3px solid #ffa726;\n    padding-bottom: 10px;\n}\n\n.stat-card {\n    background: white;\n    border-radius: 12px;\n    padding: 15px;\n    margin-bottom: 12px;\n    box-shadow: 0 2px 8px rgba(0,0,0,0.08);\n    border-left: 6px solid #667eea;\n    transition: all 0.3s ease;\n}\n\n.stat-card:hover {\n    transform: translateY(-2px);\n    box-shadow: 0 4px 12px rgba(0,0,0,0.12);\n}\n\n/* =========================\n行走 - 綠\n========================= */\n\n.stat-card.walk {\nborder-left-color: #43a047;\nbackground: linear-gradient(\n135deg,\n#ffffff 0%,\n#eef9f0 100%\n);\n}\n\n.stat-card.walk .time-display {\ncolor: #2e7d32;\n}\n\n.stat-card.walk .progress-fill {\nbackground: linear-gradient(\n90deg,\n#66bb6a 0%,\n#43a047 100%\n);\n}\n\n/* =========================\n舔拭 - 黃\n========================= */\n\n.stat-card.lick {\nborder-left-color: #fbc02d;\nbackground: linear-gradient(\n135deg,\n#ffffff 0%,\n#fffbea 100%\n);\n}\n\n.stat-card.lick .time-display {\ncolor: #f9a825;\n}\n\n.stat-card.lick .progress-fill {\nbackground: linear-gradient(\n90deg,\n#fff176 0%,\n#fbc02d 100%\n);\n}\n\n/* =========================\n搔抓 - 紅\n========================= */\n\n.stat-card.scratch {\nborder-left-color: #ef5350;\nbackground: linear-gradient(\n135deg,\n#ffffff 0%,\n#fff1f1 100%\n);\n}\n\n.stat-card.scratch .time-display {\ncolor: #d32f2f;\n}\n\n.stat-card.scratch .progress-fill {\nbackground: linear-gradient(\n90deg,\n#ef9a9a 0%,\n#ef5350 100%\n);\n}\n\n/* =========================\n甩頭 - 藍\n========================= */\n\n.stat-card.shake {\nborder-left-color: #42a5f5;\nbackground: linear-gradient(\n135deg,\n#ffffff 0%,\n#eef7ff 100%\n);\n}\n\n.stat-card.shake .time-display {\ncolor: #1e88e5;\n}\n\n.stat-card.shake .progress-fill {\nbackground: linear-gradient(\n90deg,\n#90caf9 0%,\n#42a5f5 100%\n);\n}\n\n/* =========================\n靜止 - 靛\n========================= */\n\n.stat-card.stop {\nborder-left-color: #5c6bc0;\nbackground: linear-gradient(\n135deg,\n#ffffff 0%,\n#f0f2ff 100%\n);\n}\n\n.stat-card.stop .time-display {\ncolor: #3949ab;\n}\n\n.stat-card.stop .progress-fill {\nbackground: linear-gradient(\n90deg,\n#9fa8da 0%,\n#5c6bc0 100%\n);\n}\n\n/* =========================\n活動時間 - 橙\n========================= */\n\n.stat-card.active {\nborder-left-color: #fb8c00;\nbackground: linear-gradient(\n135deg,\n#ffffff 0%,\n#fff5eb 100%\n);\n}\n\n.stat-card.active .time-display {\ncolor: #ef6c00;\n}\n\n.stat-card.active .progress-fill {\nbackground: linear-gradient(\n90deg,\n#ffcc80 0%,\n#fb8c00 100%\n);\n}\n\n/* =========================\n休息時間 - 紫\n========================= */\n\n.stat-card.rest {\nborder-left-color: #ab47bc;\nbackground: linear-gradient(\n135deg,\n#ffffff 0%,\n#faf0ff 100%\n);\n}\n\n.stat-card.rest .time-display {\ncolor: #8e24aa;\n}\n\n.stat-card.rest .progress-fill {\nbackground: linear-gradient(\n90deg,\n#ce93d8 0%,\n#ab47bc 100%\n);\n}\n\n.stat-header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 10px;\n}\n\n.stat-icon {\n    font-size: 2em;\n}\n\n.stat-label {\n    font-size: 1em;\n    font-weight: 600;\n    color: #34495e;\n    margin-left: 10px;\n}\n\n.stat-count {\n    font-size: 1.8em;\n    font-weight: 700;\n    color: #2c3e50;\n}\n\n.time-display {\n    font-size: 1.3em;\n    font-weight: 700;\n}\n\n.progress-bar {\n    width: 100%;\n    height: 8px;\n    background: #ecf0f1;\n    border-radius: 10px;\n    overflow: hidden;\n    margin-top: 8px;\n}\n\n.progress-fill {\n    height: 100%;\n    border-radius: 10px;\n    transition: width 0.5s ease;\n}\n\n.summary-panel {\n    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n    color: white;\n    border-radius: 12px;\n    padding: 20px;\n    margin-bottom: 15px;\n    box-shadow: 0 4px 15px rgba(102, 126, 234, 0.3);\n}\n\n.summary-title {\n    font-size: 1.1em;\n    font-weight: 700;\n    margin-bottom: 15px;\n    opacity: 0.9;\n}\n\n.summary-grid {\n    display: grid;\n    grid-template-columns: 1fr 1fr;\n    gap: 15px;\n}\n\n.summary-item {\n    text-align: center;\n    padding: 10px;\n    background: rgba(255,255,255,0.15);\n    border-radius: 8px;\n}\n\n.summary-value {\n    font-size: 1.8em;\n    font-weight: 700;\n    margin-bottom: 5px;\n}\n\n.summary-label {\n    font-size: 0.85em;\n    opacity: 0.9;\n}\n</style>\n\n<div class=\"stats-container\">\n    <div class=\"stats-title\">📊 今日統計總覽</div>\n    \n    <div class=\"summary-panel\">\n        <div class=\"summary-title\">⏰ 今日時間分配</div>\n        <div class=\"summary-grid\">\n            <div class=\"summary-item\">\n                <div class=\"summary-value\">{{getTotalTime()}}秒</div>\n                <div class=\"summary-label\">總監測時間</div>\n            </div>\n            <div class=\"summary-item\">\n                <div class=\"summary-value\">{{getTotalBehaviors()}}</div>\n                <div class=\"summary-label\">行為轉換次數</div>\n            </div>\n        </div>\n    </div>\n    \n<!-- 行走 -->\n<div class=\"stat-card walk\">\n    <div class=\"stat-header\">\n        <div style=\"display: flex; align-items: center;\">\n            <span class=\"stat-icon\">🚶</span>\n            <span class=\"stat-label\">行走</span>\n        </div>\n        <span class=\"stat-count\">{{msg.payload.today_stats.walk || 0}}次</span>\n    </div>\n    <div class=\"time-display\">\n        ⏱️ {{formatTime(msg.payload.today_stats.walk_time || 0)}}\n    </div>\n    <div class=\"progress-bar\">\n        <div class=\"progress-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.walk_time) + '%'}\"></div>\n    </div>\n</div>\n\n<!-- 舔拭 -->\n<div class=\"stat-card lick\">\n    <div class=\"stat-header\">\n        <div style=\"display: flex; align-items: center;\">\n            <span class=\"stat-icon\">🧼</span>\n            <span class=\"stat-label\">舔拭</span>\n        </div>\n        <span class=\"stat-count\">{{msg.payload.today_stats.lick || 0}}次</span>\n    </div>\n    <div class=\"time-display\">\n        ⏱️ {{formatTime(msg.payload.today_stats.lick_time || 0)}}\n    </div>\n    <div class=\"progress-bar\">\n        <div class=\"progress-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.lick_time) + '%'}\"></div>\n    </div>\n</div>\n\n<!-- 搔抓 -->\n<div class=\"stat-card scratch\">\n    <div class=\"stat-header\">\n        <div style=\"display: flex; align-items: center;\">\n            <span class=\"stat-icon\">🐾</span>\n            <span class=\"stat-label\">搔抓</span>\n        </div>\n        <span class=\"stat-count\">{{msg.payload.today_stats.scratch || 0}}次</span>\n    </div>\n    <div class=\"time-display\">\n        ⏱️ {{formatTime(msg.payload.today_stats.scratch_time || 0)}}\n    </div>\n    <div class=\"progress-bar\">\n        <div class=\"progress-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.scratch_time) + '%'}\"></div>\n    </div>\n</div>\n\n<!-- 甩頭 -->\n<div class=\"stat-card shake\">\n    <div class=\"stat-header\">\n        <div style=\"display: flex; align-items: center;\">\n            <span class=\"stat-icon\">🔄</span>\n            <span class=\"stat-label\">甩頭</span>\n        </div>\n        <span class=\"stat-count\">{{msg.payload.today_stats.shake || 0}}次</span>\n    </div>\n    <div class=\"time-display\">\n        ⏱️ {{formatTime(msg.payload.today_stats.shake_time || 0)}}\n    </div>\n    <div class=\"progress-bar\">\n        <div class=\"progress-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.shake_time) + '%'}\"></div>\n    </div>\n</div>\n\n<!-- 停止 -->\n<div class=\"stat-card stop\">\n    <div class=\"stat-header\">\n        <div style=\"display: flex; align-items: center;\">\n            <span class=\"stat-icon\">⏹</span>\n            <span class=\"stat-label\">靜止</span>\n        </div>\n        <span class=\"stat-count\">{{msg.payload.today_stats.stop || 0}}次</span>\n    </div>\n    <div class=\"time-display\">\n        ⏱️ {{formatTime(msg.payload.today_stats.stop_time || 0)}}\n    </div>\n    <div class=\"progress-bar\">\n        <div class=\"progress-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.stop_time) + '%'}\"></div>\n    </div>\n</div>\n<!-- 活動時間 -->\n<div class=\"stat-card active\">\n    <div class=\"stat-header\">\n        <div style=\"display: flex; align-items: center;\">\n            <span class=\"stat-icon\">⚡</span>\n            <span class=\"stat-label\">活動時間</span>\n        </div>\n    </div>\n    <div class=\"time-display\">\n        ⏱️ {{formatTime(msg.payload.today_stats.active_time || 0)}}\n    </div>\n</div>\n\n<!-- 休息時間 -->\n<div class=\"stat-card rest\">\n    <div class=\"stat-header\">\n        <div style=\"display: flex; align-items: center;\">\n            <span class=\"stat-icon\">😴</span>\n            <span class=\"stat-label\">休息時間</span>\n        </div>\n    </div>\n    <div class=\"time-display\">\n        ⏱️ {{formatTime(msg.payload.today_stats.rest_time || 0)}}\n    </div>\n</div>\n\n<script>\n(function(scope) {\n    scope.formatTime = function(seconds) {\n        if (!seconds || seconds === 0) return '0秒';\n        \n        const hours = Math.floor(seconds / 3600);\n        const minutes = Math.floor((seconds % 3600) / 60);\n        const secs = Math.floor(seconds % 60);\n        \n        if (hours > 0) {\n            return hours + '小時' + minutes + '分' + secs + '秒';\n        } else if (minutes > 0) {\n            return minutes + '分' + secs + '秒';\n        } else {\n            return secs + '秒';\n        }\n    };\n    \n    scope.getTotalTime = function() {\n        if (!scope.msg || !scope.msg.payload || !scope.msg.payload.today_stats) return 0;\n        const stats = scope.msg.payload.today_stats;\n        return Math.round((stats.active_time || 0) + (stats.rest_time || 0));\n    };\n    \n    scope.getTotalBehaviors = function() {\n        if (!scope.msg || !scope.msg.payload || !scope.msg.payload.today_stats) return 0;\n        const stats = scope.msg.payload.today_stats;\n        return (stats.walk || 0) + (stats.lick || 0) + (stats.scratch || 0) + (stats.shake || 0) + (stats.stop || 0);\n    };\n    \n    scope.getPercentage = function(time) {\n        const total = scope.getTotalTime();\n        if (total === 0) return 0;\n        return Math.round((time / total) * 100);\n    };\n    \n    scope.getAverageDuration = function(totalTime, count) {\n        if (!count || count === 0) return 0;\n        return Math.round(totalTime / count);\n    };\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "9f386333f9a19cef",
        "type": "ui_template",
        "z": "4d3f96896f6ebd8f",
        "group": "group_alerts_cat",
        "name": "健康警示",
        "order": 4,
        "width": "12",
        "height": "6",
        "format": "<style>\n    .alert-container {\n        padding: 20px;\n        font-family: 'Microsoft JhengHei';\n        background: #f6f8fb;\n        border-radius: 16px;\n    }\n\n    /* 標題 */\n    .alert-title {\n        font-size: 1.5em;\n        font-weight: 700;\n        color: #34495e;\n        margin-bottom: 15px;\n    }\n\n    /* 健康分數 */\n    .score-box {\n        background: linear-gradient(135deg, #667eea, #764ba2);\n        color: white;\n        border-radius: 14px;\n        padding: 15px;\n        margin-bottom: 15px;\n        text-align: center;\n    }\n\n    .score-value {\n        font-size: 2.5em;\n        font-weight: 900;\n    }\n\n    /* alert 卡片 */\n    .alert-card {\n        border-radius: 12px;\n        padding: 15px;\n        margin-bottom: 10px;\n        background: white;\n        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);\n    }\n\n    .alert-high {\n        border-left: 6px solid #ff6b6b;\n    }\n\n    .alert-medium {\n        border-left: 6px solid #ffa726;\n    }\n\n    .alert-low {\n        border-left: 6px solid #42a5f5;\n    }\n.stats-item {\n    display: flex;\n    justify-content: space-between;\n    padding: 6px 0;\n    font-size: 0.95em;\n    color: #444;\n}\n    /* highlight 特效 */\n    .highlight {\n        animation: glow 1s infinite alternate;\n    }\n\n    @keyframes glow {\n        from {\n            box-shadow: 0 0 10px #ff6b6b;\n        }\n\n        to {\n            box-shadow: 0 0 20px #ff0000;\n        }\n    }\n\n    /* 無警示 */\n    .no-alert {\n        text-align: center;\n        padding: 30px;\n        color: #7f8c8d;\n    }\n    .stats-box {\n    margin-top: 20px;\n    padding: 16px;\n    background: white;\n    border-radius: 14px;\n    box-shadow: 0 4px 12px rgba(0,0,0,0.05);\n}\n\n.stats-title {\n    font-weight: 700;\n    margin-bottom: 12px;\n    color: #34495e;\n}\n\n.stats-row {\n    display: flex;\n    justify-content: space-between;\n    padding: 8px 0;\n    font-size: 0.95em;\n}\n\n.stats-row .left {\n    color: #5a6c7d;\n}\n\n.stats-row .right {\n    font-weight: 700;\n    color: #2c3e50;\n}\n\n.stats-row span {\n    color: #95a5a6;\n    font-size: 0.85em;\n    margin-left: 5px;\n}\n\n.divider {\n    height: 1px;\n    background: #eee;\n    margin: 10px 0;\n}\n.bar-row {\ndisplay: grid;\ngrid-template-columns: 70px 1fr 60px;\nalign-items: center;\nmargin-bottom: 10px;\n}\n.fill.rest {\nbackground: #9e9e9e;\n}\n.label {\nfont-size: 0.9em;\ncolor: #5a6c7d;\n}\n\n.bar {\nheight: 8px;\nbackground: #eee;\nborder-radius: 10px;\noverflow: hidden;\n}\n\n.fill {\nheight: 100%;\nborder-radius: 10px;\ntransition: width 0.4s ease;\n}\n\n.fill.walk { background:#4caf50; }\n.fill.lick { background:#ffa726; }\n.fill.scratch { background:#ff6b6b; }\n.fill.shake { background:#42a5f5; }\n\n.value {\nfont-size: 0.85em;\ntext-align: right;\ncolor: #34495e;\n}\n</style>\n\n<div class=\"alert-container\" ng-init=\"init()\">\n\n    <div class=\"alert-title\">⚠️ 健康監測</div>\n\n    <!-- 健康分數 -->\n    <div class=\"score-box\">\n        <div>Health Score</div>\n        <div class=\"score-value\">{{health_score}}</div>\n    </div>\n\n    <!-- 無警示 -->\n    <div ng-if=\"alerts.length === 0\" class=\"no-alert\">\n        ✅ 狀態正常\n    </div>\n\n    <!-- alerts -->\n    <div class=\"alert-card alert-{{alerts[0].level}}\" ng-if=\"alerts.length > 0\"\n        ng-class=\"{'highlight': alerts[0].highlight}\">\n    \n        <div><b>⚠️ {{alerts[0].title}}</b></div>\n        <div>{{alerts[0].message}}</div>\n        <div style=\"color:#888;\">{{alerts[0].suggestion}}</div>\n    \n    </div>\n</div>\n\n\n<!-- ===== 行為統計（固定顯示） ===== -->\n<div class=\"stats-box\">\n\n    <div class=\"stats-title\">📊 行為分析</div>\n\n    <div class=\"bar-row\">\n        <div class=\"label\">🚶 行走</div>\n        <div class=\"bar\">\n            <div class=\"fill walk\" ng-style=\"{width:getRatio(currentStats.walk_time)+'%'}\"></div>\n        </div>\n        <div class=\"value\">{{msg.payload.today_stats.walk_time || 0}}s</div>\n    </div>\n\n    <div class=\"bar-row\">\n        <div class=\"label\">🧼 舔舐</div>\n        <div class=\"bar\">\n            <div class=\"fill lick\" ng-style=\"{width:getRatio(msg.payload.today_stats.lick_time)+'%'}\"></div>\n        </div>\n        <div class=\"value\">{{msg.payload.today_stats.lick_time || 0}}s</div>\n    </div>\n\n    <div class=\"bar-row\">\n        <div class=\"label\">🐾 搔抓</div>\n        <div class=\"bar\">\n            <div class=\"fill scratch\" ng-style=\"{width:getRatio(msg.payload.today_stats.scratch_time)+'%'}\"></div>\n        </div>\n        <div class=\"value\">{{msg.payload.today_stats.scratch_time || 0}}s</div>\n    </div>\n\n    <div class=\"bar-row\">\n        <div class=\"label\">🔄 甩頭</div>\n        <div class=\"bar\">\n            <div class=\"fill shake\" ng-style=\"{width:getRatio(msg.payload.today_stats.shake_time)+'%'}\"></div>\n        </div>\n        <div class=\"value\">{{msg.payload.today_stats.shake_time || 0}}s</div>\n    </div>\n\n<div class=\"bar-row\">\n    <div class=\"label\">⚡ 活動</div>\n    <div class=\"bar\">\n        <div class=\"fill walk\"\n            ng-style=\"{width: (msg.payload.today_stats.active_time / ((msg.payload.today_stats.active_time + msg.payload.today_stats.rest_time) || 1) * 100) + '%'}\">\n        </div>\n    </div>\n    <div class=\"value\">{{msg.payload.today_stats.active_time || 0}}s</div>\n</div>\n\n<div class=\"bar-row\">\n    <div class=\"label\">😴 休息</div>\n    <div class=\"bar\">\n        <div class=\"fill rest\"\n            ng-style=\"{width: (msg.payload.today_stats.rest_time / ((msg.payload.today_stats.active_time + msg.payload.today_stats.rest_time) || 1) * 100) + '%'}\">\n        </div>\n    </div>\n    <div class=\"value\">{{msg.payload.today_stats.rest_time || 0}}s</div>\n</div>\n\n</div>\n<script>\n(function(scope) {\n\n    scope.lastAlerts = [];\n\n    scope.init = function() {\n\n        scope.alerts = [];\n        scope.health_score = 100;\n        scope.currentStats = null;\n\n    };\n\n    // 🔥 加這段\n    scope.$watch('msg', function(msg) {\n\n        if (!msg || !msg.payload) return;\n\n        scope.health_score =\n            msg.payload.health_score || 100;\n\n        scope.alerts =\n            msg.payload.alerts || [];\n\n        scope.currentStats =\n            msg.payload.today_stats || {};\n\n        scope.$applyAsync();\n\n    });\n\n    scope.getRatio = function(value) {\n\n        if (!scope.currentStats) return 0;\n\n        let stats = scope.currentStats;\n\n        let max = Math.max(\n            stats.walk_time || 0,\n            stats.lick_time || 0,\n            stats.scratch_time || 0,\n            stats.shake_time || 0,\n            1\n        );\n\n        return (value / max) * 100;\n    };\n\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "dd76d9f355726e39",
        "type": "ui_gauge",
        "z": "4d3f96896f6ebd8f",
        "name": "活動力儀表",
        "group": "group_gauge_cat",
        "order": 5,
        "width": "8",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#ff6b6b",
            "#ffa726",
            "#4caf50"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "839892a8fd584c83",
        "type": "function",
        "z": "4d3f96896f6ebd8f",
        "name": "健康引擎分析",
        "func": "\nlet data = msg.payload;\n\nif (!data || !data.today_stats) {\n    return null;\n}\n\nlet stats = data.today_stats;\n\n// =========================\n// 統計\n// =========================\nlet total =\n    stats.active_time +\n    stats.rest_time;\n\nlet abnormal =\n    stats.lick_time +\n    stats.scratch_time +\n    stats.shake_time;\n\nlet abnormal_ratio =\n    total > 0\n    ? abnormal / total\n    : 0;\n\nlet rest_ratio =\n    total > 0\n    ? stats.rest_time / total\n    : 0;\n\nlet stop_ratio =\n    total > 0\n    ? (stats.stop_time || 0) / total\n    : 0;\n\n// =========================\n// inactivity：stop_time 超過 50% 才視為長時間靜止\n// =========================\nlet inactivity_penalty =\n    stop_ratio > 0.5 ? 1 : 0;\n\n// =========================\n// health score\n// =========================\nlet score = 100\n    - abnormal_ratio * 60\n    - rest_ratio * 15\n    - inactivity_penalty * 20;\n\nscore = Math.max(0, Math.round(score));\n\ndata.health_score = score;\n\n// =========================\n// alerts\n// =========================\nlet alerts = [];\n\nlet level = \"low\";\n\nlet messages = [];\n\nlet suggestions = [];\n\nlet highlight = false;\n\n// =========================\n// scratch\n// =========================\nif (stats.scratch_time > 10) {\n\n    messages.push(\n        `🐾 搔抓 ${ stats.scratch_time.toFixed(1) } 秒`\n    );\n\n    suggestions.push(\n        \"可能皮膚問題\"\n    );\n\n    level = \"high\";\n\n    highlight = true;\n}\n\n// =========================\n// lick\n// =========================\nif (stats.lick_time > 10) {\n\n    messages.push(\n        `🧼 舔舐 ${ stats.lick_time.toFixed(1) } 秒`\n    );\n\n    suggestions.push(\n        \"可能壓力或皮膚問題\"\n    );\n\n    if (level !== \"high\") {\n\n        level = \"medium\";\n    }\n}\n\n// =========================\n// shake\n// =========================\nif (stats.shake > 10) {\n\n    messages.push(\n        `🔄 甩頭 ${ stats.shake_time.toFixed(1) } 次`\n    );\n\n    suggestions.push(\n        \"可能耳朵問題\"\n    );\n\n    if (level !== \"high\") {\n\n        level = \"medium\";\n    }\n}\n\n// =========================\n// 長時間靜止（stop_time 超過 50%）\n// =========================\nif (stop_ratio > 0.5) {\n\n    messages.push(\n        `⏹ 靜止比例 ${ (stop_ratio * 100).toFixed(1) }%`\n    );\n\n    suggestions.push(\n        \"貓咪長時間靜止，活動力偏低\"\n    );\n\n    highlight = true;\n}\n\n// =========================\n// health score 過低\n// =========================\nif (score < 50) {\n\n    messages.push(\n        `⚠️ Health Score 過低(${ score })`\n    );\n\n    suggestions.push(\n        \"建議持續觀察\"\n    );\n\n    level = \"high\";\n\n    highlight = true;\n}\n\n// =========================\n// 組 alert\n// =========================\nif (messages.length > 0) {\n\n    alerts.push({\n\n        level: level,\n\n        highlight: highlight,\n\n        title: \"健康異常\",\n\n        message: messages.join(\" ｜ \"),\n\n        suggestion: suggestions.join(\"、\"),\n\n        health_score: score,\n\n        timestamp:\n            new Date().toLocaleString()\n\n    });\n}\n\n// =========================\n// payload\n// =========================\ndata.alerts = alerts;\n\nmsg.payload = data;\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "9f386333f9a19cef",
                "85833339575eb2fb"
            ]
        ]
    },
    {
        "id": "85833339575eb2fb",
        "type": "function",
        "z": "4d3f96896f6ebd8f",
        "name": "發送提醒",
        "func": "\n// =========================\n// Discord 健康警示\n// =========================\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.url = \"https://discord.com/api/webhooks/1507070766271959061/bAa1Pf55ixg0bJmqeoJTQVdPt2ScMyITxYr4ukHof8IfBUC6hCaQqysnqkn8paCXQcjO\";\n\n// =========================\n// alerts\n// =========================\nlet alerts =\n    msg.payload?.alerts || [];\n\n// 沒警示\nif (alerts.length === 0) {\n\n    // 清空上次警示\n    flow.set(\n        \"last_discord_alert\",\n        \"\"\n    );\n\n    return null;\n}\n\n// =========================\n// 第一個 alert\n// =========================\nlet alert = alerts[0];\n\n// =========================\n// alert key\n// 去除數字避免狂刷\n// =========================\nlet clean_message =\n    (alert.message || \"\")\n    .replace(/[0-9.]+/g, \"\");\n\nlet alert_key = [\n\n    alert.level || \"\",\n\n    alert.title || \"\",\n\n    clean_message\n\n].join(\"|\");\n\n// =========================\n// 上次 alert\n// =========================\nlet last_alert =\n    flow.get(\"last_discord_alert\")\n    || \"\";\n\n// 相同警示不發\nif (last_alert === alert_key) {\n\n    return null;\n}\n\n// 更新 alert\nflow.set(\n    \"last_discord_alert\",\n    alert_key\n);\n\n// =========================\n// color\n// =========================\nlet color = 16776960;\n\nswitch (alert.level) {\n\n    case \"high\":\n        color = 16711680;\n        break;\n\n    case \"medium\":\n        color = 16753920;\n        break;\n\n    default:\n        color = 16776960;\n}\n\n// =========================\n// Discord payload\n// =========================\nmsg.payload = {\n\n    username:\n        \"Cat Health Monitor\",\n\n    embeds: [\n\n        {\n\n            title:\n                `🚨 ${ alert.title } `,\n\n            description:\n                alert.message,\n\n            color:\n                color,\n\n            fields: [\n\n                {\n                    name:\n                        \"Health Score\",\n\n                    value:\n                        String(\n                            alert.health_score || 0\n                        ),\n\n                    inline:\n                        true\n                },\n\n                {\n                    name:\n                        \"警示等級\",\n\n                    value:\n                        String(\n                            alert.level || \"unknown\"\n                        ),\n\n                    inline:\n                        true\n                },\n\n                {\n                    name:\n                        \"建議\",\n\n                    value:\n                        String(\n                            alert.suggestion || \"無\"\n                        ),\n\n                    inline:\n                        false\n                }\n\n            ],\n\n            footer: {\n\n                text:\n                    alert.timestamp ||\n                    new Date()\n                        .toLocaleString()\n\n            }\n\n        }\n\n    ]\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 440,
        "wires": [
            [
                "361b886ef1cf87af"
            ]
        ]
    },
    {
        "id": "361b886ef1cf87af",
        "type": "http request",
        "z": "4d3f96896f6ebd8f",
        "name": "送到 Discord",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b351060dcd4867f7",
        "type": "csv",
        "z": "4d3f96896f6ebd8f",
        "name": "建立CSV",
        "sep": ",",
        "hdrin": false,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,walk,walk_time,lick,lick_time,scratch,scratch_time,shake,shake_time,stop,stop_time,active_time,rest_time,not_detected_time,activity_score,health_score",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 760,
        "y": 780,
        "wires": [
            [
                "c4206791525d221e"
            ]
        ]
    },
    {
        "id": "c4206791525d221e",
        "type": "file",
        "z": "4d3f96896f6ebd8f",
        "name": "儲存CSV",
        "filename": "C:\\\\a\\\\noda_data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 980,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "group_stream_cat",
        "type": "ui_group",
        "name": "即時影像串流",
        "tab": "ui_tab_cat",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group_status_cat",
        "type": "ui_group",
        "name": "即時健康狀態",
        "tab": "ui_tab_cat",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_timeline_cat",
        "type": "ui_group",
        "name": "行為時間紀錄",
        "tab": "ui_tab_cat",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_stats_cat",
        "type": "ui_group",
        "name": "詳細統計分析",
        "tab": "ui_tab_cat",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "group_alerts_cat",
        "type": "ui_group",
        "name": "健康警示系統",
        "tab": "ui_tab_cat",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "group_gauge_cat",
        "type": "ui_group",
        "name": "活動力指標",
        "tab": "ui_tab_cat",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ui_tab_cat",
        "type": "ui_tab",
        "name": "😺 貓咪健康監測",
        "icon": "pets",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "346f29b8812de840",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]