paper/flows (8).json
[
    {
        "id": "323587e2af41fff9",
        "type": "tab",
        "label": "流程1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c13d8488b9509b41",
        "type": "http in",
        "z": "323587e2af41fff9",
        "name": "python_online",
        "url": "/python_online",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "507a31c1ca620aa6"
            ]
        ]
    },
    {
        "id": "507a31c1ca620aa6",
        "type": "json",
        "z": "323587e2af41fff9",
        "name": "parse_json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "091d79bb97f1104e"
            ]
        ]
    },
    {
        "id": "091d79bb97f1104e",
        "type": "function",
        "z": "323587e2af41fff9",
        "name": "build_response",
        "func": "let ip = msg.payload && msg.payload.ip ? msg.payload.ip : null;\nmsg.payload = {\ncurrent: {\nbehavior: -1,\ntext: \"Python online\",\nemoji: \"🐱\",\ntimestamp: new Date().toLocaleTimeString(),\nsystem: { ip: ip }\n},\nactivity_score: 0,\ntoday_stats: {\nwalk:0, walk_time:0, scratch:0, scratch_time:0,\nlick:0, lick_time:0, shake:0, shake_time:0,\nactive_time:0, rest_time:0\n},\nbehavior_log: [],\nalerts: []\n};\nnode.warn(\"python_online received IP: \" + (ip || 'null'));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "787f0d736662ab55",
                "3908b61ff4408efb"
            ]
        ]
    },
    {
        "id": "787f0d736662ab55",
        "type": "http response",
        "z": "323587e2af41fff9",
        "name": "response_200",
        "statusCode": "200",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "d01fd56b08e0b6a6",
        "type": "inject",
        "z": "323587e2af41fff9",
        "name": "發送訊息到discord",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "這是一則來自 Node-RED 的測試通知！",
        "payloadType": "str",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "3908b61ff4408efb"
            ]
        ]
    },
    {
        "id": "c80567ab2685af4c",
        "type": "http request",
        "z": "323587e2af41fff9",
        "name": "送到 Discord",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 870,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3908b61ff4408efb",
        "type": "function",
        "z": "323587e2af41fff9",
        "name": "組成 Discord Webhook 格式",
        "func": "msg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\n// 你的 Webhook URL\nmsg.url = \"https://discord.com/api/webhooks/1507070766271959061/bAa1Pf55ixg0bJmqeoJTQVdPt2ScMyITxYr4ukHof8IfBUC6hCaQqysnqkn8paCXQcjO\";\n\nlet ip = msg.payload && msg.payload.current && msg.payload.current.system\n    ? msg.payload.current.system.ip\n    : null;\n\nlet text = ip ? `Python 已上線，IP：${ip}` : \"Python 上線通知，但沒有拿到 IP\";\nlet now = new Date().toLocaleString(\"zh-TW\");\n\nmsg.payload = {\n    \"username\": \"駭客10\",\n    \"avatar_url\": \"https://i.imgur.com/VEkR24D.png\",\n    \"embeds\": [\n        {\n            \"title\": ip ? \"📡 Python 上線通知\" : \"⚠ Python 上線通知\",\n            \"description\": text,\n            \"color\": 16711680,\n            \"fields\": [\n                {\n                    \"name\": \"📡 觸發來源\",\n                    \"value\": \"Node-RED 系統\",\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"⏱️ 時間\",\n                    \"value\": now,\n                    \"inline\": true\n                },\n                {\n                    \"name\": \"🌐 IP\",\n                    \"value\": ip || \"null\",\n                    \"inline\": true\n                }\n            ],\n            \"footer\": {\n                \"text\": \"駭客監控模組 v1.0\"\n            },\n            \"timestamp\": new Date().toISOString()\n        }\n    ]\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 400,
        "wires": [
            [
                "c80567ab2685af4c"
            ]
        ]
    }
]