paper/貓咪主控.json
[
    {
        "id": "c9b3353f6ab69b6b",
        "type": "tab",
        "label": "😺 貓咪健康監測系統",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99d2434b121fa54c",
        "type": "group",
        "z": "c9b3353f6ab69b6b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1f5216d0c12f5f84",
            "7c0f5c930e1009d4",
            "ac1a4a0e09e347a6",
            "d871b7f00abf288c",
            "353d55b49ae6b113",
            "de030caa5b42be05",
            "bf35409ac85c2c24",
            "e6227ed4cd7760ba",
            "2de4646a8e06d912",
            "9386fff8b61ee5db",
            "4bb4c08c683ae20b",
            "cd5175a8899fc279",
            "6d41362ebfe903fe",
            "62acd705c1a16a70",
            "5fd6565b21fa7bb3",
            "55d9f8569c938732",
            "2f5945e8301fa8d6",
            "9588f1ab76f9fbf4",
            "cf7ef482398192f3",
            "95a678ba379e90b2",
            "45a2cccbd4ab1828",
            "70b34fc0187d2326",
            "a0e4a15d9c16c1b6",
            "bd84d44fb1841549",
            "67cc5c5987b1cb6b",
            "81fb4754a1e9a363",
            "15b7af08b9698162",
            "fab09f34a509651e"
        ],
        "x": 294,
        "y": 59,
        "w": 1032,
        "h": 742
    },
    {
        "id": "7c0f5c930e1009d4",
        "type": "http in",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "python_online",
        "url": "/python_online",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 390,
        "y": 460,
        "wires": [
            [
                "ac1a4a0e09e347a6"
            ]
        ]
    },
    {
        "id": "ac1a4a0e09e347a6",
        "type": "json",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "parse_json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "e6227ed4cd7760ba"
            ]
        ]
    },
    {
        "id": "d871b7f00abf288c",
        "type": "inject",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "發送訊息到discord",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0,
        "topic": "",
        "payload": "這是一則來自 Node-RED 的測試通知！",
        "payloadType": "str",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "de030caa5b42be05"
            ]
        ]
    },
    {
        "id": "353d55b49ae6b113",
        "type": "http request",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "送到 Discord",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1030,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "de030caa5b42be05",
        "type": "function",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "組成 Discord Webhook 格式",
        "func": "\n\n// Discord Python 上線通知\n// =========================\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\nmsg.url = \"https://discord.com/api/webhooks/1507070766271959061/bAa1Pf55ixg0bJmqeoJTQVdPt2ScMyITxYr4ukHof8IfBUC6hCaQqysnqkn8paCXQcjO\";\n\n// =========================\n// IP\n// =========================\nlet ip = msg.payload?.ip || \"未知IP\";\n\n// 保存 IP 到持久化全域 context，讓重連/重啟後仍可取用\ntry {\n    global.set(\n        \"python_ip\",\n        ip,\n        \"file\"\n    );\n} catch (e) {\n    global.set(\n        \"python_ip\",\n        ip\n    );\n}\n\n// =========================\n// Discord Payload\n// =========================\nmsg.payload = {\n\n    username:\n        \"Cat Health Monitor\",\n\n    embeds: [\n\n        {\n\n            title:\n                \"🟢 Python AI 已上線\",\n\n            description:\n                `偵測到 Python 推論系統啟動`,\n\n            color:\n                65280,\n\n            fields: [\n\n                {\n                    name: \"Python IP\",\n                    value: String(ip),\n                    inline: false\n                }\n\n            ],\n\n            footer: {\n\n                text:\n                    new Date()\n                        .toLocaleString()\n\n            }\n\n        }\n\n    ]\n};\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 680,
        "wires": [
            [
                "353d55b49ae6b113"
            ]
        ]
    },
    {
        "id": "bf35409ac85c2c24",
        "type": "http response",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "response_200",
        "statusCode": "200",
        "headers": {},
        "x": 1060,
        "y": 460,
        "wires": []
    },
    {
        "id": "e6227ed4cd7760ba",
        "type": "function",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "build_response",
        "func": "let ip = null;\ntry {\n    ip = (msg.payload && msg.payload.ip) ? msg.payload.ip : (global.get(\"python_ip\", \"file\") || global.get(\"python_ip\") || null);\n} catch (e) {\n    ip = (msg.payload && msg.payload.ip) ? msg.payload.ip : (global.get(\"python_ip\") || null);\n}\nif (ip) {\n    try {\n        global.set(\"python_ip\", ip, \"file\");\n    } catch (e) {\n        global.set(\"python_ip\", ip);\n    }\n}\nmsg.payload = { ip: ip };\nmsg.stream_url = ip ? `http://${ip}:5000/stream` : \"\";\nnode.warn(\"python_online received IP: \" + (ip || 'null'));\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 460,
        "wires": [
            [
                "de030caa5b42be05",
                "bf35409ac85c2c24",
                "1f5216d0c12f5f84",
                "fab09f34a509651e"
            ]
        ]
    },
    {
        "id": "2de4646a8e06d912",
        "type": "inject",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "啟動時發送串流",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 2,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 420,
        "y": 560,
        "wires": [
            [
                "9386fff8b61ee5db"
            ]
        ]
    },
    {
        "id": "9386fff8b61ee5db",
        "type": "function",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "從持久化context恢復串流",
        "func": "let ip = null;\ntry {\n    ip = global.get(\"python_ip\", \"file\") || global.get(\"python_ip\") || null;\n} catch (e) {\n    ip = global.get(\"python_ip\") || null;\n}\nif (!ip) {\n    return null;\n}\nmsg.payload = { ip: ip };\nmsg.stream_url = `http://${ip}:5000/stream`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 560,
        "wires": [
            [
                "1f5216d0c12f5f84",
                "fab09f34a509651e"
            ]
        ]
    },
    {
        "id": "4bb4c08c683ae20b",
        "type": "http in",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "接收Python數據",
        "url": "/yolo_result",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 400,
        "y": 180,
        "wires": [
            [
                "6d41362ebfe903fe",
                "cd5175a8899fc279"
            ]
        ]
    },
    {
        "id": "cd5175a8899fc279",
        "type": "http response",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "回應200",
        "statusCode": "200",
        "headers": {},
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "6d41362ebfe903fe",
        "type": "json",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "解析JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "62acd705c1a16a70"
            ]
        ]
    },
    {
        "id": "62acd705c1a16a70",
        "type": "function",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "數據分發器",
        "func": "let data = msg.payload;\nif (!data) return null;\n\nif (!data.current)     data.current     = {};\nif (!data.today_stats) data.today_stats = {};\n\nlet stats = data.today_stats;\nstats.walk             = stats.walk             || 0;\nstats.walk_time        = stats.walk_time        || 0;\nstats.lick             = stats.lick             || 0;\nstats.lick_time        = stats.lick_time        || 0;\nstats.scratch          = stats.scratch          || 0;\nstats.scratch_time     = stats.scratch_time     || 0;\nstats.shake            = stats.shake            || 0;\nstats.shake_time       = stats.shake_time       || 0;\nstats.stop             = stats.stop             || 0;\nstats.stop_time        = stats.stop_time        || 0;\nstats.not_detected_time = stats.not_detected_time || 0;\nstats.active_time      = stats.active_time      || 0;\nstats.low_conf         = stats.low_conf         || 0;\nstats.low_conf_time     = stats.low_conf_time     || 0;\n\nif (Array.isArray(data.behavior_log)) {\n    data.behavior_log = data.behavior_log.map(function(item) {\n        return {\n            behavior: item.behavior || 'unknown',\n            time:     item.time     || '--:--',\n            duration: item.duration || 0,\n            emoji:    getEmoji(item.behavior)\n        };\n    });\n} else {\n    data.behavior_log = [];\n}\n\nif (!data.current.emoji)     data.current.emoji     = getEmoji(data.current.behavior);\nif (!data.current.timestamp) data.current.timestamp = new Date().toLocaleTimeString();\n\n\n\n// 行為開始時間追蹤（供時間軸進行中計時器使用）\nlet _curBeh = (data.current && data.current.behavior) || null;\nlet _prevBeh = flow.get('tl_cur_behavior');\nlet _startMs  = flow.get('tl_start_ms') || Date.now();\nif (_curBeh !== _prevBeh) {\n    _startMs = Date.now();\n    flow.set('tl_cur_behavior', _curBeh);\n    flow.set('tl_start_ms', _startMs);\n}\nif (data.current) data.current.start_epoch_ms = _startMs;\n\n// 今日各行為平均時長（供時間軸風險評估）\ndata.avg_duration = {};\nfor (let _b of ['walk','lick','scratch','shake','stop']) {\n    let _cnt = stats[_b] || 0;\n    let _t   = stats[_b + '_time'] || 0;\n    data.avg_duration[_b] = _cnt >= 2 ? Math.round(_t / _cnt * 10) / 10 : 0;\n}\n\nmsg.payload = data;\n\n// CSV：每 5 分鐘寫一次（與 v2 flow 一致）\nlet now     = Date.now();\nlet lastCsv = flow.get('last_csv_write') || 0;\nlet doCsv   = (now - lastCsv) >= 300000;\nif (doCsv) flow.set('last_csv_write', now);\n\nlet csvMsg = doCsv ? { payload: {\n    timestamp:         (function(){var d=new Date(),p=function(n){return String(n).padStart(2,\"0\")};return d.getFullYear()+\"-\"+p(d.getMonth()+1)+\"-\"+p(d.getDate())+\" \"+p(d.getHours())+\":\"+p(d.getMinutes())+\":\"+p(d.getSeconds());})(),\n    walk:              stats.walk,              walk_time:         stats.walk_time,\n    lick:              stats.lick,              lick_time:         stats.lick_time,\n    scratch:           stats.scratch,           scratch_time:      stats.scratch_time,\n    shake:             stats.shake,             shake_time:        stats.shake_time,\n    stop:              stats.stop,              stop_time:         stats.stop_time,\n    active_time:       stats.active_time,\n    low_conf:          stats.low_conf,\n    low_conf_time:     stats.low_conf_time,\n    not_detected_time: stats.not_detected_time,\n    activity_score:    data.activity_score || 0\n}} : null;\n\nreturn [\n    msg,\n    msg,\n    msg,\n    msg,\n    { payload: data.activity_score || 0 },\n    csvMsg,\n    msg\n];\n\nfunction getEmoji(behavior) {\n    switch (behavior) {\n        case 'scratch': return '🐾';\n        case 'lick':    return '🧼';\n        case 'walk':    return '🚶';\n        case 'shake':   return '🔄';\n        case 'stop':    return '⏹';\n        case 'not':     return '📷';\n        default:        return '🐱';\n    }\n}",
        "outputs": 7,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 180,
        "wires": [
            [
                "5fd6565b21fa7bb3"
            ],
            [
                "55d9f8569c938732"
            ],
            [
                "2f5945e8301fa8d6"
            ],
            [
                "95a678ba379e90b2"
            ],
            [
                "cf7ef482398192f3"
            ],
            [
                "a0e4a15d9c16c1b6"
            ],
            [
                "67cc5c5987b1cb6b"
            ]
        ]
    },
    {
        "id": "95a678ba379e90b2",
        "type": "function",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "健康引擎分析",
        "func": "let data    = msg.payload;\nlet stats   = (data && data.today_stats) ? data.today_stats : {};\n\n// ── 讀取用戶設定（與 v2 P4 共用 global context）─────────────\nlet cfg         = global.get('v2_user_settings','file') || {};\nlet LICK_THR    = cfg.lick_pct    != null ? +cfg.lick_pct    : 20;\nlet SCRATCH_THR = cfg.scratch_pct != null ? +cfg.scratch_pct : 15;\nlet SHAKE_THR   = cfg.shake_pct   != null ? +cfg.shake_pct   : 10;\nlet STOP_THR    = cfg.stop_pct    != null ? +cfg.stop_pct    : 55;\nlet LSC_THR     = cfg.lsc_count   != null ? +cfg.lsc_count   : 10;\n\n// ── 基礎時間變數 ──────────────────────────────────────────────\nlet walk_t    = Number(stats.walk_time    || 0);\nlet lick_t    = Number(stats.lick_time    || 0);\nlet scratch_t = Number(stats.scratch_time || 0);\nlet shake_t   = Number(stats.shake_time   || 0);\nlet stop_t    = Number(stats.stop_time    || 0);\nlet td_active = Number(stats.active_time  || 0);\n\n// ── 1. 行為佔比 distribution ──────────────────────────────────\nlet totalBeh = walk_t + lick_t + scratch_t + shake_t + stop_t;\nlet dist = totalBeh > 0 ? {\n    walk:    parseFloat((walk_t    / totalBeh * 100).toFixed(2)),\n    lick:    parseFloat((lick_t    / totalBeh * 100).toFixed(2)),\n    scratch: parseFloat((scratch_t / totalBeh * 100).toFixed(2)),\n    shake:   parseFloat((shake_t   / totalBeh * 100).toFixed(2)),\n    stop:    parseFloat((stop_t    / totalBeh * 100).toFixed(2))\n} : {walk:0, lick:0, scratch:0, shake:0, stop:0};\ndata.distribution = dist;\n\n// ── 2. 節律分析 rhythm（from hourly_distribution in payload）──\nlet hourly = stats.hourly_distribution || {};\nlet _pds = {\n    '00-06':{walk:0,lick:0,scratch:0,shake:0,stop:0,total:0},\n    '06-12':{walk:0,lick:0,scratch:0,shake:0,stop:0,total:0},\n    '12-18':{walk:0,lick:0,scratch:0,shake:0,stop:0,total:0},\n    '18-24':{walk:0,lick:0,scratch:0,shake:0,stop:0,total:0}\n};\nfor (let h=0; h<24; h++) {\n    let k=String(h).padStart(2,'0'), hd=hourly[k]||{};\n    let pd=h<6?'00-06':h<12?'06-12':h<18?'12-18':'18-24';\n    for (let b of ['walk','lick','scratch','shake','stop']) { _pds[pd][b]+=(hd[b]||0); _pds[pd].total+=(hd[b]||0); }\n}\nlet rhythm = {};\nfor (let [pd,d] of Object.entries(_pds)) {\n    if (d.total===0) { rhythm[pd]={dominant:'none',pct:{},total:0}; continue; }\n    let bs=['walk','lick','scratch','shake','stop'];\n    let dom=bs.reduce((a,b)=>d[a]>=d[b]?a:b,'stop');\n    let pct={}; for (let b of bs) pct[b]=parseFloat((d[b]/d.total*100).toFixed(2));\n    rhythm[pd]={dominant:dom, pct, total:parseFloat(d.total.toFixed(1))};\n}\n\n// ── 3. 同步寫入 v2 global context（讓 v2 定時任務基線引擎繼續正常運作）──\nlet _tdDate = new Date().toLocaleDateString('zh-TW');\nglobal.set('v2_today', {\n    date: _tdDate,\n    walk:{count:stats.walk||0,time:walk_t}, lick:{count:stats.lick||0,time:lick_t},\n    scratch:{count:stats.scratch||0,time:scratch_t}, shake:{count:stats.shake||0,time:shake_t},\n    stop:{count:stats.stop||0,time:stop_t},\n    active_time:stats.active_time||0,\n    low_conf:{count:stats.low_conf||0,time:stats.low_conf_time||0},\n    not_detected_time:stats.not_detected_time||0, monitoring_seconds:stats.monitoring_seconds||0\n}, 'file');\nglobal.set('v2_hourly',            stats.hourly_distribution||{});\nglobal.set('v2_transition_matrix', stats.transition_matrix  ||{});\n\n// ── 4. dScore：行為占比偏離 (0-100) — 不需基線 ───────────────\nlet dScore = 0;\nif (dist.lick    > LICK_THR)    dScore += Math.min(30, (dist.lick    - LICK_THR)    * 1.5);\nif (dist.scratch > SCRATCH_THR) dScore += Math.min(35, (dist.scratch - SCRATCH_THR) * 2.0);\nif (dist.shake   > SHAKE_THR)   dScore += Math.min(35, (dist.shake   - SHAKE_THR)   * 2.5);\nif (dist.stop    > STOP_THR)    dScore += Math.min(20, (dist.stop    - STOP_THR)    * 1.0);\nif (dist.walk    < 10 && td_active > 300) dScore += 15;\ndScore = Math.min(100, Math.round(dScore));\n\n// ── 5. fScore：頻率偏離（讀取 v2_baseline；無基線時 = 0）────────\nlet fScore = 0, hasBaseline = false;\ntry {\n    let bl = global.get('v2_baseline', 'file') || global.get('v2_baseline');\n    if (bl && bl.metrics) {\n        hasBaseline = true;\n        let m = bl.metrics;\n        let pctDev = function(cur, key) {\n            let b = m[key]; if (!b || b.mean === 0) return 0;\n            return (cur - b.mean) / b.mean * 100;\n        };\n        let ld  = pctDev(lick_t,                         'lick_time');\n        let sd  = pctDev(scratch_t,                      'scratch_time');\n        let shd = pctDev(Number(stats.shake_count || 0), 'shake_count');\n        let std = pctDev(stop_t,                         'stop_time');\n        if (ld  > 150) fScore += 30; else if (ld  > 100) fScore += 20; else if (ld  >  50) fScore += 10;\n        if (sd  > 200) fScore += 35; else if (sd  > 150) fScore += 25; else if (sd  >  80) fScore += 15;\n        if (shd > 100) fScore += 35; else if (shd >  50) fScore += 20; else if (shd >  30) fScore += 10;\n        if (std >  80) fScore += 20; else if (std >  50) fScore += 10;\n        fScore = Math.min(100, Math.round(fScore));\n    }\n} catch(e) {}\n\n// ── 6. rScore：節律偏離 (0-100) ───────────────────────────────\nlet rScore = 0;\nlet night = rhythm['00-06'] || {};\nif (night.dominant==='scratch'||night.dominant==='lick') rScore += 30;\nif (night.dominant==='shake')                             rScore += 25;\nif (night.pct && night.pct.scratch > 20)                 rScore += 20;\nlet day06 = rhythm['06-12'] || {}, day12 = rhythm['12-18'] || {};\nif (day06.pct && day12.pct && (day06.pct.walk||0)<15 && (day12.pct.walk||0)<15 && dist.walk<20) rScore += 20;\nrScore = Math.min(100, rScore);\n\n// ── 7. tScore：轉移偏離 (0-100) ───────────────────────────────\nlet mx = stats.transition_matrix || {};\nlet tScore = 0;\nlet lsc  = (mx['lick->scratch']||0) + (mx['scratch->lick']||0);\nlet shch = mx['shake->shake'] || 0;\nlet stst = mx['stop->stop']   || 0;\nif (lsc>LSC_THR*2) tScore+=40; else if(lsc>LSC_THR) tScore+=20; else if(lsc>Math.max(2,Math.round(LSC_THR/2))) tScore+=10;\nif (shch>15) tScore+=30; else if(shch>8) tScore+=15;\nif (stst>50) tScore+=20; else if(stst>30) tScore+=10;\ntScore = Math.min(100, tScore);\n\n// ── 8. 綜合風險分（四維加權：占比30% 頻率35% 節律20% 轉移15%）──\nlet riskScore = Math.round(dScore*0.30 + fScore*0.35 + rScore*0.20 + tScore*0.15);\nriskScore = Math.max(0, Math.min(100, riskScore));\n\nlet level, color, emoji;\nif      (riskScore < 20) { level='Normal';    color='#4caf50'; emoji='✅'; }\nelse if (riskScore < 45) { level='Attention'; color='#ffa726'; emoji='⚠️'; }\nelse if (riskScore < 70) { level='Warning';   color='#ff7043'; emoji='🚨'; }\nelse                      { level='High Risk'; color='#f44336'; emoji='🆘'; }\n\n// ── 警示列表 ──────────────────────────────────────────────────\nlet alerts = [];\nif (dist.lick    > LICK_THR)    alerts.push({type:'lick',       msg:'舔舐佔比 ' + dist.lick.toFixed(1)    + '%，超過閾值 ' + LICK_THR    + '%'});\nif (dist.scratch > SCRATCH_THR) alerts.push({type:'scratch',    msg:'搔抓佔比 ' + dist.scratch.toFixed(1) + '%，超過閾值 ' + SCRATCH_THR + '%'});\nif (dist.shake   > SHAKE_THR)   alerts.push({type:'shake',      msg:'甩頭佔比 ' + dist.shake.toFixed(1)   + '%，超過閾值 ' + SHAKE_THR   + '%'});\nif (dist.stop    > STOP_THR)    alerts.push({type:'inactivity', msg:'靜止佔比 ' + dist.stop.toFixed(1)    + '%，活動力偏低'});\nif (lsc > LSC_THR) {\n    let ls=mx['lick->scratch']||0, sl=mx['scratch->lick']||0, half=Math.max(2,Math.round(LSC_THR/2));\n    let transMsg=(ls>half&&sl>half)?'lick↔scratch 循環 '+lsc+' 次，疑似皮膚不適':sl>ls?'scratch→lick '+sl+' 次（搔後舔舐），疑似皮膚不適':'lick→scratch '+ls+' 次（舔後搔抓），疑似皮膚不適';\n    alerts.push({type:'transition', msg:transMsg});\n}\nif (hasBaseline && fScore >= 20) alerts.push({type:'dev', msg:'行為頻率與個體基線偏離（fScore: ' + fScore + '）'});\n\ndata.risk = {\n    score: riskScore, level, color, emoji,\n    components: { distribution:dScore, frequency:fScore, rhythm:rScore, transition:tScore },\n    alerts,\n    computed_at: (function(){ let d=new Date(),p=function(n){return String(n).padStart(2,'0')}; return d.getFullYear()+'-'+p(d.getMonth()+1)+'-'+p(d.getDate())+' '+p(d.getHours())+':'+p(d.getMinutes())+':'+p(d.getSeconds()); })()\n};\ndata.alerts = alerts;\nglobal.set('v2_risk', data.risk);\nflow.set('v2_today_risk', {level, score: riskScore});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "9588f1ab76f9fbf4",
                "45a2cccbd4ab1828"
            ]
        ]
    },
    {
        "id": "45a2cccbd4ab1828",
        "type": "function",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "發送提醒",
        "func": "let risk   = msg.payload.risk   || {};\nlet alerts = msg.payload.alerts || [];\n\nif (!risk.level || risk.level === 'Normal') {\n    flow.set(\"last_discord_alert\", \"\");\n    return null;\n}\n\nlet dedup_key = risk.level + '|' + alerts.map(function(a){ return a.type||''; }).join(',');\nlet last_key  = flow.get(\"last_discord_alert\") || \"\";\nif (last_key === dedup_key) return null;\nflow.set(\"last_discord_alert\", dedup_key);\n\nlet colorMap = { Attention: 16753920, Warning: 16729344, 'High Risk': 16711680 };\nlet embed_color = colorMap[risk.level] || 16711680;\n\nlet fields = [\n    { name: '🎯 Risk Score', value: String(risk.score) + '/100', inline: true },\n    { name: '📊 風險等級',   value: (risk.emoji||'') + ' ' + risk.level, inline: true }\n];\nif (risk.components) {\n    fields.push({ name: '📊 占比偏離', value: String(risk.components.distribution||0), inline: true });\n    if ((risk.components.frequency||0) > 0) {\n        fields.push({ name: '📉 頻率偏離', value: String(risk.components.frequency||0), inline: true });\n    }\n}\nif (alerts.length > 0) {\n    fields.push({ name: '⚠️ 異常項目', value: alerts.map(function(a){ return a.msg; }).join('\\n'), inline: false });\n}\n\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    username: 'Cat Health Monitor',\n    embeds: [{\n        title:       (risk.emoji||'🚨') + ' 健康預警：' + risk.level,\n        description: '貓咪行為風險分析結果',\n        color:       embed_color,\n        fields:      fields,\n        footer:      { text: new Date().toLocaleString('zh-TW') }\n    }]\n};\nlet _cfg = {};\ntry { _cfg = global.get('v2_user_settings','file') || {}; } catch(e) { _cfg = global.get('v2_user_settings') || {}; }\nlet _url = (_cfg.discord_webhook || '').trim();\nif (!_url) { node.warn('健康預警 Discord：webhook URL 未設定，請在 P4 設定面板填入'); return null; }\nmsg.url = _url;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 400,
        "wires": [
            [
                "70b34fc0187d2326"
            ]
        ]
    },
    {
        "id": "70b34fc0187d2326",
        "type": "http request",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "送到 Discord",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://discord.com/api/webhooks/1507070766271959061/bAa1Pf55ixg0bJmqeoJTQVdPt2ScMyITxYr4ukHof8IfBUC6hCaQqysnqkn8paCXQcjO",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1050,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a0e4a15d9c16c1b6",
        "type": "csv",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "建立CSV",
        "sep": ",",
        "hdrin": false,
        "hdrout": "once",
        "multi": "one",
        "ret": "\\n",
        "temp": "timestamp,walk,walk_time,lick,lick_time,scratch,scratch_time,shake,shake_time,stop,stop_time,active_time,low_conf,low_conf_time,not_detected_time,activity_score",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 980,
        "y": 760,
        "wires": [
            [
                "bd84d44fb1841549"
            ]
        ]
    },
    {
        "id": "bd84d44fb1841549",
        "type": "file",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "儲存CSV",
        "filename": "C:\\\\a\\\\noda_data.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1140,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "cf7ef482398192f3",
        "type": "ui_gauge",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "活動力儀表",
        "group": "group_gauge_cat",
        "order": 5,
        "width": "8",
        "height": "3",
        "gtype": "gage",
        "title": "",
        "label": "",
        "format": "",
        "min": 0,
        "max": 100,
        "colors": [
            "#ff6b6b",
            "#ffa726",
            "#4caf50"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 1050,
        "y": 260,
        "wires": []
    },
    {
        "id": "1f5216d0c12f5f84",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "group_stream_cat",
        "name": "影像串流",
        "order": 6,
        "width": "12",
        "height": "8",
        "format": "<style>\n.sv-wrap{height:100%;display:flex;flex-direction:column;background:#060a0f;border-radius:10px;overflow:hidden;}\n.sv-bar{height:42px;flex-shrink:0;display:flex;align-items:center;gap:8px;padding:0 12px;background:linear-gradient(135deg,rgba(0,14,8,.96),rgba(2,20,12,.96));border-bottom:1px solid rgba(0,255,136,.12);}\n.sv-dot{width:8px;height:8px;border-radius:50%;background:#444;flex-shrink:0;transition:background .4s,box-shadow .4s;}\n.sv-label{flex:1;font-size:11px;font-weight:700;color:rgba(0,255,136,.72);letter-spacing:.6px;}\n.sv-ib{width:36px;height:36px;border-radius:8px;display:flex;align-items:center;justify-content:center;cursor:pointer;background:rgba(0,255,136,.06);border:1px solid rgba(0,255,136,.18);color:#fff;transition:all .18s;flex-shrink:0;-webkit-tap-highlight-color:transparent;touch-action:manipulation;}\n.sv-ib:hover{background:rgba(0,255,136,.22);border-color:rgba(0,255,136,.6);transform:scale(1.1);}\n.sv-ib.sv-dis{opacity:.28;cursor:default;pointer-events:none;}\n.sv-ib.sv-on{background:rgba(0,255,136,.18)!important;color:#00ff88!important;border-color:rgba(0,255,136,.42)!important;}\n.sv-body{flex:1;position:relative;background:#000;min-height:0;overflow:hidden;}\n.sv-offline{position:absolute;inset:0;display:flex;flex-direction:column;align-items:center;justify-content:center;gap:8px;color:rgba(255,255,255,.22);font-size:12px;pointer-events:none;}\n.sv-off-ico{font-size:36px;opacity:.28;}\n.sv-ov-strip{display:grid;grid-template-columns:repeat(4,1fr);gap:4px;padding:5px 8px;flex-shrink:0;background:rgba(0,14,8,.8);border-top:1px solid rgba(0,255,136,.08);}\n.sv-ov-btn{border-radius:6px;padding:5px 0;font-size:10px;cursor:pointer;font-family:inherit;letter-spacing:.3px;transition:background .18s,color .18s,border-color .18s;border-width:1px;border-style:solid;text-align:center;}\n.sv-ov-on{background:rgba(0,255,136,.15);border-color:rgba(0,255,136,.4);color:#00ff88;}\n.sv-ov-off{background:rgba(255,255,255,.04);border-color:rgba(255,255,255,.1);color:rgba(255,255,255,.28);}\n</style>\n<div class=\"sv-wrap\">\n  <div class=\"sv-bar\">\n    <div class=\"sv-dot\" id=\"sv_dot\"></div>\n    <span class=\"sv-label\">📷 LIVE CAM</span>\n    <div class=\"sv-ib sv-dis\" id=\"sv_btn_play\" title=\"開啟串流\">▶</div>\n    <div class=\"sv-ib\" id=\"sv_btn_float\" title=\"浮動視窗\">⧉</div>\n  </div>\n  <div class=\"sv-body\" id=\"sv_body\">\n    <div class=\"sv-offline\" id=\"sv_offline\">\n      <div class=\"sv-off-ico\">📹</div>\n      <div id=\"sv_status\">等待串流連線...</div>\n    </div>\n  </div>\n  <div class=\"sv-ov-strip\" id=\"sv_ov_strip\">\n    <button class=\"sv-ov-btn sv-ov-on\" id=\"sv_ov_master\">全開/關</button>\n    <button class=\"sv-ov-btn sv-ov-on\" id=\"sv_ov_skeleton\">骨架</button>\n    <button class=\"sv-ov-btn sv-ov-on\" id=\"sv_ov_label\">標籤</button>\n    <button class=\"sv-ov-btn sv-ov-on\" id=\"sv_ov_bbox\">偵測框</button>\n  </div>\n</div>\n<script>\n(function(scope){\n  var _url='',_stream=false,_svTimer=null;\n\n  function svOn(){\n    if(!_url||_stream)return;\n    _stream=true;\n    var body=document.getElementById('sv_body');\n    var off=document.getElementById('sv_offline');\n    var dot=document.getElementById('sv_dot');\n    var btn=document.getElementById('sv_btn_play');\n    if(!body)return;\n    if(_svTimer){clearTimeout(_svTimer);_svTimer=null;}\n    var old=body.querySelector('img.sv-img');if(old)body.removeChild(old);\n    var img=document.createElement('img');\n    img.className='sv-img';\n    img.style.cssText='width:100%;height:100%;object-fit:contain;display:block;opacity:0;transition:opacity .3s;pointer-events:none;';\n    img.onload=function(){\n      this.style.opacity=1;\n      if(off)off.style.display='none';\n      if(dot){dot.style.background='#00ff88';dot.style.boxShadow='0 0 6px #00ff88';}\n      if(_svTimer){clearTimeout(_svTimer);_svTimer=null;}\n    };\n    img.onerror=function(){svOff();};\n    if(off)off.style.display='none';\n    body.insertBefore(img,off);\n    img.src=_url;\n    if(btn){btn.textContent='⏹';btn.title='停止串流';btn.classList.add('sv-on');}\n    _svTimer=setTimeout(function(){\n      var ci=body&&body.querySelector('img.sv-img');\n      if(ci&&!ci.naturalWidth)svOff();\n    },10000);\n  }\n\n  function svOff(){\n    _stream=false;\n    if(_svTimer){clearTimeout(_svTimer);_svTimer=null;}\n    var body=document.getElementById('sv_body');\n    var off=document.getElementById('sv_offline');\n    var dot=document.getElementById('sv_dot');\n    var btn=document.getElementById('sv_btn_play');\n    var old=body&&body.querySelector('img.sv-img');if(old)body.removeChild(old);\n    if(off)off.style.display='flex';\n    if(dot){dot.style.background=_url?'#f5a623':'#444';dot.style.boxShadow=_url?'0 0 4px rgba(245,166,35,.5)':'none';}\n    if(btn){btn.textContent='▶';btn.title='開啟串流';btn.classList.remove('sv-on');}\n    var st=document.getElementById('sv_status');\n    if(st)st.textContent=_url?'點擊 ▶ 開啟串流':'等待串流連線...';\n  }\n\n  function urlReady(url){\n    _url=url;\n    var dot=document.getElementById('sv_dot');\n    var btn=document.getElementById('sv_btn_play');\n    var st=document.getElementById('sv_status');\n    if(dot&&!_stream){dot.style.background='#f5a623';dot.style.boxShadow='0 0 4px rgba(245,166,35,.5)';}\n    if(btn)btn.classList.remove('sv-dis');\n    if(st&&!_stream)st.textContent='點擊 ▶ 開啟串流';\n    if(btn&&!btn._bound){\n      btn._bound=true;\n      btn.addEventListener('click',function(e){e.stopPropagation();_stream?svOff():svOn();});\n    }\n  }\n\n  function svOverlay(key){\n    var m=_url&&_url.match(/^(https?:\\/\\/[^\\/]+)/);\n    if(!m)return;\n    fetch(m[1]+'/api/overlay',{method:'POST',headers:{'Content-Type':'application/json'},\n      body:JSON.stringify({key:key,action:'toggle'})})\n    .then(function(r){return r.json();})\n    .then(function(d){\n      if(!d.state)return;\n      ['master','skeleton','label','bbox'].forEach(function(k){\n        var el=document.getElementById('sv_ov_'+k);\n        if(el)el.className='sv-ov-btn '+(d.state[k]?'sv-ov-on':'sv-ov-off');\n      });\n    }).catch(function(){});\n  }\n  ['master','skeleton','label','bbox'].forEach(function(k){\n    var el=document.getElementById('sv_ov_'+k);\n    if(el)el.addEventListener('click',function(){svOverlay(k);});\n  });\n  var floatBtn=document.getElementById('sv_btn_float');\n  if(floatBtn)floatBtn.addEventListener('click',function(e){\n    e.stopPropagation();\n    if(window.gfvToggle)window.gfvToggle();\n  });\n\n  scope.$watch('msg',function(msg){\n    if(!msg)return;\n    var ip=(msg.payload&&msg.payload.ip)?msg.payload.ip:null;\n    var url='';\n    if(ip){url='http://'+ip+':5000/stream';window._catIP=ip;}\n    else if(msg.stream_url){url=msg.stream_url;}\n    if(!url||url===_url)return;\n    urlReady(url);\n    /* 通知浮動面板 URL 就緒（不自動開啟串流） */\n    if(typeof window.gfvSetUrl==='function')window.gfvSetUrl(url);\n    else setTimeout(function(){if(typeof window.gfvSetUrl==='function')window.gfvSetUrl(url);},1000);\n  });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1080,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "5fd6565b21fa7bb3",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "group_status_cat",
        "name": "即時狀態卡片",
        "order": 1,
        "width": "8",
        "height": "5",
        "format": "<style>\n  md-card,\n  md-card-content,\n  .nr-dashboard-template {\n    padding: 0 !important;\n    margin: 0 !important;\n  }\n\n  .sc {\n    position: relative;\n    width: 100%;\n    height: 100%;\n    min-height: 210px;\n    border-radius: 16px;\n    overflow: hidden;\n    font-family: 'Microsoft JhengHei', Arial, sans-serif;\n    background: #111;\n  }  \n\n  .sc-bg {\n    position: absolute;\n    inset: 0;\n    background-size: cover;\n    background-position: center;\n    /* 拿掉預設 scale(1.04)：現在只靠 background-size:cover 填滿容器，不額外裁切 */\n    transform: scale(1);\n    filter: brightness(0.70) saturate(1.05);\n    transition: transform 0.6s ease, filter 0.6s ease;\n  }\n\n  .sc:hover .sc-bg {\n    /* hover 放大幅度縮小，僅做輕微互動感，不明顯增加裁切 */\n    transform: scale(1.02);\n    filter: brightness(0.76) saturate(1.1);\n  }\n\n  .sc-overlay {\n    position: absolute;\n    inset: 0;\n    background: linear-gradient(to bottom,\n        rgba(0, 0, 0, 0.18) 0%,\n        rgba(0, 0, 0, 0.06) 40%,\n        rgba(0, 0, 0, 0.62) 100%);\n  }\n\n  .sc-content {\n    position: relative;\n    z-index: 2;\n    width: 100%;\n    height: 100%;\n    color: #fff;\n  }\n\n  .sc-time {\n    position: absolute;\n    top: 12px;\n    right: 12px;\n    font-size: 11px;\n    font-weight: 600;\n    letter-spacing: 0.4px;\n    color: rgba(255, 255, 255, 0.88);\n    background: rgba(0, 0, 0, 0.32);\n    padding: 4px 10px;\n    border-radius: 20px;\n    backdrop-filter: blur(6px);\n    -webkit-backdrop-filter: blur(6px);\n  }\n\n  /* 底部資訊列：貼齊左右下三邊，無 padding 兩側 */\n  .sc-bottom {\n    position: absolute;\n    bottom: 0;\n    left: 0;\n    right: 0;\n    display: flex;\n    align-items: stretch;\n  }\n\n  /* 左側：emoji + 狀態，貼左下角 */\n  .sc-status {\n    flex: 1;\n    display: flex;\n    align-items: center;\n    gap: 8px;\n    background: rgba(0, 0, 0, 0.38);\n    backdrop-filter: blur(12px);\n    -webkit-backdrop-filter: blur(12px);\n    padding: 10px 14px;\n    border-top: 1px solid rgba(255, 255, 255, 0.08);\n    border-right: 1px solid rgba(255, 255, 255, 0.08);\n  }\n\n  .sc-emoji {\n    font-size: 22px;\n    line-height: 1;\n  }\n\n  .sc-status-inner {\n    display: flex;\n    flex-direction: column;\n  }\n\n  .sc-label {\n    font-size: 10px;\n    font-weight: 600;\n    color: rgba(255, 255, 255, 0.55);\n    letter-spacing: 0.5px;\n    margin-bottom: 1px;\n  }\n\n  .sc-text {\n    font-size: 14px;\n    font-weight: 700;\n    color: #fff;\n    line-height: 1.1;\n  }\n\n  /* 右側：活動力，貼右下角 */\n  .sc-activity {\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    justify-content: center;\n    background: rgba(0, 0, 0, 0.38);\n    backdrop-filter: blur(12px);\n    -webkit-backdrop-filter: blur(12px);\n    padding: 10px 18px;\n    border-top: 1px solid rgba(255, 255, 255, 0.08);\n    min-width: 72px;\n  }\n\n  .sc-activity-val {\n    font-size: 20px;\n    font-weight: 800;\n    color: #fff;\n    line-height: 1;\n  }\n\n  .sc-activity-lbl {\n    font-size: 10px;\n    font-weight: 600;\n    color: rgba(255, 255, 255, 0.55);\n    letter-spacing: 0.5px;\n    margin-top: 2px;\n  }\n</style>\n\n<div class=\"sc\">\n\n  <div class=\"sc-bg\"\n    ng-style=\"{'background-image': 'url(' + (msg.payload.image_url || '/cat.gif') + ')'}\">\n  </div>\n\n  <div class=\"sc-overlay\"></div>\n\n  <div class=\"sc-content\">\n\n    <div class=\"sc-time\">\n      ⏰ {{msg.payload.current.timestamp}}\n    </div>\n\n    <div class=\"sc-bottom\">\n\n      <div class=\"sc-status\">\n        <div class=\"sc-emoji\">{{msg.payload.current.emoji}}</div>\n        <div class=\"sc-status-inner\">\n          <span class=\"sc-label\">目前狀態</span>\n          <span class=\"sc-text\">{{msg.payload.current.text}}</span>\n        </div>\n      </div>\n\n      <div class=\"sc-activity\">\n        <span class=\"sc-activity-val\">{{msg.payload.activity_score || 0}}%</span>\n        <span class=\"sc-activity-lbl\">活動力</span>\n      </div>\n\n    </div>\n\n  </div>\n\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "55d9f8569c938732",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "group_timeline_cat",
        "name": "行為時間紀錄",
        "order": 2,
        "width": "6",
        "height": "10",
        "format": "<link href=\"https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Noto+Sans+TC:wght@300;400;500&display=swap\" rel=\"stylesheet\">\n\n<style>\n.paw-wrap {\n  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;\n  padding: 12px;\n}\n\n/* ── Header ── */\n.paw-header {\n  display: flex; align-items: center; justify-content: space-between;\n  padding: 14px 16px;\n  background: #fff;\n  border-radius: 14px 14px 0 0;\n  border: 1px solid #EDE8DF; border-bottom: none;\n}\n.paw-header-left { display: flex; align-items: center; gap: 10px; }\n.paw-avatar {\n  width: 38px; height: 38px; border-radius: 50%;\n  background: #FAEEDA; display: flex; align-items: center;\n  justify-content: center; font-size: 20px; flex-shrink: 0;\n}\n.paw-title {\n  font-size: 15px; font-weight: 500; color: #2C2C2A; margin: 0; line-height: 1.2;\n  font-family: 'Noto Sans TC', sans-serif;\n  letter-spacing: 0.03em;\n}\n.paw-subtitle {\n  font-size: 10px; color: #B0ADA8; margin: 2px 0 0;\n  font-weight: 300; letter-spacing: 0.1em; text-transform: uppercase;\n  font-family: 'Nunito', sans-serif;\n}\n.paw-badge {\n  font-size: 11px; font-weight: 600; padding: 4px 11px;\n  border-radius: 20px; background: #FAEEDA; color: #633806;\n  letter-spacing: 0.02em; font-family: 'Nunito', sans-serif;\n}\n\n/* ── Scroll body ── */\n.paw-body {\n  background: #fff; border: 1px solid #EDE8DF; border-top: none;\n  border-radius: 0 0 14px 14px; max-height: 480px; overflow-y: auto; padding: 6px 0 10px;\n}\n.paw-body::-webkit-scrollbar { width: 4px; }\n.paw-body::-webkit-scrollbar-track { background: transparent; }\n.paw-body::-webkit-scrollbar-thumb { background: #FAC775; border-radius: 4px; }\n\n/* ── Timeline items ── */\n.tl-item {\n  display: flex; align-items: flex-start;\n  padding: 9px 18px; gap: 12px;\n  transition: background 0.12s;\n}\n.tl-item:hover { background: #FAFAF8; }\n.tl-spine { display: flex; flex-direction: column; align-items: center; min-width: 34px; }\n.tl-dot {\n  width: 34px; height: 34px; border-radius: 50%;\n  display: flex; align-items: center; justify-content: center;\n  font-size: 16px; flex-shrink: 0;\n}\n.tl-line {\n  width: 2px; flex: 1; min-height: 16px;\n  border-radius: 1px; margin-top: 4px; opacity: 0.35;\n}\n.tl-item:last-child .tl-line { visibility: hidden; }\n\n.tl-content { flex: 1; padding-bottom: 2px; padding-top: 2px; }\n\n/* 秒數為主：放大、加粗、放在最上方 */\n.tl-dur-main {\n  display: flex; align-items: baseline; gap: 6px;\n  margin: 0 0 4px;\n}\n.tl-dur-num {\n  font-size: 22px; font-weight: 800;\n  font-family: 'Nunito', sans-serif;\n  font-variant-numeric: tabular-nums;\n  letter-spacing: -0.02em;\n  line-height: 1;\n}\n.tl-dur-unit {\n  font-size: 12px; font-weight: 600;\n  font-family: 'Nunito', sans-serif;\n  opacity: 0.7;\n}\n.tl-dur-none {\n  font-size: 13px; font-weight: 500; color: #B0ADA8;\n  font-family: 'Noto Sans TC', sans-serif;\n}\n\n/* 行為名稱／次序：退為輔助小標籤 */\n.tl-meta { display: flex; align-items: center; gap: 7px; flex-wrap: wrap; }\n.tl-name-badge {\n  font-size: 11px; font-weight: 600; padding: 2px 9px; border-radius: 10px;\n  font-family: 'Noto Sans TC', sans-serif; letter-spacing: 0.02em;\n}\n.tl-time {\n  font-size: 11px; color: #B0ADA8;\n  display: flex; align-items: center; gap: 3px;\n  font-family: 'Nunito', sans-serif; font-weight: 400;\n  font-variant-numeric: tabular-nums;\n}\n.tl-time svg {\n  width: 12px; height: 12px; stroke: #C8C5C0; fill: none;\n  stroke-width: 2; stroke-linecap: round; flex-shrink: 0;\n}\n\n/* ── 行為色系（沿用原本配色，僅套用位置改變） ── */\n.b-scratch .tl-dot  { background: #FAECE7; }\n.b-scratch .tl-line { background: #F0997B; }\n.b-scratch .tl-dur-num { color: #993C1D; }\n.b-scratch .tl-name-badge { background: #FAECE7; color: #993C1D; }\n\n.b-lick .tl-dot  { background: #FAEEDA; }\n.b-lick .tl-line { background: #FAC775; }\n.b-lick .tl-dur-num { color: #633806; }\n.b-lick .tl-name-badge { background: #FAEEDA; color: #633806; }\n\n.b-walk .tl-dot  { background: #EAF3DE; }\n.b-walk .tl-line { background: #97C459; }\n.b-walk .tl-dur-num { color: #3B6D11; }\n.b-walk .tl-name-badge { background: #EAF3DE; color: #3B6D11; }\n\n.b-shake .tl-dot  { background: #E6F1FB; }\n.b-shake .tl-line { background: #85B7EB; }\n.b-shake .tl-dur-num { color: #185FA5; }\n.b-shake .tl-name-badge { background: #E6F1FB; color: #185FA5; }\n\n.b-stop .tl-dot  { background: #EEEDFE; }\n.b-stop .tl-line { background: #AFA9EC; }\n.b-stop .tl-dur-num { color: #3C3489; }\n.b-stop .tl-name-badge { background: #EEEDFE; color: #3C3489; }\n\n.b-not .tl-dot  { background: #F1EFE8; }\n.b-not .tl-line { background: #B4B2A9; }\n.b-not .tl-dur-num { color: #444441; }\n.b-not .tl-name-badge { background: #F1EFE8; color: #444441; }\n\n/* ── Empty state ── */\n.paw-empty { padding: 48px 20px; text-align: center; }\n.paw-empty-icon { font-size: 38px; opacity: 0.25; }\n.paw-empty-title {\n  font-size: 13px; color: #5F5E5A; margin: 10px 0 3px; font-weight: 500;\n  font-family: 'Noto Sans TC', sans-serif;\n}\n.paw-empty-sub {\n  font-size: 11px; color: #B0ADA8; font-weight: 300; letter-spacing: 0.04em;\n}\n\n/* ── Live card ── */\n.tl-live {\n  display: flex; flex-direction: column; gap: 8px;\n  padding: 13px 16px;\n  background: #F0FAF3;\n  border-radius: 12px; margin: 10px 14px 6px;\n  border: 1px solid rgba(76,175,80,.2);\n}\n.live-pulse {\n  width: 9px; height: 9px; border-radius: 50%;\n  background: #4CAF50; flex-shrink: 0;\n  animation: live-pulse 1.4s infinite;\n}\n.live-pulse.stale { animation: none; background: #9e9e9e; }\n@keyframes live-pulse {\n  0%  { box-shadow: 0 0 0 0   rgba(76,175,80,.7); }\n  70% { box-shadow: 0 0 0 7px rgba(76,175,80, 0); }\n  100%{ box-shadow: 0 0 0 0   rgba(76,175,80, 0); }\n}\n.live-top   { display: flex; align-items: center; justify-content: space-between; }\n.live-left  { display: flex; align-items: center; gap: 8px; }\n.live-bottom { display: flex; align-items: center; justify-content: space-between; padding-top: 4px; }\n.live-emoji { font-size: 19px; flex-shrink: 0; }\n.live-name  {\n  font-size: 14px; font-weight: 500; color: #2C2C2A;\n  font-family: 'Noto Sans TC', sans-serif;\n}\n.live-sub   {\n  font-size: 10px; color: #888780; font-weight: 300;\n  letter-spacing: 0.04em; font-family: 'Nunito', sans-serif;\n}\n.live-timer {\n  font-size: 20px; font-weight: 800; color: #2E7D32;\n  font-variant-numeric: tabular-nums;\n  font-family: 'Nunito', sans-serif; letter-spacing: -0.02em;\n}\n.live-badge {\n  font-size: 10px; font-weight: 700; padding: 3px 9px;\n  border-radius: 20px; background: rgba(211,47,47,.08); color: #C62828;\n  border: 1px solid rgba(211,47,47,.25); white-space: nowrap;\n  font-family: 'Nunito', sans-serif;\n  animation: badge-blink 1.8s ease-in-out infinite;\n}\n.live-badge.stale { animation: none; background: rgba(158,158,158,.15); color: #757575; border-color: rgba(158,158,158,.3); }\n@keyframes badge-blink {\n  0%, 100% { opacity: 1; }\n  50%       { opacity: 0.15; }\n}\n\n/* ── 風險徽章 ── */\n.risk-badge {\n  font-size: 10px; font-weight: 600; padding: 2px 7px; border-radius: 10px;\n  font-family: 'Nunito', sans-serif;\n}\n.risk-normal  { background: #EAF3DE; color: #3B6D11; }\n.risk-notable { background: #FFF3E0; color: #E65100; }\n.risk-high    { background: #FFEBEE; color: #B71C1C; }\n\n/* ── Divider ── */\n.tl-divider {\n  font-size: 9px; color: #C8C5C0; padding: 10px 18px 4px;\n  font-weight: 500; letter-spacing: 0.18em; text-transform: uppercase;\n  font-family: 'Nunito', sans-serif;\n}\n</style>\n\n<div class=\"paw-wrap\" ng-init=\"init()\">\n\n  <div class=\"paw-header\">\n    <div class=\"paw-header-left\">\n      <div class=\"paw-avatar\">🐾</div>\n      <div>\n        <p class=\"paw-title\">行為時間軸</p>\n        <p class=\"paw-subtitle\">即時追蹤紀錄</p>\n      </div>\n    </div>\n    <span class=\"paw-badge\">最近 20 筆</span>\n  </div>\n\n  <div class=\"paw-body\">\n\n    <!-- 進行中 card -->\n    <div ng-if=\"msg.payload && msg.payload.current && msg.payload.current.behavior !== 'not'\"\n         class=\"tl-live\">\n      <div class=\"live-top\">\n        <div class=\"live-left\">\n          <div class=\"live-pulse\" ng-class=\"{stale: isStale}\"></div>\n          <div class=\"live-emoji\">{{bEmoji(msg.payload.current.behavior)}}</div>\n          <div class=\"live-name\">{{bName(msg.payload.current.behavior)}}</div>\n        </div>\n        <span class=\"live-badge\" ng-class=\"{stale: isStale}\">{{isStale ? '⏸ 已停止' : '進行中'}}</span>\n      </div>\n      <div class=\"live-bottom\">\n        <span class=\"live-sub\">自 {{msg.payload.current.timestamp}} 開始</span>\n        <div class=\"live-timer\">{{liveStr}}</div>\n      </div>\n    </div>\n\n    <!-- 分隔 -->\n    <div class=\"tl-divider\"\n         ng-if=\"msg.payload && msg.payload.behavior_log && msg.payload.behavior_log.length > 0\">\n      歷史紀錄\n    </div>\n\n    <!-- 無資料 -->\n    <div ng-if=\"!msg.payload || !msg.payload.behavior_log || msg.payload.behavior_log.length === 0\"\n         class=\"paw-empty\">\n      <div class=\"paw-empty-icon\">🐱</div>\n      <p class=\"paw-empty-title\">暫無行為記錄</p>\n      <p class=\"paw-empty-sub\">等待貓咪活動...</p>\n    </div>\n\n    <!-- Timeline -->\n    <div ng-if=\"msg.payload && msg.payload.behavior_log && msg.payload.behavior_log.length > 0\">\n      <div ng-repeat=\"item in msg.payload.behavior_log.slice().reverse().slice(0,20) track by $index\"\n           class=\"tl-item\"\n           ng-class=\"'b-' + item.behavior\">\n\n        <div class=\"tl-spine\">\n          <div class=\"tl-dot\">{{bEmoji(item.behavior)}}</div>\n          <div class=\"tl-line\"></div>\n        </div>\n\n        <div class=\"tl-content\">\n\n          <!-- 秒數為主：放大顯示 -->\n          <div class=\"tl-dur-main\" ng-if=\"item.duration > 0\">\n            <span class=\"tl-dur-num\">{{item.duration}}</span>\n            <span class=\"tl-dur-unit\">秒</span>\n            <span class=\"risk-badge\"\n                  ng-class=\"'risk-' + riskLevel(item.behavior, item.duration)\">{{riskLabel(item.behavior, item.duration)}}</span>\n          </div>\n          <div class=\"tl-dur-main\" ng-if=\"!(item.duration > 0)\">\n            <span class=\"tl-dur-none\">— 無持續時間 —</span>\n          </div>\n\n          <!-- 行為名稱／時間：輔助資訊 -->\n          <div class=\"tl-meta\">\n            <span class=\"tl-name-badge\">{{bName(item.behavior)}}</span>\n            <span class=\"tl-time\">\n              <svg viewBox=\"0 0 24 24\" aria-hidden=\"true\">\n                <circle cx=\"12\" cy=\"12\" r=\"10\"/>\n                <polyline points=\"12 6 12 12 16 14\"/>\n              </svg>\n              {{item.time || '--:--'}}\n            </span>\n          </div>\n\n        </div>\n\n      </div>\n    </div>\n\n  </div>\n</div>\n\n<script>\n(function(scope) {\n  var _timer = null;\n  var _lastMsgAt = 0;\n  var STALE_MS = 8000;  // 超過此間隔沒收到新資料，視為後端已停止推送（影片播完/系統停止），不再讓們時器繼續假裝在跟蹤\n\n  scope.bEmoji = function(b) {\n    return {scratch:'🐱',lick:'😸',walk:'🐈',shake:'😼',stop:'😴',not:'🙈'}[b] || '🐾';\n  };\n  scope.bName = function(b) {\n    return {scratch:'搔抓',lick:'舔舐',walk:'行走',shake:'甩頭',stop:'靜止',not:'不在畫面'}[b] || b;\n  };\n\n  function fmtElapsed(sec) {\n    if (sec < 60) return sec + ' 秒';\n    var m = Math.floor(sec / 60), s = sec % 60;\n    if (m < 60) return m + '分' + (s ? s + '秒' : '');\n    var h = Math.floor(m / 60); m = m % 60;\n    return h + '時' + (m ? m + '分' : '');\n  }\n\n  function restartTimer() {\n    if (_timer) { clearInterval(_timer); _timer = null; }\n    _lastMsgAt = Date.now();\n    scope.isStale = false;\n    var startMs = scope.msg && scope.msg.payload && scope.msg.payload.current\n                  ? scope.msg.payload.current.start_epoch_ms : null;\n    if (!startMs) { scope.liveStr = '--'; return; }\n    function tick() {\n      if (Date.now() - _lastMsgAt > STALE_MS) {\n        if (!scope.isStale) { scope.isStale = true; scope.$applyAsync(); }\n        if (_timer) { clearInterval(_timer); _timer = null; }\n        return;\n      }\n      var sec = Math.max(0, Math.floor((Date.now() - startMs) / 1000));\n      var s = fmtElapsed(sec);\n      if (scope.liveStr !== s) { scope.liveStr = s; scope.$applyAsync(); }\n    }\n    tick();\n    _timer = setInterval(tick, 1000);\n  }\n\n  scope.init    = function() { scope.liveStr = '--'; scope.isStale = false; restartTimer(); };\n  scope.$watch('msg', function(n, o) { if (n !== o) restartTimer(); });\n\n  scope.riskLevel = function(b, dur) {\n    if (b === 'shake')   { return dur > 3 ? 'high' : 'notable'; }\n    if (b === 'scratch') { if (dur > 20) return 'high'; if (dur > 10) return 'notable'; }\n    var avg = scope.msg && scope.msg.payload && scope.msg.payload.avg_duration\n              ? (scope.msg.payload.avg_duration[b] || 0) : 0;\n    if (avg > 0) { var r = dur / avg; if (r > 4) return 'high'; if (r > 2.5) return 'notable'; }\n    return 'normal';\n  };\n\n  scope.riskLabel = function(b, dur) {\n    return {high:'⚠ 偏高', notable:'△ 偏長', normal:'正常'}[scope.riskLevel(b, dur)];\n  };\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2f5945e8301fa8d6",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "group_stats_cat",
        "name": "詳細統計",
        "order": 3,
        "width": "6",
        "height": "10",
        "format": "<link href=\"https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&family=Noto+Sans+TC:wght@300;400;500&display=swap\" rel=\"stylesheet\">\n\n<style>\n.cs-wrap {\n  padding: 1rem 0.5rem;\n  font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;\n  font-weight: 400;\n}\n\n.cs-eyebrow {\n  font-size: 10px;\n  font-weight: 500;\n  color: #bbb;\n  letter-spacing: 0.18em;\n  text-transform: uppercase;\n  margin: 0 0 4px;\n  font-family: 'Nunito', sans-serif;\n}\n\n.cs-date-row {\n  display: flex;\n  align-items: baseline;\n  justify-content: space-between;\n  gap: 10px;\n  margin: 0 0 1.25rem;\n}\n\n.cs-date {\n  font-size: 19px;\n  font-weight: 300;\n  color: #1a1a2e;\n  margin: 0;\n  letter-spacing: 0.03em;\n}\n\n.cs-date strong {\n  font-weight: 500;\n}\n\n.cs-time-range {\n  font-size: 13px;\n  font-weight: 400;\n  color: #999;\n  font-variant-numeric: tabular-nums;\n  font-family: 'Nunito', sans-serif;\n  letter-spacing: 0.01em;\n  white-space: nowrap;\n  margin: 0;\n}\n\n.cs-summary {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  gap: 10px;\n  margin-bottom: 1.25rem;\n}\n\n.cs-meta {\n  background: #f4f5f7;\n  border-radius: 10px;\n  padding: 13px 15px;\n  min-width: 0;\n}\n\n/* 總計數值：時/分/秒字串較長，字級收斂並允許換行避免爆版 */\n.cs-meta-val {\n  font-size: 18px;\n  font-weight: 700;\n  color: #1a1a2e;\n  font-variant-numeric: tabular-nums;\n  margin: 0 0 1px;\n  font-family: 'Nunito', sans-serif;\n  letter-spacing: -0.01em;\n  line-height: 1.25;\n  word-break: keep-all;\n}\n\n.cs-meta-val.cs-meta-count {\n  font-size: 24px;\n  letter-spacing: -0.02em;\n  line-height: 1.1;\n}\n\n.cs-meta-unit {\n  font-size: 13px;\n  font-weight: 400;\n  font-family: 'Noto Sans TC', sans-serif;\n  letter-spacing: 0;\n  opacity: 0.6;\n}\n\n.cs-meta-lbl {\n  font-size: 11px;\n  color: #888;\n  margin: 0;\n  font-weight: 300;\n  letter-spacing: 0.04em;\n}\n\n.cs-section-label {\n  font-size: 10px;\n  font-weight: 500;\n  color: #bbb;\n  letter-spacing: 0.15em;\n  text-transform: uppercase;\n  margin: 0 0 9px;\n  font-family: 'Nunito', sans-serif;\n}\n\n.cs-grid {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  gap: 9px;\n  margin-bottom: 9px;\n}\n\n.cs-card {\n  border-radius: 12px;\n  padding: 14px 14px 12px;\n}\n\n.cs-card.walk    { background: #EAF3DE; }\n.cs-card.lick    { background: #FAEEDA; }\n.cs-card.scratch { background: #FCEBEB; }\n.cs-card.shake   { background: #E6F1FB; }\n.cs-card.stop    { background: #EEEDFE; }\n\n.cs-card-icon {\n  font-size: 18px;\n  margin-bottom: 7px;\n  display: block;\n}\n\n.cs-card-name {\n  font-size: 11px;\n  font-weight: 300;\n  margin: 0 0 4px;\n  letter-spacing: 0.08em;\n}\n\n.cs-card.walk    .cs-card-name { color: #3B6D11; }\n.cs-card.lick    .cs-card-name { color: #854F0B; }\n.cs-card.scratch .cs-card-name { color: #791F1F; }\n.cs-card.shake   .cs-card-name { color: #0C447C; }\n.cs-card.stop    .cs-card-name { color: #3C3489; }\n\n/* 時間為主：放大、加粗，取代原本次數的視覺位置 */\n.cs-card-time-main {\n  font-size: 19px;\n  font-weight: 700;\n  font-variant-numeric: tabular-nums;\n  margin: 0 0 5px;\n  letter-spacing: -0.01em;\n  font-family: 'Nunito', sans-serif;\n  line-height: 1.15;\n  word-break: keep-all;\n}\n\n.cs-card.walk    .cs-card-time-main { color: #27500A; }\n.cs-card.lick    .cs-card-time-main { color: #633806; }\n.cs-card.scratch .cs-card-time-main { color: #501313; }\n.cs-card.shake   .cs-card-time-main { color: #042C53; }\n.cs-card.stop    .cs-card-time-main { color: #26215C; }\n\n/* 次數為輔：縮小成小徽章 */\n.cs-card-count-badge {\n  display: inline-block;\n  font-size: 11px;\n  font-weight: 600;\n  padding: 2px 8px;\n  border-radius: 8px;\n  margin: 0 0 9px;\n  font-family: 'Nunito', sans-serif;\n  font-variant-numeric: tabular-nums;\n  letter-spacing: 0.02em;\n}\n\n.cs-card.walk    .cs-card-count-badge { background: #C0DD97; color: #27500A; }\n.cs-card.lick    .cs-card-count-badge { background: #FAC775; color: #633806; }\n.cs-card.scratch .cs-card-count-badge { background: #F7C1C1; color: #501313; }\n.cs-card.shake   .cs-card-count-badge { background: #B5D4F4; color: #042C53; }\n.cs-card.stop    .cs-card-count-badge { background: #CECBF6; color: #26215C; }\n\n.cs-bar {\n  height: 3px;\n  border-radius: 2px;\n  overflow: hidden;\n}\n\n.cs-card.walk    .cs-bar { background: #C0DD97; }\n.cs-card.lick    .cs-bar { background: #FAC775; }\n.cs-card.scratch .cs-bar { background: #F7C1C1; }\n.cs-card.shake   .cs-bar { background: #B5D4F4; }\n.cs-card.stop    .cs-bar { background: #CECBF6; }\n\n.cs-bar-fill {\n  height: 100%;\n  border-radius: 2px;\n  transition: width 0.6s ease;\n}\n\n.cs-card.walk    .cs-bar-fill { background: #639922; }\n.cs-card.lick    .cs-bar-fill { background: #BA7517; }\n.cs-card.scratch .cs-bar-fill { background: #A32D2D; }\n.cs-card.shake   .cs-bar-fill { background: #185FA5; }\n.cs-card.stop    .cs-bar-fill { background: #534AB7; }\n\n.cs-time-grid {\n  display: grid;\n  grid-template-columns: 1fr 1fr;\n  gap: 9px;\n  margin-bottom: 1rem;\n}\n\n.cs-time-card {\n  border-radius: 12px;\n  padding: 13px 14px;\n  display: flex;\n  align-items: center;\n  gap: 11px;\n}\n\n.cs-time-card.active { background: #EAF3DE; }\n.cs-time-card.lowconf { background: #ECEFF1; }\n\n.cs-time-icon {\n  width: 34px;\n  height: 34px;\n  border-radius: 50%;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  flex-shrink: 0;\n  font-size: 16px;\n}\n\n.cs-time-card.active .cs-time-icon { background: #C0DD97; }\n.cs-time-card.lowconf .cs-time-icon { background: #CFD8DC; }\n\n.cs-time-lbl {\n  font-size: 11px;\n  margin: 0 0 2px;\n  font-weight: 300;\n  letter-spacing: 0.06em;\n}\n\n.cs-time-card.active .cs-time-lbl { color: #3B6D11; }\n.cs-time-card.lowconf .cs-time-lbl { color: #455A64; }\n\n.cs-time-val {\n  font-size: 17px;\n  font-weight: 600;\n  margin: 0;\n  font-variant-numeric: tabular-nums;\n  font-family: 'Nunito', sans-serif;\n  letter-spacing: -0.02em;\n}\n\n.cs-time-card.active .cs-time-val { color: #27500A; }\n.cs-time-card.lowconf .cs-time-val { color: #37474F; }\n</style>\n\n<div class=\"cs-wrap\" ng-if=\"msg.payload.today_stats\">\n\n  <p class=\"cs-eyebrow\">Daily Report</p>\n  <div class=\"cs-date-row\">\n    <p class=\"cs-date\"><strong>今日監測</strong></p>\n    <p class=\"cs-time-range\" ng-if=\"msg.payload.today_stats.today_start_time\">{{formatClock(msg.payload.today_stats.today_start_time)}}</p>\n  </div>\n\n  <div class=\"cs-summary\">\n    <div class=\"cs-meta\">\n      <p class=\"cs-meta-val\">{{formatTime(getSystemUptime())}}</p>\n      <p class=\"cs-meta-lbl\">總監測時長</p>\n    </div>\n    <div class=\"cs-meta\">\n      <p class=\"cs-meta-val\">{{formatTime(getTotalTime())}}</p>\n      <p class=\"cs-meta-lbl\">貓出現時長</p>\n    </div>\n  </div>\n\n  <p class=\"cs-section-label\">Behavior</p>\n  <div class=\"cs-grid\">\n\n    <div class=\"cs-card walk\">\n      <span class=\"cs-card-icon\">🚶</span>\n      <p class=\"cs-card-name\">行走</p>\n      <p class=\"cs-card-time-main\">{{formatTime(msg.payload.today_stats.walk_time || 0)}}</p>\n      <span class=\"cs-card-count-badge\">{{msg.payload.today_stats.walk || 0}} 次</span>\n      <div class=\"cs-bar\"><div class=\"cs-bar-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.walk_time) + '%'}\"></div></div>\n    </div>\n\n    <div class=\"cs-card lick\">\n      <span class=\"cs-card-icon\">🧼</span>\n      <p class=\"cs-card-name\">舔拭</p>\n      <p class=\"cs-card-time-main\">{{formatTime(msg.payload.today_stats.lick_time || 0)}}</p>\n      <span class=\"cs-card-count-badge\">{{msg.payload.today_stats.lick || 0}} 次</span>\n      <div class=\"cs-bar\"><div class=\"cs-bar-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.lick_time) + '%'}\"></div></div>\n    </div>\n\n    <div class=\"cs-card scratch\">\n      <span class=\"cs-card-icon\">🐾</span>\n      <p class=\"cs-card-name\">搔抓</p>\n      <p class=\"cs-card-time-main\">{{formatTime(msg.payload.today_stats.scratch_time || 0)}}</p>\n      <span class=\"cs-card-count-badge\">{{msg.payload.today_stats.scratch || 0}} 次</span>\n      <div class=\"cs-bar\"><div class=\"cs-bar-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.scratch_time) + '%'}\"></div></div>\n    </div>\n\n    <div class=\"cs-card shake\">\n      <span class=\"cs-card-icon\">🔄</span>\n      <p class=\"cs-card-name\">甩頭</p>\n      <p class=\"cs-card-time-main\">{{formatTime(msg.payload.today_stats.shake_time || 0)}}</p>\n      <span class=\"cs-card-count-badge\">{{msg.payload.today_stats.shake || 0}} 次</span>\n      <div class=\"cs-bar\"><div class=\"cs-bar-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.shake_time) + '%'}\"></div></div>\n    </div>\n\n    <div class=\"cs-card stop\">\n      <span class=\"cs-card-icon\">⏹</span>\n      <p class=\"cs-card-name\">靜止</p>\n      <p class=\"cs-card-time-main\">{{formatTime(msg.payload.today_stats.stop_time || 0)}}</p>\n      <span class=\"cs-card-count-badge\">{{msg.payload.today_stats.stop || 0}} 次</span>\n      <div class=\"cs-bar\"><div class=\"cs-bar-fill\" ng-style=\"{width: getPercentage(msg.payload.today_stats.stop_time) + '%'}\"></div></div>\n    </div>\n\n  </div>\n\n  <p class=\"cs-section-label\" style=\"margin-top:1rem;\">Time</p>\n  <div class=\"cs-time-grid\">\n\n    <div class=\"cs-time-card active\">\n      <div class=\"cs-time-icon\">⚡</div>\n      <div>\n        <p class=\"cs-time-lbl\">活動時間</p>\n        <p class=\"cs-time-val\">{{formatTime(msg.payload.today_stats.active_time || 0)}}</p>\n      </div>\n    </div>\n\n    <div class=\"cs-time-card lowconf\">\n      <div class=\"cs-time-icon\">❓</div>\n      <div>\n        <p class=\"cs-time-lbl\">低信心時間（{{msg.payload.today_stats.low_conf || 0}} 次）</p>\n        <p class=\"cs-time-val\">{{formatTime(msg.payload.today_stats.low_conf_time || 0)}}</p>\n      </div>\n    </div>\n\n  </div>\n</div>\n\n<script>\n(function(scope) {\n  scope.formatTime = function(s) {\n    s = Math.round(s || 0);\n    if (!s) return '0 秒';\n    var h = Math.floor(s/3600), m = Math.floor((s%3600)/60), sec = s%60;\n    if (h > 0) return h + ' 小時 ' + m + ' 分';\n    if (m > 0) return m + ' 分 ' + sec + ' 秒';\n    return sec + ' 秒';\n  };\n  // 計算全部由 Python 端（behavior_tracker.get_today_stats）完成，這裡只讀欄位直接顯示\n  scope.getTotalTime = function() {\n    if (!scope.msg || !scope.msg.payload || !scope.msg.payload.today_stats) return 0;\n    return scope.msg.payload.today_stats.cat_visible_time || 0;\n  };\n  scope.getSystemUptime = function() {\n    if (!scope.msg || !scope.msg.payload || !scope.msg.payload.today_stats) return 0;\n    return scope.msg.payload.today_stats.total_uptime || 0;\n  };\n  scope.getPercentage = function(t) {\n    var total = scope.getTotalTime();\n    if (!total) return 0;\n    return Math.round((t / total) * 100);\n  };\n  // today_start_time/last_update_time 是後端傳來的 Unix 秒數，這裡只負責\n  // 轉成本機時區的 HH:MM 顯示，不做任何時長計算（跟上面 formatTime 是\n  // 兩種不同用途：一個是「時間點」，一個是「時間長度」）。\n  scope.formatClock = function(ts) {\n    if (!ts) return '--:--';\n    var d = new Date(ts * 1000);\n    var hh = ('0' + d.getHours()).slice(-2);\n    var mm = ('0' + d.getMinutes()).slice(-2);\n    return hh + ':' + mm;\n  };\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "9588f1ab76f9fbf4",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "group_alerts_cat",
        "name": "健康警示",
        "order": 4,
        "width": "12",
        "height": "6",
        "format": "<style>\n.hw{font-family:'Microsoft JhengHei',sans-serif;padding:14px;background:#0d1117;border-radius:14px}\n.hw-score-card{border-radius:16px;padding:24px;text-align:center;margin-bottom:16px}\n.hw-score-emoji{font-size:44px;line-height:1;margin-bottom:10px}\n.hw-score-num{font-size:60px;font-weight:900;line-height:1;margin-bottom:4px}\n.hw-score-level{font-size:18px;font-weight:700;letter-spacing:1px}\n.hw-score-sub{font-size:10px;color:rgba(255,255,255,.4);margin-top:8px}\n.hw-comps{display:grid;grid-template-columns:repeat(2,1fr);gap:10px;margin-bottom:16px}\n.hw-comp-card{background:rgba(255,255,255,.05);border:1px solid rgba(255,255,255,.08);border-radius:12px;padding:12px}\n.hw-comp-title{font-size:10px;color:rgba(255,255,255,.45);margin-bottom:6px;font-weight:600}\n.hw-comp-score{font-size:24px;font-weight:800;margin-bottom:6px}\n.hw-comp-bar{height:5px;background:rgba(255,255,255,.08);border-radius:99px;overflow:hidden}\n.hw-comp-fill{height:100%;border-radius:99px;transition:width .6s ease}\n.comp-dist{color:#85B7EB}.comp-freq{color:#F09595}.comp-rhy{color:#EF9F27}.comp-trans{color:#9FE1CB}\n.fill-dist{background:linear-gradient(90deg,#1e88e5,#64b5f6)}\n.fill-freq{background:linear-gradient(90deg,#e53935,#ef9a9a)}\n.fill-rhy{background:linear-gradient(90deg,#f9a825,#ffe082)}\n.fill-trans{background:linear-gradient(90deg,#1d9e75,#5dcaa5)}\n.hw-alerts-title{font-size:12px;font-weight:700;color:rgba(255,255,255,.55);margin-bottom:10px}\n.hw-alert-item{display:flex;align-items:flex-start;gap:8px;padding:9px 12px;background:rgba(255,255,255,.04);border:1px solid rgba(255,255,255,.07);border-radius:10px;margin-bottom:6px}\n.hw-alert-ico{font-size:15px;flex-shrink:0}\n.hw-alert-txt{font-size:12px;color:rgba(255,255,255,.75);line-height:1.5}\n.hw-no-alerts{text-align:center;padding:14px;color:rgba(255,255,255,.3);font-size:12px}\n</style>\n<div class=\"hw\" ng-init=\"init()\">\n  <div class=\"hw-score-card\" ng-style=\"{border:'1px solid '+riskColor(),background:'rgba('+hexRgb(riskColor())+',0.08)'}\">\n    <div class=\"hw-score-emoji\">{{risk().emoji||'⏳'}}</div>\n    <div class=\"hw-score-num\" ng-style=\"{color:riskColor()}\">{{risk().score||0}}</div>\n    <div class=\"hw-score-level\" ng-style=\"{color:riskColor()}\">{{risk().level||'計算中...'}}</div>\n    <div class=\"hw-score-sub\">Behavior Risk Score（0=最佳 · 100=最高風險）</div>\n  </div>\n  <div class=\"hw-comps\">\n    <div class=\"hw-comp-card\">\n      <div class=\"hw-comp-title\">📊 行為占比偏離</div>\n      <div class=\"hw-comp-score comp-dist\">{{comp('distribution')}}</div>\n      <div class=\"hw-comp-bar\"><div class=\"hw-comp-fill fill-dist\" ng-style=\"{width:comp('distribution')+'%'}\"></div></div>\n    </div>\n    <div class=\"hw-comp-card\">\n      <div class=\"hw-comp-title\">📉 頻率偏離{{comp('frequency')>0?'':'(需基線)'}}</div>\n      <div class=\"hw-comp-score comp-freq\">{{comp('frequency')}}</div>\n      <div class=\"hw-comp-bar\"><div class=\"hw-comp-fill\" ng-class=\"comp('frequency')>0?'fill-freq':'fill-na'\" ng-style=\"{width:comp('frequency')+'%'}\"></div></div>\n    </div>\n    <div class=\"hw-comp-card\">\n      <div class=\"hw-comp-title\">🌙 節律偏離</div>\n      <div class=\"hw-comp-score comp-rhy\">{{comp('rhythm')}}</div>\n      <div class=\"hw-comp-bar\"><div class=\"hw-comp-fill fill-rhy\" ng-style=\"{width:comp('rhythm')+'%'}\"></div></div>\n    </div>\n    <div class=\"hw-comp-card\">\n      <div class=\"hw-comp-title\">🔀 轉移偏離</div>\n      <div class=\"hw-comp-score comp-trans\">{{comp('transition')}}</div>\n      <div class=\"hw-comp-bar\"><div class=\"hw-comp-fill fill-trans\" ng-style=\"{width:comp('transition')+'%'}\"></div></div>\n    </div>\n  </div>\n  <div class=\"hw-alerts-title\">⚠️ 異常警示列表</div>\n  <div ng-if=\"risk().alerts&&risk().alerts.length>0\">\n    <div class=\"hw-alert-item\" ng-repeat=\"a in risk().alerts\">\n      <div class=\"hw-alert-ico\">{{alertIco(a.type)}}</div>\n      <div class=\"hw-alert-txt\">{{a.msg}}</div>\n    </div>\n  </div>\n  <div class=\"hw-no-alerts\" ng-if=\"!risk().alerts||risk().alerts.length===0\">✅ 目前無異常警示</div>\n</div>\n<script>\n(function(scope){\n  scope.init = function(){};\n  scope.risk = function(){ return scope.msg&&scope.msg.payload&&scope.msg.payload.risk||{}; };\n  scope.comp = function(k){ var c=scope.risk().components; return c?c[k]||0:0; };\n  scope.riskColor = function(){ return scope.risk().color||'#888888'; };\n  scope.hexRgb = function(hex){ if(!hex||hex.length<7)return '136,136,136'; return parseInt(hex.slice(1,3),16)+','+parseInt(hex.slice(3,5),16)+','+parseInt(hex.slice(5,7),16); };\n  scope.alertIco = function(t){ return {lick:'😸',scratch:'🐾',shake:'🔄',dev:'📊',transition:'🔀',inactivity:'😴'}[t]||'⚠️'; };\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1040,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "67cc5c5987b1cb6b",
        "type": "function",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "name": "事件時間軸引擎",
        "func": "// fs loaded via node libs: {\"var\":\"fs\",\"module\":\"fs\"}\nconst TRACKER_PATH = 'C:\\\\a\\\\tracker_state.json';\n\nlet data = msg.payload;\nif (!data || !data.current) return null;\n\nlet curBeh = data.current.behavior;\nif (!curBeh || curBeh === 'not') return null;\n\n// ── Read tracker_state.json (authoritative daily totals) ──────────\nlet tracker = {};\ntry {\n    tracker = JSON.parse(fs.readFileSync(TRACKER_PATH, 'utf8'));\n} catch(e) {\n    node.warn('tracker_state.json: ' + e.message);\n}\n\n// ── Date helpers ─────────────────────────────────────────────────\nfunction pad(n){ return String(n).padStart(2,'0'); }\nfunction fmtTime(d){\n    return d.getFullYear()+'-'+pad(d.getMonth()+1)+'-'+pad(d.getDate())+\n           ' '+pad(d.getHours())+':'+pad(d.getMinutes())+':'+pad(d.getSeconds());\n}\nlet now      = new Date();\nlet nowMs    = now.getTime();\nlet nowStr   = fmtTime(now);\nlet todayStr = now.getFullYear()+'-'+pad(now.getMonth()+1)+'-'+pad(now.getDate());\nlet isToday  = (tracker.date === todayStr);\n\n// Derive start_time from Python's end_time (HH:MM:SS) and duration (sec)\nfunction deriveStart(endHMS, durSec) {\n    let pts = (endHMS||'00:00:00').split(':').map(Number);\n    let endSec   = (pts[0]||0)*3600 + (pts[1]||0)*60 + (pts[2]||0);\n    let startSec = Math.max(0, endSec - Math.round(durSec));\n    return todayStr+' '+pad(Math.floor(startSec/3600))+':'+\n           pad(Math.floor((startSec%3600)/60))+':'+pad(startSec%60);\n}\n\n// ── Accumulate Python's behavior_log (deduplicate by time+beh+dur) ─\nlet sessionEvents = flow.get('evt_session') || [];\nlet sessionKeys   = new Set(flow.get('evt_keys') || []);\nlet sessionDate   = flow.get('evt_date') || '';\n\nif (sessionDate && sessionDate !== todayStr) {\n    sessionEvents = [];\n    sessionKeys   = new Set();\n}\nflow.set('evt_date', todayStr);\n\nlet inLog   = data.behavior_log || [];\nlet changed = false;\nfor (let i = 0; i < inLog.length; i++) {\n    let rec = inLog[i];\n    if (!rec || !rec.behavior || rec.behavior === 'not' || !rec.time) continue;\n    let dur = Math.max(1, Math.round(rec.duration || 1));\n    let key = rec.time + '|' + rec.behavior + '|' + dur;\n    if (sessionKeys.has(key)) continue;\n    sessionKeys.add(key);\n    let nextId = sessionEvents.length > 0 ? sessionEvents[sessionEvents.length-1].event_id + 1 : 1;\n    sessionEvents.push({\n        event_id:   nextId,\n        behavior:   rec.behavior,\n        end_time:   todayStr + ' ' + rec.time,\n        start_time: deriveStart(rec.time, rec.duration || 0),\n        duration:   dur\n    });\n    changed = true;\n}\nif (changed) {\n    if (sessionEvents.length > 500) {\n        // trim oldest keys too\n        let trimmed = sessionEvents.slice(-500);\n        let keptKeys = new Set(trimmed.map(function(e){\n            return e.end_time.slice(11,19)+'|'+e.behavior+'|'+e.duration;\n        }));\n        sessionKeys = keptKeys;\n        sessionEvents = trimmed;\n    }\n    flow.set('evt_session', sessionEvents);\n    flow.set('evt_keys', Array.from(sessionKeys));\n}\n\n// ── Merge adjacent same-behavior events (Python sends ~2s segments) ─\n// Adjacent = gap ≤ 2s between end_time of one and start_time of the next\nfunction _tsec(dt) {\n    var t = dt.slice(11,19).split(':').map(Number);\n    return t[0]*3600 + t[1]*60 + t[2];\n}\nlet mergedEvents = (function(evts) {\n    if (evts.length < 2) return evts.slice();\n    var res = [{ event_id:evts[0].event_id, behavior:evts[0].behavior,\n                 start_time:evts[0].start_time, end_time:evts[0].end_time,\n                 duration:evts[0].duration }];\n    for (var i = 1; i < evts.length; i++) {\n        var prev = res[res.length-1], cur = evts[i];\n        if (prev.behavior === cur.behavior &&\n            _tsec(cur.start_time) - _tsec(prev.end_time) <= 2) {\n            prev.end_time = cur.end_time;\n            prev.duration = _tsec(cur.end_time) - _tsec(prev.start_time);\n        } else {\n            res.push({ event_id:cur.event_id, behavior:cur.behavior,\n                       start_time:cur.start_time, end_time:cur.end_time,\n                       duration:cur.duration });\n        }\n    }\n    return res;\n})(sessionEvents);\n\n// ── Current event live timer (Node-RED side) ──────────────────────\nlet currentEvt = flow.get('evt_cur') || null;\nif (!currentEvt || currentEvt.behavior !== curBeh) {\n    currentEvt = { behavior: curBeh, start_time: nowStr, start_ms: nowMs };\n}\nif (!currentEvt.start_ms) currentEvt.start_ms = nowMs;\ncurrentEvt.duration_running = Math.max(0, Math.round((nowMs - currentEvt.start_ms) / 1000));\nflow.set('evt_cur', currentEvt);\n\n// ── Per-behavior stats: tracker_state.json for count/total/avg ────\n// IQR / mode / max / min derived from accumulated session events\nlet bCount = (isToday && tracker.behavior_count) ? tracker.behavior_count : {};\nlet bTime  = (isToday && tracker.behavior_time)  ? tracker.behavior_time  : {};\n\n// 優先用 HTTP payload（每 2s 更新），避免等 30s 存檔才反映\nlet _statsMinMax = (data.today_stats) || {};\nlet minDur = _statsMinMax.behavior_min_duration\n             || ((isToday && tracker.behavior_min_duration) ? tracker.behavior_min_duration : {});\nlet maxDur = _statsMinMax.behavior_max_duration\n             || ((isToday && tracker.behavior_max_duration) ? tracker.behavior_max_duration : {});\n\nlet stats = {};\n['walk','lick','scratch','shake','stop'].forEach(function(b) {\n    let count  = Math.round(bCount[b] || 0);\n    let totSec = bTime[b] || 0;\n    if (count === 0) {\n        stats[b] = { count:0, total_duration:0, avg_duration:0,\n                     max_duration:0, min_duration:0,\n                     mode_duration:null, mode_count:0,\n                     outlier_high:null, outlier_low:null };\n        return;\n    }\n    let durs = mergedEvents\n        .filter(function(e){ return e.behavior === b; })\n        .map(function(e){ return e.duration; });\n\n    let outlierHigh = null, outlierLow = null;\n    if (durs.length >= 5) {\n        let sorted = durs.slice().sort(function(a,b){ return a-b; });\n        let n  = sorted.length;\n        let q1 = sorted[Math.floor(n * 0.25)];\n        let q3 = sorted[Math.floor(n * 0.75)];\n        let iqr = q3 - q1;\n        if (iqr > 0) {\n            outlierHigh = Math.round(q3 + 1.5 * iqr);\n            outlierLow  = Math.max(1, Math.round(q1 - 1.5 * iqr));\n        }\n    }\n    let modeKey = null, modeCnt = 0;\n    if (durs.length >= 2) {\n        let buckets = {};\n        durs.forEach(function(d){\n            buckets[d] = (buckets[d]||0) + 1;\n        });\n        Object.keys(buckets).forEach(function(k){\n            if (buckets[k] > modeCnt) { modeCnt = buckets[k]; modeKey = Number(k); }\n        });\n    }\n    stats[b] = {\n        count:         count,\n        total_duration: Math.round(totSec),\n        avg_duration:   Math.round(totSec / count * 10) / 10,\n        max_duration:   maxDur[b] != null ? Math.max(1, Math.round(maxDur[b])) : (durs.length > 0 ? Math.max.apply(null, durs) : 0),\n        min_duration:   minDur[b] != null ? Math.max(1, Math.round(minDur[b])) : (durs.length > 0 ? Math.min.apply(null, durs) : 0),\n        mode_duration:  modeCnt >= 2 ? modeKey : null,\n        mode_count:     modeCnt >= 2 ? modeCnt : 0,\n        outlier_high:   outlierHigh,\n        outlier_low:    outlierLow\n    };\n});\n\n// ── Per-behavior event arrays with outlier flag ───────────────────\nlet byBehavior = {};\n['walk','lick','scratch','shake','stop'].forEach(function(b) {\n    let s = stats[b];\n    byBehavior[b] = mergedEvents\n        .filter(function(e){ return e.behavior === b; })\n        .slice(-20).reverse()\n        .map(function(ev) {\n            let outlier = null;\n            if (s.outlier_high !== null && ev.duration > s.outlier_high) outlier = 'high';\n            else if (s.outlier_low !== null && ev.duration < s.outlier_low) outlier = 'low';\n            return { event_id:ev.event_id, behavior:ev.behavior,\n                     start_time:ev.start_time, end_time:ev.end_time,\n                     duration:ev.duration, outlier:outlier };\n        });\n});\n\nlet todayTotal = Object.values(bCount).reduce(function(a,v){ return a+Math.round(v||0); }, 0);\n\nmsg.payload = {\n    current_event: {\n        behavior:         currentEvt.behavior,\n        start_time:       currentEvt.start_time,\n        duration_running: currentEvt.duration_running,\n        status:           'running'\n    },\n    event_table:       mergedEvents.slice(-20).reverse(),\n    event_by_behavior: byBehavior,\n    event_stats:       stats,\n    total_events:      todayTotal\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 1180,
        "y": 360,
        "wires": [
            [
                "81fb4754a1e9a363"
            ]
        ]
    },
    {
        "id": "81fb4754a1e9a363",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "66d2f5137a604c19",
        "name": "行為事件分析",
        "order": 1,
        "width": "20",
        "height": "10",
        "format": "<link href=\"https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&family=Noto+Sans+TC:wght@300;400;500;700&display=swap\" rel=\"stylesheet\">\n<style>\n  .evt-wrap {\n    font-family: 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;\n    padding: 12px;\n    /* 防呆：不論外層 Node-RED widget 的 Size 設定是否給了明確高度，\n       這裡都保證有一個有邊界的高度，讓內部各自的捲軸能真正生效，\n       避免整張卡片撐爆、變成整頁一起捲動。 */\n    height: 100%;\n    min-height: 480px;\n    max-height: 100vh;\n    box-sizing: border-box;\n    display: flex;\n    flex-direction: column;\n  }\n\n  /* ── Header ── */\n  .evt-header {\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    padding: 14px 18px;\n    background: #fff;\n    border-radius: 14px 14px 0 0;\n    border: 1px solid #EDE8DF;\n    border-bottom: none;\n    flex-shrink: 0;\n  }\n\n  .evt-header-left {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n  }\n\n  .evt-avatar {\n    width: 42px;\n    height: 42px;\n    border-radius: 50%;\n    background: linear-gradient(135deg, #E8F4FD, #D0E8F9);\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 22px;\n    flex-shrink: 0;\n    box-shadow: 0 2px 8px rgba(21, 101, 192, .12);\n  }\n\n  .evt-title {\n    font-size: 16px;\n    font-weight: 700;\n    color: #2C2C2A;\n    margin: 0;\n    line-height: 1.2;\n  }\n\n  .evt-sub {\n    font-size: 11px;\n    color: #888780;\n    margin: 2px 0 0;\n  }\n\n  .evt-cnt-badge {\n    font-size: 13px;\n    font-weight: 700;\n    padding: 5px 14px;\n    border-radius: 20px;\n    background: linear-gradient(135deg, #E8F4FD, #D0E8F9);\n    color: #1565C0;\n    white-space: nowrap;\n    border: 1px solid rgba(21, 101, 192, .15);\n    box-shadow: 0 1px 4px rgba(21, 101, 192, .1);\n  }\n\n  /* ── Body shell ── */\n  .evt-body {\n    background: #fff;\n    border: 1px solid #EDE8DF;\n    border-top: none;\n    border-radius: 0 0 14px 14px;\n    flex: 1;\n    min-height: 0;\n    display: flex;\n    flex-direction: column;\n    overflow: hidden;\n  }\n\n  /* ── 今日健康提醒（一眼看懂） ── */\n  .evt-alert {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    padding: 11px 20px;\n    flex-shrink: 0;\n    font-size: 13px;\n    font-weight: 700;\n    border-bottom: 1px solid #F0EEE8;\n  }\n\n  .evt-alert-icon {\n    font-size: 17px;\n    flex-shrink: 0;\n  }\n\n  .evt-alert.is-warn {\n    background: linear-gradient(135deg, #FFF6EC, #FFEFDD);\n    color: #B25400;\n  }\n\n  .evt-alert.is-warn .evt-alert-icon {\n    color: #E65100;\n  }\n\n  .evt-alert.is-ok {\n    background: linear-gradient(135deg, #F0FAF3, #E6F6EA);\n    color: #2E7D32;\n  }\n\n  .evt-alert-detail {\n    font-weight: 400;\n    opacity: .85;\n    margin-left: 2px;\n  }\n\n  /* ── Live card (full width) ── */\n  .evt-current {\n    display: flex;\n    align-items: center;\n    justify-content: space-between;\n    gap: 16px;\n    padding: 14px 20px;\n    flex-shrink: 0;\n    background: linear-gradient(135deg, #F0FAF3 0%, #E4F5EA 100%);\n    border-bottom: 1px solid rgba(76, 175, 80, .18);\n  }\n\n  .evt-cur-left {\n    display: flex;\n    align-items: center;\n    gap: 12px;\n  }\n\n  .evt-cur-pulse {\n    width: 12px;\n    height: 12px;\n    border-radius: 50%;\n    background: #4CAF50;\n    flex-shrink: 0;\n    box-shadow: 0 0 0 0 rgba(76, 175, 80, .7);\n    animation: evt-pulse 1.4s infinite;\n  }\n\n  .evt-cur-pulse.stale {\n    animation: none;\n    background: #9e9e9e;\n    box-shadow: none;\n  }\n\n  @keyframes evt-pulse {\n    0% {\n      box-shadow: 0 0 0 0 rgba(76, 175, 80, .7);\n    }\n\n    70% {\n      box-shadow: 0 0 0 9px rgba(76, 175, 80, 0);\n    }\n\n    100% {\n      box-shadow: 0 0 0 0 rgba(76, 175, 80, 0);\n    }\n  }\n\n  .evt-cur-emoji {\n    font-size: 26px;\n    line-height: 1;\n  }\n\n  .evt-cur-info {\n    display: flex;\n    flex-direction: column;\n    gap: 2px;\n  }\n\n  .evt-cur-name {\n    font-size: 17px;\n    font-weight: 700;\n    color: #1B5E20;\n  }\n\n  .evt-cur-start {\n    font-size: 11px;\n    color: #388E3C;\n  }\n\n  .evt-cur-right {\n    display: flex;\n    align-items: center;\n    gap: 16px;\n  }\n\n  .evt-cur-badge {\n    font-size: 11px;\n    font-weight: 800;\n    padding: 4px 11px;\n    border-radius: 20px;\n    background: rgba(211, 47, 47, .08);\n    color: #C62828;\n    border: 1px solid rgba(211, 47, 47, .28);\n    animation: evt-blink 1.8s ease-in-out infinite;\n  }\n\n  .evt-cur-badge.stale {\n    animation: none;\n    background: rgba(158, 158, 158, .12);\n    color: #757575;\n    border-color: rgba(158, 158, 158, .3);\n  }\n\n  @keyframes evt-blink {\n\n    0%,\n    100% {\n      opacity: 1\n    }\n\n    50% {\n      opacity: .12\n    }\n  }\n\n  .evt-cur-timer {\n    font-size: 26px;\n    font-weight: 800;\n    color: #2E7D32;\n    font-variant-numeric: tabular-nums;\n    letter-spacing: -0.5px;\n  }\n\n  /* ── Two-column layout（窄螢幕自動改上下堆疊） ── */\n  .evt-cols {\n    display: flex;\n    flex: 1;\n    min-height: 0;\n    overflow: hidden;\n  }\n\n  .evt-left {\n    width: 36%;\n    min-width: 250px;\n    min-height: 0;\n    flex-shrink: 0;\n    border-right: 1px solid #F0EEE8;\n    overflow-y: auto;\n    padding: 14px 14px;\n  }\n\n  .evt-left::-webkit-scrollbar {\n    width: 3px;\n  }\n\n  .evt-left::-webkit-scrollbar-track {\n    background: transparent;\n  }\n\n  .evt-left::-webkit-scrollbar-thumb {\n    background: #EDE8DF;\n    border-radius: 3px;\n  }\n\n  .evt-right {\n    flex: 1;\n    min-width: 280px;\n    min-height: 0;\n    display: flex;\n    flex-direction: column;\n    overflow: hidden;\n  }\n\n  @media (max-width: 640px) {\n    .evt-cols {\n      flex-direction: column;\n      overflow-y: auto;\n    }\n\n    .evt-left {\n      width: 100%;\n      min-width: 0;\n      max-height: none;\n      border-right: none;\n      border-bottom: 1px solid #F0EEE8;\n      overflow-y: visible;\n    }\n\n    .evt-right {\n      min-width: 0;\n    }\n\n    .evt-tbl-wrap {\n      overflow-y: visible;\n    }\n  }\n\n  /* ── Stat cards (left) ── */\n  .stat-section-title {\n    font-size: 10px;\n    font-weight: 700;\n    color: #B0ADA8;\n    letter-spacing: .7px;\n    padding: 0 2px 12px;\n    text-transform: uppercase;\n    font-family: 'Nunito', sans-serif;\n  }\n\n  .beh-card {\n    border-radius: 14px;\n    padding: 14px 16px;\n    margin-bottom: 10px;\n    border: 1px solid transparent;\n    box-shadow: 0 1px 3px rgba(30, 20, 10, .04);\n    transition: transform .15s, box-shadow .15s;\n  }\n\n  .beh-card:hover {\n    transform: translateY(-1px);\n    box-shadow: 0 5px 16px rgba(0, 0, 0, .1);\n  }\n\n  .beh-card-top {\n    display: flex;\n    align-items: flex-start;\n    justify-content: space-between;\n    padding-bottom: 11px;\n    margin-bottom: 11px;\n    border-bottom: 1px dashed rgba(0, 0, 0, .08);\n  }\n\n  .beh-card-id {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n  }\n\n  .beh-icon-badge {\n    width: 36px;\n    height: 36px;\n    border-radius: 50%;\n    flex-shrink: 0;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 18px;\n    line-height: 1;\n    background: rgba(255, 255, 255, .65);\n    box-shadow: 0 1px 4px rgba(0, 0, 0, .06);\n  }\n\n  .beh-label-wrap {\n    display: flex;\n    flex-direction: column;\n    gap: 4px;\n  }\n\n  .beh-name {\n    font-size: 14px;\n    font-weight: 700;\n    line-height: 1;\n    font-family: 'Noto Sans TC', sans-serif;\n    letter-spacing: .02em;\n  }\n\n  .beh-cnt-badge {\n    font-size: 10.5px;\n    font-weight: 700;\n    padding: 2px 8px;\n    border-radius: 10px;\n    display: inline-block;\n    width: fit-content;\n    font-family: 'Nunito', sans-serif;\n    font-variant-numeric: tabular-nums;\n  }\n\n  .beh-avg-wrap {\n    text-align: right;\n    flex-shrink: 0;\n  }\n\n  .beh-avg-val {\n    font-size: 23px;\n    font-weight: 800;\n    line-height: 1;\n    font-family: 'Nunito', sans-serif;\n    font-variant-numeric: tabular-nums;\n    letter-spacing: -.02em;\n  }\n\n  .beh-avg-lbl {\n    font-size: 9.5px;\n    font-weight: 700;\n    opacity: .6;\n    letter-spacing: .4px;\n    margin-top: 3px;\n  }\n\n  .beh-zero .beh-name {\n    color: #C8C6C2 !important;\n  }\n\n  .beh-zero .beh-icon-badge {\n    opacity: .5;\n  }\n\n  .beh-zero .beh-avg-val {\n    color: #C8C6C2 !important;\n    font-size: 13px !important;\n  }\n\n  .beh-zero .beh-card-top {\n    border-bottom-style: solid;\n    border-bottom-color: rgba(0, 0, 0, .05);\n  }\n\n  /* 統計小格線：加上小標籤圖示，掃視更快，不用逐字讀文字 */\n  .beh-stat-grid {\n    display: grid;\n    grid-template-columns: repeat(3, 1fr);\n    gap: 6px;\n    margin-bottom: 9px;\n  }\n\n  .beh-stat-chip {\n    background: rgba(255, 255, 255, .6);\n    border: 1px solid rgba(255, 255, 255, .4);\n    border-radius: 9px;\n    padding: 7px 4px;\n    text-align: center;\n  }\n\n  .beh-stat-chip-lbl {\n    font-size: 9px;\n    opacity: .65;\n    font-weight: 700;\n    margin: 0 0 3px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    gap: 2px;\n  }\n\n  .beh-stat-chip-val {\n    font-size: 12.5px;\n    font-weight: 800;\n    font-family: 'Nunito', sans-serif;\n    font-variant-numeric: tabular-nums;\n  }\n\n  /* 眾數：從搶眼的紫色徽章改成低調說明文字列，避免搶走平均時長的視覺焦點 */\n  .beh-mode-line {\n    font-size: 10.5px;\n    opacity: .68;\n    font-weight: 500;\n    padding-top: 8px;\n    border-top: 1px dashed rgba(0, 0, 0, .08);\n    cursor: help;\n    display: flex;\n    align-items: center;\n    gap: 5px;\n  }\n\n  .beh-mode-line b {\n    font-weight: 800;\n    opacity: 1;\n    font-family: 'Nunito', sans-serif;\n  }\n\n  /* Card themes */\n  .bc-walk {\n    background: #F4FAF0;\n    border-color: #CEEAB0;\n  }\n\n  .bc-walk .beh-name {\n    color: #2E7D32;\n  }\n\n  .bc-walk .beh-avg-val {\n    color: #2E7D32;\n  }\n\n  .bc-walk .beh-cnt-badge {\n    background: #EAF3DE;\n    color: #3B6D11;\n  }\n\n  .bc-walk .beh-mode-line {\n    color: #3B6D11;\n  }\n\n  .bc-lick {\n    background: #FFFBF2;\n    border-color: #FAE0A8;\n  }\n\n  .bc-lick .beh-name {\n    color: #6D4000;\n  }\n\n  .bc-lick .beh-avg-val {\n    color: #6D4000;\n  }\n\n  .bc-lick .beh-cnt-badge {\n    background: #FAEEDA;\n    color: #633806;\n  }\n\n  .bc-lick .beh-mode-line {\n    color: #6D4000;\n  }\n\n  .bc-scratch {\n    background: #FFF6F4;\n    border-color: #F5C4B4;\n  }\n\n  .bc-scratch .beh-name {\n    color: #993C1D;\n  }\n\n  .bc-scratch .beh-avg-val {\n    color: #993C1D;\n  }\n\n  .bc-scratch .beh-cnt-badge {\n    background: #FAECE7;\n    color: #993C1D;\n  }\n\n  .bc-scratch .beh-mode-line {\n    color: #993C1D;\n  }\n\n  .bc-shake {\n    background: #F2F8FE;\n    border-color: #B8D8F5;\n  }\n\n  .bc-shake .beh-name {\n    color: #185FA5;\n  }\n\n  .bc-shake .beh-avg-val {\n    color: #185FA5;\n  }\n\n  .bc-shake .beh-cnt-badge {\n    background: #E6F1FB;\n    color: #185FA5;\n  }\n\n  .bc-shake .beh-mode-line {\n    color: #185FA5;\n  }\n\n  .bc-stop {\n    background: #F5F4FF;\n    border-color: #C5C2EE;\n  }\n\n  .bc-stop .beh-name {\n    color: #3C3489;\n  }\n\n  .bc-stop .beh-avg-val {\n    color: #3C3489;\n  }\n\n  .bc-stop .beh-cnt-badge {\n    background: #EEEDFE;\n    color: #3C3489;\n  }\n\n  .bc-stop .beh-mode-line {\n    color: #3C3489;\n  }\n\n  /* ── Right: filter bar ── */\n  .evt-filter {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    padding: 12px 16px;\n    background: #FAFAF8;\n    border-bottom: 1px solid #EDE8DF;\n    flex-shrink: 0;\n  }\n\n  .filter-label {\n    font-size: 11px;\n    font-weight: 700;\n    color: #888780;\n    white-space: nowrap;\n    flex-shrink: 0;\n  }\n\n  .beh-select {\n    flex: 1;\n    min-width: 0;\n    font-size: 13px;\n    font-weight: 600;\n    color: #2C2C2A;\n    border: 1px solid #D8D4CB;\n    border-radius: 10px;\n    padding: 7px 11px;\n    background: #fff;\n    cursor: pointer;\n    outline: none;\n    font-family: 'Microsoft JhengHei', sans-serif;\n    transition: border-color .15s, box-shadow .15s;\n  }\n\n  .beh-select:focus {\n    border-color: #85B7EB;\n    box-shadow: 0 0 0 3px rgba(133, 183, 235, .15);\n  }\n\n  .filter-count {\n    font-size: 11px;\n    font-weight: 700;\n    padding: 4px 11px;\n    border-radius: 12px;\n    white-space: nowrap;\n    flex-shrink: 0;\n  }\n\n  .fc-all {\n    background: #EDE8DF;\n    color: #5F5E5A;\n  }\n\n  .fc-walk {\n    background: #EAF3DE;\n    color: #3B6D11;\n  }\n\n  .fc-lick {\n    background: #FAEEDA;\n    color: #633806;\n  }\n\n  .fc-scratch {\n    background: #FAECE7;\n    color: #993C1D;\n  }\n\n  .fc-shake {\n    background: #E6F1FB;\n    color: #185FA5;\n  }\n\n  .fc-stop {\n    background: #EEEDFE;\n    color: #3C3489;\n  }\n\n  .evt-divider {\n    font-size: 10px;\n    color: #B0ADA8;\n    padding: 8px 16px 5px;\n    font-weight: 700;\n    letter-spacing: .5px;\n    flex-shrink: 0;\n    display: flex;\n    align-items: center;\n    gap: 8px;\n  }\n\n  .iqr-pill {\n    font-size: 9px;\n    background: #FFF3E0;\n    color: #E65100;\n    padding: 2px 7px;\n    border-radius: 8px;\n    font-weight: 700;\n    border: 1px solid rgba(230, 81, 0, .18);\n    cursor: help;\n  }\n\n  /* ── Event table (right) ── */\n  .evt-tbl-wrap {\n    flex: 1;\n    min-height: 0;\n    overflow-y: auto;\n  }\n\n  .evt-tbl-wrap::-webkit-scrollbar {\n    width: 4px;\n  }\n\n  .evt-tbl-wrap::-webkit-scrollbar-track {\n    background: transparent;\n  }\n\n  .evt-tbl-wrap::-webkit-scrollbar-thumb {\n    background: #85B7EB;\n    border-radius: 4px;\n  }\n\n  .evt-tbl {\n    width: 100%;\n    border-collapse: collapse;\n  }\n\n  .evt-tbl thead th {\n    position: sticky;\n    top: 0;\n    z-index: 1;\n    padding: 9px 12px;\n    font-size: 11px;\n    font-weight: 700;\n    color: #888780;\n    background: #FAFAF8;\n    border-bottom: 2px solid #EDE8DF;\n    white-space: nowrap;\n    text-align: left;\n  }\n\n  .evt-tbl thead th.tc {\n    text-align: center;\n  }\n\n  .evt-tbl td {\n    padding: 10px 12px;\n    border-bottom: 1px solid #F5F4F2;\n    vertical-align: middle;\n  }\n\n  .evt-tbl tr:last-child td {\n    border-bottom: none;\n  }\n\n  .evt-tbl tr:nth-child(even) td {\n    background: #FCFCFB;\n  }\n\n  .evt-tbl tr:hover td {\n    background: #F5F8FC;\n  }\n\n  .evt-id {\n    text-align: center;\n    font-size: 11px;\n    color: #C8C6C2;\n    font-weight: 700;\n    width: 32px;\n  }\n\n  .evt-beh {\n    display: flex;\n    align-items: center;\n    gap: 7px;\n  }\n\n  .evt-circle {\n    width: 26px;\n    height: 26px;\n    border-radius: 50%;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 13px;\n    flex-shrink: 0;\n  }\n\n  .evt-bname {\n    font-size: 13px;\n    font-weight: 700;\n    color: #2C2C2A;\n  }\n\n  .evt-time {\n    font-size: 12px;\n    color: #888780;\n    white-space: nowrap;\n    font-variant-numeric: tabular-nums;\n  }\n\n  .evt-dur-wrap {\n    display: flex;\n    align-items: center;\n    gap: 6px;\n    flex-wrap: wrap;\n  }\n\n  .evt-dur {\n    font-size: 12px;\n    font-weight: 700;\n    padding: 3px 9px;\n    border-radius: 8px;\n    white-space: nowrap;\n  }\n\n  .outlier-badge {\n    font-size: 10px;\n    font-weight: 800;\n    padding: 2px 7px;\n    border-radius: 7px;\n    white-space: nowrap;\n  }\n\n  .outlier-high {\n    background: #FFF3E0;\n    color: #E65100;\n  }\n\n  .outlier-low {\n    background: #E3F2FD;\n    color: #1565C0;\n  }\n\n  .bc-walk .evt-circle {\n    background: #EAF3DE;\n  }\n\n  .bc-walk .evt-dur {\n    background: #EAF3DE;\n    color: #3B6D11;\n  }\n\n  .bc-lick .evt-circle {\n    background: #FAEEDA;\n  }\n\n  .bc-lick .evt-dur {\n    background: #FAEEDA;\n    color: #633806;\n  }\n\n  .bc-scratch .evt-circle {\n    background: #FAECE7;\n  }\n\n  .bc-scratch .evt-dur {\n    background: #FAECE7;\n    color: #993C1D;\n  }\n\n  .bc-shake .evt-circle {\n    background: #E6F1FB;\n  }\n\n  .bc-shake .evt-dur {\n    background: #E6F1FB;\n    color: #185FA5;\n  }\n\n  .bc-stop .evt-circle {\n    background: #EEEDFE;\n  }\n\n  .bc-stop .evt-dur {\n    background: #EEEDFE;\n    color: #3C3489;\n  }\n\n  .row-outlier-high td {\n    background: rgba(255, 152, 0, .05) !important;\n  }\n\n  .row-outlier-low td {\n    background: rgba(33, 150, 243, .05) !important;\n  }\n\n  .evt-empty {\n    flex: 1;\n    display: flex;\n    flex-direction: column;\n    align-items: center;\n    justify-content: center;\n    gap: 10px;\n    color: #888780;\n    padding: 32px;\n  }\n\n  .evt-empty-icon {\n    font-size: 36px;\n    opacity: .28;\n  }\n\n  .evt-empty-text {\n    font-size: 13px;\n  }\n</style>\n\n<div class=\"evt-wrap\" ng-init=\"init()\">\n\n  <div class=\"evt-header\">\n    <div class=\"evt-header-left\">\n      <div class=\"evt-avatar\">📋</div>\n      <div>\n        <p class=\"evt-title\">行為事件分析</p>\n        <p class=\"evt-sub\">統計摘要・異常偵測・原始事件</p>\n      </div>\n    </div>\n    <span class=\"evt-cnt-badge\">共 {{msg.payload.total_events || 0}} 筆紀錄</span>\n  </div>\n\n  <div class=\"evt-body\">\n\n    <!-- ── 今日健康提醒：飼主打開頁面第一眼看到的重點 ── -->\n    <div class=\"evt-alert is-warn\"\n      ng-if=\"msg.payload.total_events > 0 && (getAnomalyCount('high') + getAnomalyCount('low')) > 0\">\n      <span class=\"evt-alert-icon\">⚠️</span>\n      <span>有 {{getAnomalyCount('high') + getAnomalyCount('low')}} 筆行為時長偏離平常範圍，建議留意</span>\n      <span class=\"evt-alert-detail\">\n        （偏長 {{getAnomalyCount('high')}}・偏短 {{getAnomalyCount('low')}}）\n      </span>\n    </div>\n    <div class=\"evt-alert is-ok\"\n      ng-if=\"msg.payload.total_events > 0 && (getAnomalyCount('high') + getAnomalyCount('low')) === 0\">\n      <span class=\"evt-alert-icon\">✅</span>\n      <span>目前所有行為時長都在平常範圍內</span>\n    </div>\n\n    <!-- ── 進行中 Live card (full width) ── -->\n    <div ng-if=\"msg.payload && msg.payload.current_event\" class=\"evt-current\">\n      <div class=\"evt-cur-left\">\n        <div class=\"evt-cur-pulse\" ng-class=\"{stale: isStale}\"></div>\n        <div class=\"evt-cur-emoji\">{{bEmoji(msg.payload.current_event.behavior)}}</div>\n        <div class=\"evt-cur-info\">\n          <div class=\"evt-cur-name\">{{bName(msg.payload.current_event.behavior)}}</div>\n          <div class=\"evt-cur-start\">自 {{msg.payload.current_event.start_time.slice(11,19)}} 開始</div>\n        </div>\n      </div>\n      <div class=\"evt-cur-right\">\n        <span class=\"evt-cur-badge\" ng-class=\"{stale: isStale}\">{{isStale ? '⏸ 已停止' : '進行中'}}</span>\n        <div class=\"evt-cur-timer\">{{liveStr}}</div>\n      </div>\n    </div>\n\n    <!-- ── Two-column content ── -->\n    <div class=\"evt-cols\">\n\n      <!-- Left: behavior stat cards -->\n      <div class=\"evt-left\">\n        <div class=\"stat-section-title\">📊 行為統計摘要</div>\n\n        <div ng-repeat=\"b in getSortedBehaviors()\" class=\"beh-card\"\n          ng-class=\"getStats(b).count > 0 ? 'bc-'+b : 'bc-'+b+' beh-zero'\">\n          <div class=\"beh-card-top\">\n            <div class=\"beh-card-id\">\n              <span class=\"beh-icon-badge\">{{bEmoji(b)}}</span>\n              <div class=\"beh-label-wrap\">\n                <span class=\"beh-name\">{{bName(b)}}</span>\n                <span class=\"beh-cnt-badge\" ng-if=\"getStats(b).count > 0\">今日 {{getStats(b).count}} 次</span>\n              </div>\n            </div>\n            <div class=\"beh-avg-wrap\">\n              <div class=\"beh-avg-val\" ng-if=\"getStats(b).count > 0\">{{fmtAvg(getStats(b).avg_duration)}}</div>\n              <div class=\"beh-avg-val\" ng-if=\"getStats(b).count === 0\" style=\"font-size:13px;color:#C8C6C2\">尚無紀錄</div>\n              <div class=\"beh-avg-lbl\" ng-if=\"getStats(b).count > 0\">平均每次</div>\n            </div>\n          </div>\n\n          <!-- 最長/最短/總計：小格線 + 圖示，不用逐字讀標籤就能辨識 -->\n          <div class=\"beh-stat-grid\" ng-if=\"getStats(b).count > 0\">\n            <div class=\"beh-stat-chip\" ng-if=\"getStats(b).max_duration > 0\">\n              <p class=\"beh-stat-chip-lbl\">⬆ 最長</p>\n              <p class=\"beh-stat-chip-val\">{{fmtDur(getStats(b).max_duration)}}</p>\n            </div>\n            <div class=\"beh-stat-chip\" ng-if=\"getStats(b).max_duration > 0\">\n              <p class=\"beh-stat-chip-lbl\">⬇ 最短</p>\n              <p class=\"beh-stat-chip-val\">{{fmtDur(getStats(b).min_duration)}}</p>\n            </div>\n            <div class=\"beh-stat-chip\">\n              <p class=\"beh-stat-chip-lbl\">Σ 累計</p>\n              <p class=\"beh-stat-chip-val\">{{fmtDur(getStats(b).total_duration)}}</p>\n            </div>\n          </div>\n\n          <div class=\"beh-mode-line\"\n               ng-if=\"getStats(b).count > 0 && getStats(b).mode_duration\"\n               title=\"統計上最常出現的單次時長，可作為這隻貓平常表現的參考基準\">\n            🔁 通常一次約 <b>{{fmtDur(getStats(b).mode_duration)}}</b>（出現 {{getStats(b).mode_count}} 次）\n          </div>\n        </div>\n      </div>\n\n      <!-- Right: filter + event table -->\n      <div class=\"evt-right\">\n\n        <div class=\"evt-filter\">\n          <span class=\"filter-label\">篩選行為</span>\n          <select class=\"beh-select\" ng-model=\"selectedBehavior\">\n            <option value=\"all\">全部行為</option>\n            <option value=\"walk\">🐈 行走</option>\n            <option value=\"lick\">😸 舔舐</option>\n            <option value=\"scratch\">🐱 搔抓</option>\n            <option value=\"shake\">😼 甩頭</option>\n            <option value=\"stop\">😴 靜止</option>\n          </select>\n          <span class=\"filter-count\" ng-class=\"'fc-'+selectedBehavior\">\n            {{selectedBehavior === 'all' ? filteredEvents.length : getStats(selectedBehavior).count}} 筆\n          </span>\n        </div>\n\n        <div class=\"evt-divider\">\n          {{selectedBehavior === 'all' ? '歷史事件（最近 20 筆）' : bName(selectedBehavior) + ' 最近 20 筆'}}\n          <span class=\"iqr-pill\"\n                ng-if=\"selectedBehavior !== 'all' && getStats(selectedBehavior).outlier_high\"\n                title=\"超過此時長會被標記為「偏長」，依統計四分位距計算\">\n            偏長門檻 {{fmtDur(getStats(selectedBehavior).outlier_high)}}\n          </span>\n        </div>\n\n        <div class=\"evt-tbl-wrap\" ng-if=\"filteredEvents.length > 0\">\n          <table class=\"evt-tbl\">\n            <thead>\n              <tr>\n                <th class=\"tc\">#</th>\n                <th ng-if=\"selectedBehavior === 'all'\">行為</th>\n                <th>時段</th>\n                <th>時長</th>\n              </tr>\n            </thead>\n            <tbody>\n              <tr ng-repeat=\"ev in filteredEvents track by ev.event_id\"\n                ng-class=\"['bc-'+ev.behavior, ev.outlier ? 'row-outlier-'+ev.outlier : '']\">\n                <td class=\"evt-id\">{{ev.event_id}}</td>\n                <td ng-if=\"selectedBehavior === 'all'\">\n                  <div class=\"evt-beh\">\n                    <div class=\"evt-circle\">{{bEmoji(ev.behavior)}}</div>\n                    <span class=\"evt-bname\">{{bName(ev.behavior)}}</span>\n                  </div>\n                </td>\n                <td class=\"evt-time\">{{ev.start_time.slice(11,19)}} → {{ev.end_time.slice(11,19)}}</td>\n                <td>\n                  <div class=\"evt-dur-wrap\">\n                    <span class=\"evt-dur\">{{fmtDur(ev.duration)}}</span>\n                    <span class=\"outlier-badge outlier-high\" ng-if=\"ev.outlier === 'high'\">⬆ 偏長</span>\n                    <span class=\"outlier-badge outlier-low\"  ng-if=\"ev.outlier === 'low'\">⬇ 偏短</span>\n                  </div>\n                </td>\n              </tr>\n            </tbody>\n          </table>\n        </div>\n\n        <div ng-if=\"filteredEvents.length === 0\" class=\"evt-empty\">\n          <div class=\"evt-empty-icon\">📋</div>\n          <p class=\"evt-empty-text\">\n            {{selectedBehavior === 'all' ? '等待第一次行為切換...' : '尚無' + bName(selectedBehavior) + '事件'}}\n          </p>\n        </div>\n\n      </div>\n    </div>\n\n  </div>\n</div>\n\n<script>\n  (function(scope) {\n  var _timer = null;\n  var _lastMsgAt = 0;\n  var STALE_MS = 8000;  // 超過此間隔沒收到新資料，視為後端已停止推送（影片播完/系統停止）\n  scope.behaviors = ['walk','lick','scratch','shake','stop'];\n  scope.selectedBehavior = 'all';\n  scope.filteredEvents = [];\n\n  scope.bEmoji = function(b) {\n    return {scratch:'🐱',lick:'😸',walk:'🐈',shake:'😼',stop:'😴'}[b] || '🐾';\n  };\n  scope.bName = function(b) {\n    return {scratch:'搔抓',lick:'舔舐',walk:'行走',shake:'甩頭',stop:'靜止'}[b] || b;\n  };\n  scope.fmtDur = function(sec) {\n    if (!sec && sec !== 0) return '-';\n    sec = Math.round(sec);\n    if (sec < 60) return sec + '秒';\n    var m = Math.floor(sec / 60), s = sec % 60;\n    if (m < 60) return m + '分' + (s ? s + '秒' : '');\n    var h = Math.floor(m / 60); m = m % 60;\n    return h + '時' + (m ? m + '分' : '');\n  };\n  scope.fmtAvg = function(sec) {\n    if (!sec && sec !== 0) return '-';\n    if (sec < 60) return (Math.round(sec * 10) / 10) + '秒';\n    var m = Math.floor(sec / 60), s = Math.round(sec % 60);\n    if (m < 60) return m + '分' + (s ? s + '秒' : '');\n    var h = Math.floor(m / 60); m = m % 60;\n    return h + '時' + (m ? m + '分' : '');\n  };\n  scope.getStats = function(b) {\n    var s = scope.msg && scope.msg.payload && scope.msg.payload.event_stats;\n    return (s && s[b]) ? s[b] : {\n      count:0, total_duration:0, avg_duration:0,\n      max_duration:0, min_duration:0,\n      mode_duration:null, mode_count:0, outlier_high:null\n    };\n  };\n\n  // 依今日發生次數由多到少排序，讓飼主優先看到今天最頻繁的行為；\n  // 完全沒有紀錄的行為自然排到最後。\n  scope.getSortedBehaviors = function() {\n    return scope.behaviors.slice().sort(function(a, b) {\n      return scope.getStats(b).count - scope.getStats(a).count;\n    });\n  };\n\n  // 今日健康提醒使用：統計偏長/偏短事件總數（不受右側篩選影響，全域計算）\n  scope.getAnomalyCount = function(type) {\n    var events = (scope.msg && scope.msg.payload && scope.msg.payload.event_table) || [];\n    var count = 0;\n    for (var i = 0; i < events.length; i++) {\n      if (events[i].outlier === type) count++;\n    }\n    return count;\n  };\n\n  function updateFiltered() {\n    if (!scope.msg || !scope.msg.payload) { scope.filteredEvents = []; return; }\n    if (scope.selectedBehavior === 'all') {\n      scope.filteredEvents = scope.msg.payload.event_table || [];\n    } else {\n      var byB = scope.msg.payload.event_by_behavior;\n      scope.filteredEvents = (byB && byB[scope.selectedBehavior]) ? byB[scope.selectedBehavior] : [];\n    }\n  }\n\n  function restartTimer() {\n    if (_timer) { clearInterval(_timer); _timer = null; }\n    _lastMsgAt = Date.now();\n    scope.isStale = false;\n    var cur = scope.msg && scope.msg.payload && scope.msg.payload.current_event;\n    if (!cur) { scope.liveStr = '--'; return; }\n    var base = cur.duration_running || 0;\n    var baseMs = Date.now();\n    function tick() {\n      if (Date.now() - _lastMsgAt > STALE_MS) {\n        if (!scope.isStale) { scope.isStale = true; scope.$applyAsync(); }\n        if (_timer) { clearInterval(_timer); _timer = null; }\n        return;\n      }\n      var elapsed = base + Math.floor((Date.now() - baseMs) / 1000);\n      var s = scope.fmtDur(Math.max(0, elapsed));\n      if (scope.liveStr !== s) { scope.liveStr = s; scope.$applyAsync(); }\n    }\n    tick();\n    _timer = setInterval(tick, 1000);\n  }\n\n  scope.init = function() {\n    scope.selectedBehavior = 'all';\n    scope.liveStr = '--';\n    scope.isStale = false;\n    updateFiltered();\n    restartTimer();\n  };\n  scope.$watch('selectedBehavior', function() { updateFiltered(); scope.$applyAsync(); });\n  scope.$watch('msg', function(n, o) { if (n !== o) { updateFiltered(); restartTimer(); } });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "15b7af08b9698162",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "",
        "name": "🎨 Dashboard Global Theme",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n:root{\n  --cat-blue:#03a9f4;\n  --cat-green:#4caf50;\n  --cat-orange:#ff9800;\n  --cat-red:#f44336;\n  --cat-purple:#9c27b0;\n  --cat-dark:#0f172a;\n  --cat-event:#673ab7;\n}\n\n/* ==========================\n   Group 標題顏色\n========================== */\n.group-status .nr-dashboard-cardtitle{\n  color:var(--cat-blue) !important;\n}\n\n.group-timeline .nr-dashboard-cardtitle{\n  color:var(--cat-green) !important;\n}\n\n.group-analysis .nr-dashboard-cardtitle{\n  color:var(--cat-orange) !important;\n}\n\n.group-risk .nr-dashboard-cardtitle{\n  color:var(--cat-red) !important;\n}\n\n.group-history .nr-dashboard-cardtitle{\n  color:var(--cat-purple) !important;\n}\n.group-event .nr-dashboard-cardtitle{\ncolor:var(--cat-event) !important;\n}\n\n.group-event md-card{\nborder:1px solid rgba(103,58,183,.20);\n}\n/* ==========================\n   Group 標題共通樣式\n========================== */\n.nr-dashboard-cardtitle{\n  font-size:28px !important;\n  font-weight:700 !important;\n  letter-spacing:1px;\n  padding-bottom:6px;\n}\n\n/* ==========================\n   Group 卡片外觀\n========================== */\nmd-card{\n  border-radius:16px !important;\n  overflow:hidden;\n  box-shadow:\n    0 4px 12px rgba(0,0,0,.12),\n    0 2px 6px rgba(0,0,0,.08);\n}\n\n/* ==========================\n   Scrollbar 美化\n========================== */\n::-webkit-scrollbar{\n  width:8px;\n  height:8px;\n}\n\n::-webkit-scrollbar-track{\n  background:#f1f1f1;\n  border-radius:20px;\n}\n\n::-webkit-scrollbar-thumb{\n  background:#bdbdbd;\n  border-radius:20px;\n}\n\n::-webkit-scrollbar-thumb:hover{\n  background:#9e9e9e;\n}\n\n/* ==========================\n   Group 特效（可自行開啟）\n========================== */\n.group-risk md-card{\n  border:1px solid rgba(244,67,54,.25);\n}\n\n.group-status md-card{\n  border:1px solid rgba(3,169,244,.20);\n}\n\n.group-timeline md-card{\n  border:1px solid rgba(76,175,80,.20);\n}\n\n.group-analysis md-card{\n  border:1px solid rgba(255,152,0,.20);\n}\n\n.group-history md-card{\n  border:1px solid rgba(156,39,176,.20);\n}\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 580,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "fab09f34a509651e",
        "type": "ui_template",
        "z": "c9b3353f6ab69b6b",
        "g": "99d2434b121fa54c",
        "group": "",
        "name": "懸浮影像（全域）",
        "order": 0,
        "width": "",
        "height": "",
        "format": "<div id=\"gfv-nr-anchor\" style=\"display:none;height:0;width:0;overflow:hidden;position:absolute;pointer-events:none;\"></div>\n<script>\n(function(){\n  if(window.__gfvReady) return;\n  window.__gfvReady = true;\n\n  var fr = document.createElement('iframe');\n  fr.id  = 'gfv_host_iframe';\n  fr.setAttribute('allowtransparency','true');\n  fr.style.cssText =\n    'position:fixed!important;top:0!important;left:0!important;'+\n    'width:100vw!important;height:100vh!important;'+\n    'border:none!important;background:transparent!important;'+\n    'z-index:2147483647!important;'+\n    'pointer-events:auto!important;'+\n    'overflow:hidden!important;';\n  document.body.appendChild(fr);\n\n  /* z-index 永遠不動，只切 pointer-events */\n  /* unlocked = pointer-events:none（串流可見，底層可點） */\n  /* locked   = pointer-events:auto（panel 可操作）        */\n  var _unlocked = false;\n\n  function applyState(){\n    if(_unlocked){\n      /* 解鎖：整個 iframe pointer-events:none\n         → 滑鼠事件穿透到底層 Dashboard\n         → panel 內的按鈕也點不到（但串流畫面還在）\n         這是預期行為：要操作 panel 就再按一次鎖回來 */\n      fr.style.setProperty('pointer-events','none','important');\n    } else {\n      fr.style.setProperty('pointer-events','auto','important');\n    }\n    /* 通知 iframe 更新按鈕樣式 */\n    try{ fr.contentWindow.postMessage({type:'gfv-lockstate', unlocked:_unlocked},'*'); }catch(e){}\n  }\n\n  var doc = fr.contentDocument || fr.contentWindow.document;\n  doc.open();\n  doc.write(`<!DOCTYPE html><html><head><meta charset=\"utf-8\"><style>\n*{box-sizing:border-box;margin:0;padding:0;}\nhtml,body{width:100%;height:100%;background:transparent;overflow:hidden;font-family:system-ui,sans-serif;}\n#overlay{position:fixed;inset:0;background:transparent;}\n#pnl{\n  position:fixed;bottom:24px;right:20px;\n  width:240px;height:160px;\n  min-width:160px;min-height:120px;\n  background:#070b0f;\n  border:1px solid rgba(0,255,136,.28);\n  border-radius:14px;overflow:hidden;\n  display:flex;flex-direction:column;\n  box-shadow:0 16px 48px rgba(0,0,0,.9);\n  transition:border-color .25s;\n}\n#pnl.unlocked{border-color:rgba(255,167,38,.55)!important;}\n#bar{\n  height:40px;flex-shrink:0;\n  display:flex;align-items:center;\n  padding:0 4px 0 10px;gap:4px;\n  background:linear-gradient(90deg,rgba(0,16,9,.97),rgba(0,22,12,.97));\n  border-bottom:1px solid rgba(0,255,136,.1);\n  user-select:none;cursor:grab;\n}\n#bar.dragging{cursor:grabbing!important;}\n#dot{width:9px;height:9px;border-radius:50%;background:#444;flex-shrink:0;transition:background .4s,box-shadow .4s;}\n#title{font-size:10px;font-weight:700;color:rgba(0,255,136,.72);letter-spacing:.5px;flex:1;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}\n#btns{display:flex;align-items:center;gap:2px;flex-shrink:0;}\n.ib{\n  width:32px;height:32px;border-radius:7px;\n  display:flex;align-items:center;justify-content:center;\n  cursor:pointer;font-size:14px;\n  border:1px solid rgba(255,255,255,.09);\n  background:rgba(255,255,255,.05);color:rgba(255,255,255,.55);\n  transition:background .15s,color .15s,border-color .15s,transform .1s;\n  user-select:none;-webkit-tap-highlight-color:transparent;flex-shrink:0;\n}\n.ib:hover{background:rgba(255,255,255,.2)!important;color:#fff!important;border-color:rgba(255,255,255,.28)!important;transform:scale(1.08);}\n.ib:active{transform:scale(0.88)!important;}\n.ib.on{background:rgba(0,255,136,.18)!important;color:#00ff88!important;border-color:rgba(0,255,136,.4)!important;}\n#btn-lock.locked{color:#ffa726!important;border-color:rgba(255,167,38,.4)!important;background:rgba(255,167,38,.1)!important;}\n#btn-lock.unlocked-state{color:#81c784!important;border-color:rgba(76,175,80,.4)!important;background:rgba(76,175,80,.1)!important;}\n#drag-icon{font-size:12px;cursor:grab;display:flex;align-items:center;justify-content:center;width:24px;height:32px;color:rgba(255,255,255,.3);flex-shrink:0;}\n#drag-icon:hover{color:rgba(0,255,136,.8);}\n#drag-icon.on{color:#00ff88;}\n#offline{flex:1;display:flex;flex-direction:column;align-items:center;justify-content:center;gap:6px;color:rgba(255,255,255,.22);font-size:10px;}\n#off-ico{font-size:24px;opacity:.28;}\n#sv-img{flex:1;width:100%;min-height:0;display:none;background:#000;object-fit:contain;}\n#rh-e{position:absolute;top:14px;bottom:14px;right:0;width:8px;cursor:e-resize;border-radius:0 14px 14px 0;transition:background .15s;}\n#rh-e:hover,#rh-e.active{background:rgba(0,255,136,.25);}\n#rh-e::after{content:'';position:absolute;top:50%;left:2px;transform:translateY(-50%);width:2px;height:28px;background:rgba(0,255,136,.35);border-radius:2px;opacity:0;transition:opacity .15s;}\n#rh-e:hover::after,#rh-e.active::after{opacity:1;}\n#rh-s{position:absolute;left:14px;right:14px;bottom:0;height:8px;cursor:s-resize;border-radius:0 0 14px 14px;transition:background .15s;}\n#rh-s:hover,#rh-s.active{background:rgba(0,255,136,.25);}\n#rh-s::after{content:'';position:absolute;left:50%;top:2px;transform:translateX(-50%);height:2px;width:28px;background:rgba(0,255,136,.35);border-radius:2px;opacity:0;transition:opacity .15s;}\n#rh-s:hover::after,#rh-s.active::after{opacity:1;}\n</style></head><body>\n<div id=\"overlay\"></div>\n<div id=\"pnl\">\n  <div id=\"bar\">\n    <div id=\"dot\"></div>\n    <span id=\"title\">stream</span>\n    <div id=\"btns\">\n      <div class=\"ib\" id=\"btn-s\" title=\"stream\">&#9654;</div>\n      <div class=\"ib locked\" id=\"btn-lock\" title=\"解鎖：讓底層可操作（串流仍可見）\">&#128274;</div>\n      <div class=\"ib\" id=\"btn-m\" title=\"size\">&#9633;</div>\n    </div>\n    <div id=\"drag-icon\" title=\"drag\">&#10035;</div>\n  </div>\n  <div id=\"offline\"><div id=\"off-ico\">&#128249;</div><div>click &#9654; to stream</div></div>\n  <img id=\"sv-img\" alt=\"\">\n  <div id=\"rh-e\"></div>\n  <div id=\"rh-s\"></div>\n</div>\n<script>\nvar pnl=document.getElementById('pnl');\nvar bar=document.getElementById('bar');\nvar dot=document.getElementById('dot');\nvar offline=document.getElementById('offline');\nvar img=document.getElementById('sv-img');\nvar btnS=document.getElementById('btn-s');\nvar btnM=document.getElementById('btn-m');\nvar btnLock=document.getElementById('btn-lock');\nvar dragIcon=document.getElementById('drag-icon');\nvar overlay=document.getElementById('overlay');\nvar rhE=document.getElementById('rh-e');\nvar rhS=document.getElementById('rh-s');\n\nvar _url='',_on=false,_mini=true;\nvar NW=480,NH=300,MW=240,MH=160;\nvar MIN_W=160,MIN_H=120;\n\n/* overlay 穿透（原版不動） */\noverlay.addEventListener('pointerdown',function(e){\n  if(!pnl.contains(e.target)){\n    parent.postMessage({type:'gfv-passthrough',x:e.clientX,y:e.clientY},'*');\n    e.preventDefault();\n  }\n});\n\n/* 🔒/🔓 按鈕：只送訊號，由父頁面切 pointer-events */\nbtnLock.addEventListener('click',function(e){\n  e.stopPropagation();\n  parent.postMessage({type:'gfv-toggle-lock'},'*');\n});\n\n/* 父頁面回傳目前鎖定狀態 → 更新按鈕樣式 */\nwindow.addEventListener('message',function(e){\n  if(!e.data) return;\n  if(e.data.type==='gfv-url'){\n    _url=e.data.url;\n    dot.style.background='#f5a623';\n    dot.style.boxShadow='0 0 4px rgba(245,166,35,.5)';\n  }\n  if(e.data.type==='gfv-toggle'){\n    var show=pnl.style.display==='none';\n    pnl.style.display=show?'flex':'none';\n    parent.postMessage({type:'gfv-visible',on:show},'*');\n  }\n  if(e.data.type==='gfv-open'){\n    pnl.style.display='flex';\n    parent.postMessage({type:'gfv-visible',on:true},'*');\n  }\n  if(e.data.type==='gfv-lockstate'){\n    if(e.data.unlocked){\n      btnLock.className='ib unlocked-state';\n      btnLock.innerHTML='&#128275;';\n      btnLock.title='已解鎖（點此鎖回，恢復panel操作）';\n      pnl.classList.add('unlocked');\n    } else {\n      btnLock.className='ib locked';\n      btnLock.innerHTML='&#128274;';\n      btnLock.title='解鎖：讓底層可操作（串流仍可見）';\n      pnl.classList.remove('unlocked');\n    }\n  }\n});\n\nfunction streamOn(){\n  if(!_url)return;\n  _on=true;img.style.display='block';offline.style.display='none';\n  img.onload=function(){dot.style.background='#00ff88';dot.style.boxShadow='0 0 5px #00ff88';};\n  img.onerror=function(){streamOff();};\n  img.src=_url+'?t='+Date.now();\n  btnS.innerHTML='&#9646;&#9646;';btnS.classList.add('on');\n}\nfunction streamOff(){\n  _on=false;img.src='';img.style.display='none';offline.style.display='flex';\n  dot.style.background=_url?'#f5a623':'#444';\n  dot.style.boxShadow=_url?'0 0 4px rgba(245,166,35,.5)':'none';\n  btnS.innerHTML='&#9654;';btnS.classList.remove('on');\n}\nbtnS.addEventListener('click',function(e){e.stopPropagation();_on?streamOff():streamOn();});\nbtnM.addEventListener('click',function(e){\n  e.stopPropagation();\n  if(_mini){pnl.style.width=NW+'px';pnl.style.height=NH+'px';_mini=false;btnM.innerHTML='&#8861;';}\n  else{NW=pnl.offsetWidth||NW;NH=pnl.offsetHeight||NH;pnl.style.width=MW+'px';pnl.style.height=MH+'px';_mini=true;btnM.innerHTML='&#9633;';}\n});\n\n/* 拖曳（原版不動） */\nvar da=false,ox=0,oy=0,pid=null;\nfunction isDragTarget(el){return el===dragIcon||dragIcon.contains(el)||el===bar||el===dot||el.id==='title';}\nfunction dragStart(e){\n  if(e.pointerType==='mouse'&&e.button!==0)return;\n  if(e.target===rhE||e.target===rhS)return;\n  if(!isDragTarget(e.target))return;\n  da=true;pid=e.pointerId;\n  var r=pnl.getBoundingClientRect();ox=e.clientX-r.left;oy=e.clientY-r.top;\n  pnl.setPointerCapture(e.pointerId);bar.classList.add('dragging');dragIcon.classList.add('on');\n  e.preventDefault();e.stopPropagation();\n}\nfunction dragMove(e){\n  if(!da||e.pointerId!==pid)return;\n  var x=Math.max(0,Math.min(e.clientX-ox,window.innerWidth-pnl.offsetWidth));\n  var y=Math.max(0,Math.min(e.clientY-oy,window.innerHeight-pnl.offsetHeight));\n  pnl.style.left=x+'px';pnl.style.top=y+'px';pnl.style.right='auto';pnl.style.bottom='auto';\n  e.preventDefault();\n}\nfunction dragEnd(e){\n  if(!da||e.pointerId!==pid)return;\n  da=false;pid=null;pnl.releasePointerCapture(e.pointerId);bar.classList.remove('dragging');dragIcon.classList.remove('on');\n}\npnl.addEventListener('pointerdown',dragStart);pnl.addEventListener('pointermove',dragMove);\npnl.addEventListener('pointerup',dragEnd);pnl.addEventListener('pointercancel',dragEnd);\n\n/* Resize 右（原版不動） */\nvar reW=false,reWpid=null,reWSX=0,reWW0=0;\nrhE.addEventListener('pointerdown',function(e){if(e.pointerType==='mouse'&&e.button!==0)return;e.stopPropagation();e.preventDefault();reW=true;reWpid=e.pointerId;reWSX=e.clientX;reWW0=pnl.offsetWidth;rhE.setPointerCapture(e.pointerId);rhE.classList.add('active');});\nrhE.addEventListener('pointermove',function(e){if(!reW||e.pointerId!==reWpid)return;pnl.style.width=Math.max(MIN_W,Math.min(reWW0+(e.clientX-reWSX),window.innerWidth-pnl.getBoundingClientRect().left))+'px';e.preventDefault();});\nrhE.addEventListener('pointerup',function(e){if(!reW||e.pointerId!==reWpid)return;reW=false;reWpid=null;rhE.releasePointerCapture(e.pointerId);rhE.classList.remove('active');NW=pnl.offsetWidth;_mini=false;btnM.innerHTML='&#8861;';});\nrhE.addEventListener('pointercancel',function(e){reW=false;reWpid=null;rhE.classList.remove('active');});\n\n/* Resize 下（原版不動） */\nvar reH=false,reHpid=null,reHSY=0,reHH0=0;\nrhS.addEventListener('pointerdown',function(e){if(e.pointerType==='mouse'&&e.button!==0)return;e.stopPropagation();e.preventDefault();reH=true;reHpid=e.pointerId;reHSY=e.clientY;reHH0=pnl.offsetHeight;rhS.setPointerCapture(e.pointerId);rhS.classList.add('active');});\nrhS.addEventListener('pointermove',function(e){if(!reH||e.pointerId!==reHpid)return;pnl.style.height=Math.max(MIN_H,Math.min(reHH0+(e.clientY-reHSY),window.innerHeight-pnl.getBoundingClientRect().top))+'px';e.preventDefault();});\nrhS.addEventListener('pointerup',function(e){if(!reH||e.pointerId!==reHpid)return;reH=false;reHpid=null;rhS.releasePointerCapture(e.pointerId);rhS.classList.remove('active');NH=pnl.offsetHeight;_mini=false;btnM.innerHTML='&#8861;';});\nrhS.addEventListener('pointercancel',function(e){reH=false;reHpid=null;rhS.classList.remove('active');});\n<\\/script></body></html>`);\n  doc.close();\n\n  window.gfvSetUrl = function(url){\n    if(!url) return;\n    fr.contentWindow.postMessage({type:'gfv-url', url:url},'*');\n  };\n  window.gfvToggle = function(){\n    fr.contentWindow.postMessage({type:'gfv-toggle'},'*');\n  };\n  window.gfvOpen = function(){\n    fr.contentWindow.postMessage({type:'gfv-open'},'*');\n    fr.style.setProperty('pointer-events','auto','important');\n    _unlocked = false;\n    try{ fr.contentWindow.postMessage({type:'gfv-lockstate',unlocked:false},'*'); }catch(e){}\n  };\n\n  window.addEventListener('message', function(e){\n    if(!e.data) return;\n    /* 🔒/🔓 切換：只動 pointer-events，z-index 永遠不動 */\n    if(e.data.type === 'gfv-toggle-lock'){\n      _unlocked = !_unlocked;\n      applyState();\n    }\n    /* 原版 passthrough（不動） */\n    if(e.data.type === 'gfv-passthrough'){\n      /* 解鎖狀態下 iframe 已是 pointer-events:none，不需要再處理 passthrough */\n      if(_unlocked) return;\n      fr.style.setProperty('pointer-events','none','important');\n      var el = document.elementFromPoint(e.data.x, e.data.y);\n      if(el){\n        el.dispatchEvent(new PointerEvent('pointerdown',{bubbles:true,cancelable:true,clientX:e.data.x,clientY:e.data.y}));\n        el.dispatchEvent(new MouseEvent('click',{bubbles:true,cancelable:true,clientX:e.data.x,clientY:e.data.y}));\n      }\n      setTimeout(function(){ if(!_unlocked) fr.style.setProperty('pointer-events','auto','important'); }, 50);\n    }\n    if(e.data.type === 'gfv-visible'){\n      if(!_unlocked) fr.style.setProperty('pointer-events', e.data.on ? 'auto' : 'none', 'important');\n    }\n  });\n\n})();\n</script>\n",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 1210,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "group_gauge_cat",
        "type": "ui_group",
        "name": "活動力指標",
        "tab": "ui_tab_cat",
        "order": 5,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "group_stream_cat",
        "type": "ui_group",
        "name": "即時影像串流",
        "tab": "ui_tab_cat",
        "order": 6,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": "group-history"
    },
    {
        "id": "group_status_cat",
        "type": "ui_group",
        "name": "即時健康狀態",
        "tab": "ui_tab_cat",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": "group-status"
    },
    {
        "id": "group_timeline_cat",
        "type": "ui_group",
        "name": "行為時間紀錄",
        "tab": "ui_tab_cat",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "group-timeline"
    },
    {
        "id": "group_stats_cat",
        "type": "ui_group",
        "name": "詳細統計分析",
        "tab": "ui_tab_cat",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "group-analysis"
    },
    {
        "id": "group_alerts_cat",
        "type": "ui_group",
        "name": "健康警示系統",
        "tab": "ui_tab_cat",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": "group-risk"
    },
    {
        "id": "66d2f5137a604c19",
        "type": "ui_group",
        "name": "行為事件分析",
        "tab": "ui_tab_cat",
        "order": 7,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": "group-event"
    },
    {
        "id": "ui_tab_cat",
        "type": "ui_tab",
        "name": "😺 貓咪健康監測",
        "icon": "pets",
        "order": 21,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "30642f6c60b4c35c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]